<div class="row">
  <div class="col-4">
    <div class="btn-google" data-url="{{ route('oauth', ['google']) }}">
      <div class="icon">
        <i class="fab fa-google"></i>
      </div>

      <div class="text">
        Google
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="btn-fb" data-url="{{ route('oauth', ['facebook']) }}">
      <div class="icon">
        <i class="fab fa-facebook"></i>
      </div>

      <div class="text">
        Facebook
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="btn-github" data-url="{{ route('oauth', ['github']) }}">
      <div class="icon">
        <i class="fab fa-github"></i>
      </div>

      <div class="text">
        Github
      </div>
    </div>
  </div>
</div>

<div class="row separator">
  <div class="col-12 text-center">
    <hr>

    <span>lub</span>
  </div>
</div>
