<div class="row">
  <div class="col-4">
    <button class="btn-google" data-url="{{ route('oauth', ['google']) }}">
      <span class="icon">
        <i class="fab fa-google"></i>
      </span>

      <span class="text">
        Google
      </span>
    </button>
  </div>

  <div class="col-4">
    <button class="btn-fb" data-url="{{ route('oauth', ['facebook']) }}">
      <span class="icon">
        <i class="fab fa-facebook"></i>
      </span>

      Facebook
    </button>
  </div>

  <div class="col-4">
    <button class="btn-github" data-url="{{ route('oauth', ['github']) }}">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>

      Github
    </button>
  </div>
</div>

<div class="row separator">
  <div class="col-12 text-center">
    <hr>

    <span>lub</span>
  </div>
</div>
