{{ microblog.text|raw }}

{% if microblog.thumbnails|length > 0 %}
    <div class="thumbnails row">
        {% for url, thumbnail in microblog.thumbnails %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ url }}" class="thumbnail" data-toggle="lightbox" data-gallery="gallery-{{ microblog.id }}">
                    <img src="{{ thumbnail }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}