@import "../../helpers/variables";

#adm-menu {
  border-right: 1px solid lighten($card-border-color, 2%);
  width: 222px;

  ul {
    margin-left: 0;
    width: 100%;

    > li {
      transition: all 0.5s;
      display: block;
      font-size: 12px;
      float: none;

      > a {
        display: block;
        padding: 10px 20px;
        transition: all .15s linear;
        color: unset;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 12px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }

        &:focus {
          text-decoration: none;
        }

        .fa-fw {
          margin-right: 3px;
        }
      }

      &.active {
        border-left: 4px solid $primary;

        > a {
          padding-left: 17px;
        }

        ul {
          background-color: #f8f8f8;
        }
      }

      > ul > li > a {
        font-size: 90%;
        padding: 5px 20px 5px 40px;
      }
    }
  }
}

#box-user {
  margin: 20px 17px;
  clear: both;
  border-bottom: 1px solid $card-border-color;
  overflow: hidden;
  padding-bottom: 10px;

  .img-thumbnail {
    width: 45px;
    float: left;
    margin-right: 10px;
  }

  h3 {
    font-size: 15px;
    margin-top: 1px;
  }

  .list-inline {
    font-size: 11px;
    color: $gray-light;

    li {
      padding-left: 0;
    }

    li:after {
      content: '●';
      margin-left: 9px;
    }

    li:first-child {
      padding-left: 1px;
    }

    li:last-child:after {
      content: '';
    }

    a {
      color: inherit;
    }
  }
}
