<div class="row margin-sm-bottom">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a :class="{'active': tab === 'body'}" class="nav-link" href="javascript:" role="tab" @click="tab = 'body'">Treść</a></li>
      <li class="nav-item" ><a :class="{'active': tab === 'preview'}" class="nav-link" href="javascript:" role="tab" @click="showPreview">Podgląd</a></li>
    </ul>

    <div class="tab-content">
      <div :class="{'active': tab === 'body'}" role="tabpanel" class="tab-pane" id="body">

        <vue-toolbar @update="updateModel" :input="() => $refs.textarea"></vue-toolbar>

        <vue-prompt source="{{ route('user.prompt') }}" :errors="errors.text">
          <textarea
            placeholder="Kliknij, aby odpowiedzieć"
            v-autosize
            v-paste:success="insertToTextarea"
            v-paste:error="showError"
            name="text"
            class="form-control"
            ref="textarea"
            v-model="text"
            :class="{'is-invalid': errors.text !== undefined}"
            :min-height="40"
            :max-height="350"
            @keydown.ctrl.enter="sendMessage"
            @keyup="typing"
            @change="onChange"
            rows="2"
            tabindex="1"
          ></textarea>
        </vue-prompt>
      </div>

      <div :class="{'active': tab === 'preview'}" role="tabpanel" class="tab-pane" id="preview" v-html="previewHtml"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <vue-button :disabled="isProcessing" @click.native="sendMessage" class="btn btn-primary btn-sm">Wyślij</vue-button>
  </div>
</div>

<vue-modal v-cloak ref="error">Nie można dodać załącznika. Prosimy o kontakt w celu zgłoszenia tego błędu.</vue-modal>
