<div class="dropdown-menu left dropdown-group">
    {% for name, categories in sections %}
        <div class="dropdown-group-col">
            <h6 class="dropdown-group-title">{{ name }}</h6>

            <ul class="list-unstyled">
                {% for category in categories %}
                    <li>
                        <a href="{{ route('forum.category', [category.slug]) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
