{% for user in users %}
<li>
    <img src="{{ user_photo(user.photo) }}" width="16" height="16">
    <span>{{ user.name }}</span>

    {% if user.group %}
        <small class="badge badge-secondary">{{ user.group }}</small>
    {% endif %}
</li>
{% endfor %}
