<div id="vcard">
    <div id="vcard-header">
        <a href="#">Admin</a>
    </div>

    <div id="vcard-content">
        <div class="row">
            <div class="col-xs-3">
                <img src="/img/avatar.png" class="img-thumbnail">
                <span class="status offline">Offline</span>

                <span class="label label-warning">Moderator</span>
            </div>

            <div class="col-xs-9">
                <ul class="list-inline">
                    <li title="Ostatnia wizyta">
                        <i class="fa fa-sign-in fa-fw"></i> dzisiaj, 12:03
                    </li>
                    <li title="Data rejestracji">
                        <i class="fa fa-user-plus fa-fw"></i>
                        18 luty 2002, 17:35
                    </li>
                </ul>

                <div class="box-reputation">
                    <h6><i class="fa fa-line-chart"></i> Twoja reputacja</h6>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

                        </div>

                        <span class="rep"><strong>853</strong> <small>punktów</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>