<section id="microblog">
    {% if microblogs is not empty %}
        <div class="d-flex justify-content-center mt-3 mb-3">
            {{ pagination|raw }}
        </div>

        {% for microblog in microblogs %}
            {% include "microblog.partials.microblog" %}
        {% endfor %}

        <div class="d-flex justify-content-center mt-3 mb-3">
            {{ pagination|raw }}
        </div>
    {% else %}
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body bg-light p-2 empty-result">
                            <p>Użytkownik nie opublikował ani jednego wpisu na mikroblogu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
