<section id="microblog" class="box">
    {% if microblogs is not empty %}
        <div class="text-center">
            {{ pagination|raw }}
        </div>

        {% for microblog in microblogs %}
            {% include "microblog.partials.microblog" %}
        {% endfor %}

        <div class="text-center">
            {{ pagination|raw }}
        </div>
    {% else %}
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well well-sm empty-result">
                            <p>Użytkownik nie opublikował ani jednego wpisu na mikroblogu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
