<script>
  var pagination = {{ pagination|raw }};
</script>

<section id="js-microblog" class="mt-4">
  <nav class="mt-3 mb-3 d-flex justify-content-center">
    <vue-pagination :current-page="currentPage" :total-pages="totalPages" @change="changePage"></vue-pagination>
  </nav>

  <vue-microblog v-if="microblogs.length > 0" v-for="microblog in microblogs" :key="microblog.id" :microblog="microblog" :wrap="true"></vue-microblog>
  <div v-else v-cloak class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="card card-body bg-light p-2 empty-result">
            <p>Użytkownik nie opublikował ani jednego wpisu na mikroblogu.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 mb-3 d-flex justify-content-center">
    <vue-pagination :current-page="currentPage" :total-pages="totalPages" @change="changePage"></vue-pagination>
  </div>
</section>
