{% extends 'layout.twig' %}
{% block title %}Strona główna{{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <main class="col-md-8">

        </main>

        <aside class="col-md-4">

            <section class="box">
                <h4>Oferty pracy</h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Junior Web Developer</h4>

                                <p>Power Media S.A.</p>
                                <small>Wrocław • do 5000 zł</small>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="box-reputation" class="box">
                <h4>Reputacja użytkowników</h4>

                <ul class="nav nav-panel">
                    <li role="presentation" class="active"><a href="#">W tym miesiącu</a></li>
                    <li role="presentation"><a href="#">W tym roku</a></li>
                    <li role="presentation"><a href="#">Ogólnie</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/shalom.png" style="width: 40px; height: 40px;" alt="Shalom">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Shalom</a></h4>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

                                    </div>

                                    <span class="rep"><strong>853</strong> <small>punktów</small></span>
                                </div>

                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/koziolek.png" style="width: 40px; height: 40px;" alt="Shalom">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Koziołek</a></h4>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">

                                    </div>

                                    <span class="rep"><strong>567</strong> <small>punktów</small></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="box-who-is-online" class="box">
                <h4 class="border">158 osób online</h4>

                <p><strong>Administrator:</strong> Adam Boduch</p>
            </section>



        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/homepage.css">
{% endblock %}