<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block head %}
		<title>{% block title %}:: 4programmers.net{% endblock %}</title>

		<link rel="stylesheet" href="/css/main.css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<div id="container-fluid">
			<header class="navbar-default">
				<div id="navbar-border-top"></div>

				<div class="max-width ">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" rel="home" href="#" title="4programmers.net - Strona główna">
							<img id="logo" src="/img/logo.png">
							<img id="logo-mobile" src="/img/logo-mobile.png">
						</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#">Kompendium wiedzy <span class="sr-only">(current)</span></a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">Pastebin</a></li>
							<li><a href="#">Mikroblogi</a></li>
							<li><a href="#">Praca</a></li>

						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="alerts">
								<a href="#">
									{#<span class="badge">4</span>#}
									<i class="fa fa-bell fa-fw"></i>
								</a>
							</li>
							<li class="messages">
								<a href="#">
									<i class="fa fa-comments fa-fw"></i>
								</a>
							</li>
							<li class="user dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<img src="/img/avatar.png" style="width: 20px;">
									<span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<li><a href="#">Ustawienia</a></li>
									<li><a href="#">Wiadomości</a></li>
									<li><a href="#">Profil</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Wyloguj</a></li>
								</ul>
							</li>
						</ul>

						<form id="navbar-header-search" class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" placeholder="Szukaj">
							</div>
						</form>

					</div>
				</div>
			</header>

			<div class="row max-width">
				<div class="col-xs-12">
					<ul class="breadcrumb">
						<li>
							<a href="http://4programmers.net/">4programmers.net</a>
						</li>
						<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
							<a itemprop="url" href="http://forum.4programmers.net"><span itemprop="title">Forum</span></a>
						</li>
						<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
							<a itemprop="url" href="http://forum.4programmers.net/Kariera"><strong itemprop="title">Kariera</strong></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row max-width">
				<div class="col-xs-12">
					{% block container %}

					{% endblock %}
				</div>
			</div>

			<footer>
				<div id="footer-top">
					<div class="row max-width">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li>
									<a href="http://4programmers.net/">4programmers.net</a>
								</li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
									<a itemprop="url" href="http://forum.4programmers.net"><span itemprop="title">Forum</span></a>
								</li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
									<a itemprop="url" href="http://forum.4programmers.net/Kariera"><strong itemprop="title">Kariera</strong></a>
								</li>
							</ul>

							<a href="http://4programmers.net/atom.xml" id="feed-button"></a>
							<a href="https://www.facebook.com/4programmers.net" id="facebook-button"></a>
						</div>


					</div>
				</div>

				<div id="footer-inner">
					<div class="row max-width">
						<div class="col-md-2 col-sm-4">
							<ul>
								<li><h6>Programowanie</h6></li>
								<li><a title="Programowanie w Delphi. Kurs programowania oraz encyklopedia biblioteki VCL" href="http://4programmers.net/Delphi">Delphi</a></li>
								<li><a title="Zagadnienia z dziedziny programowania w C#" href="http://4programmers.net/C_sharp">C#</a></li>
								<li><a title="Programowanie w językach C i C++" href="http://4programmers.net/C">C++</a></li>
								<li><a title="Programowanie Java" href="http://4programmers.net/Java">Java</a></li>
								<li><a title="Wszystko o XHTML oraz HTML" href="http://4programmers.net/(X)HTML">(X)HTML</a></li>
							</ul>
						</div>

						<div class="col-md-2 col-sm-4">
							<ul>
								<li><h6><a title="Forum dla programistów" href="http://forum.4programmers.net">Forum dyskusyjne</a></h6></li>
								<li><a title="Forum dla początkujących programistów" href="http://forum.4programmers.net/Newbie">Newbie</a></li>
								<li><a title="Forum dla programistów Javy" href="http://forum.4programmers.net/Java">Java</a></li>
								<li><a title="Programowanie w C oraz C++" href="http://forum.4programmers.net/C_i_C++">C/C++</a></li>
								<li><a title="Kariera programisty" href="http://forum.4programmers.net/Kariera">Kariera</a></li>
								<li><a title="Praca dla programisty" href="http://forum.4programmers.net/Praca">Praca</a></li>

							</ul>
						</div>

						<div class="col-md-2 col-sm-4">
							<ul>
								<li><h6>Sprawy administracyjne</h6></li>
								<li><a title="Jeżeli znalazłeś błąd w oprogramowaniu, tu jest odpowiednie miejsce, aby to zgłosić" href="http://forum.4programmers.net/Coyote">Zgłoś błąd w oprogramowaniu</a></li>
								<li><a rel="nofollow" title="4programmers.net na facebooku" href="https://www.facebook.com/4programmers.net">4programmers.net na facebooku</a></li>
								<li><a title="Blog 4programmers.net" href="http://4programmers.net/Blog">Blog 4programmers.net</a></li>
								<li><a href="http://4programmers.net/Prawa_autorskie">Prawa autorskie</a></li>
								<li><a title="Logo 4programmers.net" href="http://4programmers.net/Pomoc/Nasze_logo">Nasze logo</a></li>
							</ul>
						</div>

						<div class="col-md-2 col-sm-4">
							<ul>
								<li><h6>O nas</h6></li>
								<li><a title="Kontakt z serwisem 4programmers.net" href="http://4programmers.net/Kontakt">Kontakt</a></li>
								<li><a title="Regulamin korzystania z serwisu 4programmers.net" href="http://4programmers.net/Regulamin">Regulamin</a></li>
								<li><a title="Zareklamuj się w serwisie 4programmers.net" href="http://4programmers.net/Reklama">Reklama</a></li>
								<li><a title="Pomoc w korzystaniu z serwisu 4programmers.net" href="http://4programmers.net/Pomoc">Pomoc</a></li>
								<li><a title="Odpowiedzi na najczęściej zadawane pytania" href="http://4programmers.net/Patronat">Patronat</a></li>
							</ul>
						</div>

						<div class=" col-sm-4">
							<div class="footer-bubble">
								<h6>Skontaktuj się z nami</h6>

								<ol>
									<li><a title="Skontaktuj się poprzez email" href="http://4programmers.net/Kontakt"><i class="fa fa-info-circle fa-fw"></i>  Napisz do nas</a></li>
									<li><a title="Skontaktuj się poprzez email" href="https://www.facebook.com/4programmers.net"><i class="fa fa-facebook fa-fw"></i> Odwiedź nas na Facebooku</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div id="footer-copyright">
					<div class="row max-width">
						<div class="col-lg-12">
							<div class="pull-left">Copyright © 2000-2015 <a title="4programmers.net -- programowanie" class="logo" href="http://4programmers.net/">4programmers.net - programowanie i tworzenie stron WWW</a></div>

							<div class="pull-right">Coyote 2.0: 165 ms</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- <script> -->
		<script src="/js/main.js"></script>
		{% endblock %}
	</body>
</html>