<div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Adres e-mail</th>
                <th>Nr tel</th>
                <th>CV / Resume</th>
            </tr>
        </thead>

        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.name }}</td>
                    <td>{{ application.email }}</td>
                    <td>{{ application.phone ?: '--' }}</td>
                    <td>{{ application.cv ? link_to_route('job.application.download', application.realFilename(), [job.id, application.id]) : '--' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Brak kandydatów dla tej oferty pracy.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
