<div class="col-md-3 d-none d-sm-block">
  <section id="post-offer">
    <h4>Dla pracodawców</h4>

    <span class="edge">
            <a href="{{ route('job.submit') }}?revalidate=1" class="btn btn-primary">Dodaj ofertę pracy</a>
          </span>

    <p><a href="{{ route('job.business') }}">Już od 39 zł / 40 dni!</a></p>
  </section>
</div>
