<div class="col-md-3 d-none d-sm-block">
  <section id="post-offer">
    <span class="edge">
      <a class="btn btn-primary jobboard-add-offer-list" href="{{ route('job.business') }}">
        Dodaj ofertę pracy
      </a>
    </span>
    <p>
      <a href="{{ route('job.business') }}">Już od 39 zł / 40 dni!</a>
    </p>
  </section>
</div>
