<div id="comments" v-cloak>
  <h3><i class="fas fa-question-circle-o"></i> Pytania i odpowiedzi</h3>



  <div v-if="Object.keys(comments).length > 0" class="card card-default">
    <div class="card-body">
      <vue-comment
        v-for="comment in comments"
        :comment="comment"
        :key="comment.id"
      ></vue-comment>
    </div>
  </div>

  <vue-notifications position="bottom right" />
</div>


