<div id="js-comments" v-cloak>
  <div class="mb-2" id="comments">
    {{ icon('jobOfferComments') }}
    Pytania i odpowiedzi
  </div>
  <vue-comment-form v-if="isAuthorized" resource-id="{{ job.id }}" resource="Coyote\Job"></vue-comment-form>
  <div v-if="commentsCount > 0" class="card">
    <div class="card-body">
      <vue-comment v-for="comment in comments" :key="comment.id" :comment="comment"></vue-comment>
    </div>
  </div>
  <vue-notifications></vue-notifications>
</div>
