<div id="comments">
    <h4>Pytania i odpowiedzi</h4>

    <div class="panel panel-default">

        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="{{ route('profile', [user('id')]) }}">
                        <img src="{{ user_photo(user('photo')) }}" class="img-thumbnail media-object">
                    </a>
                </div>

                <div class="media-body">
                    {{ form_open({'v-on:submit.prevent': 'submitForm', url: route('job.comment', {job: job.id}), method: 'post'}) }}

                        <textarea name="text" class="form-control" placeholder="Kliknij, aby dodać komentarz"></textarea>
                        <input type="submit" class="btn btn-primary">

                    {{ form_close() }}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <vue-comment v-for="comment in comments" :comment="comment"></vue-comment>
        </div>
    </div>
</div>



