{% set data = {} %}
{% set separator = separator is defined ? separator : true %}
{% set linkable = linkable is defined ? linkable : true %}

{% for location in locations %}
    {% if location.city %}
        {% set data = data|merge(linkable ? [link_to_route('job.city', location.label, [location.city], {'title': 'Znajdź oferty z miasta ' ~ location.city})] : [location.label]) %}
    {% endif %}
{% endfor %}

{{ data|join(' • ')|raw }}

{% if job.is_remote %}
    {% set label = job.remote_range ? "(#{job.remote_range}% pracy zdalnej)" : '(praca zdalna)' %}

    {% if linkable %}
        <a href="{{ route('job.remote') }}">{{ label }}</a>
    {% else %}
        {{ label }}
    {% endif %}
{% endif %}
