{% set data = {} %}
{% set separator = separator is defined ? separator : true %}
{% set linkable = linkable is defined ? linkable : true %}

{% for city in locations %}
    {% set data = data|merge(linkable ? [link_to_route('job.city', city, [city], {'title': 'Znajdź oferty z miasta ' ~ city})] : [city]) %}
{% endfor %}

{% if separator and (data|length > 0 or job.is_remote) %}
    &nbsp;•&nbsp;
{% endif %}

{{ data|join(', ')|raw }}

{% if job.is_remote %}
    {% if linkable %}
        <a href="{{ route('job.remote') }}">(praca zdalna)</a>
    {% else %}
        (praca zdalna)
    {% endif %}
{% endif %}
