{% set data = {} %}
{% set separator = separator is defined ? separator : true %}
{% set linkable = linkable is defined ? linkable : true %}

{% for city in locations %}
    {% if city %}
        {% set data = data|merge(linkable ? [link_to_route('job.city', city, [city], {'title': 'Znajdź oferty z miasta ' ~ city})] : [city]) %}
    {% endif %}
{% endfor %}

{% if separator and (data|length > 0 or job.is_remote) %}
    &nbsp;•&nbsp;
{% endif %}

{{ data|join(', ')|raw }}

{% if job.is_remote %}
    {% set label = job.remote_range ? "(#{job.remote_range}% pracy zdalnej)" : '(praca zdalna)' %}

    {% if linkable %}
        <a href="{{ route('job.remote') }}">{{ label }}</a>
    {% else %}
        {{ label }}
    {% endif %}
{% endif %}
