{% set data = {} %}

{% for city in locations %}
    {% set data = data|merge([link_to_route('job.city', city, [city], {'title': 'Znajdź oferty z miasta ' ~ city})]) %}
{% endfor %}

{{ data|join(', ')|raw }}

{% if job.is_remote %}
    <a href="{{ route('job.remote') }}">(praca zdalna)</a>
{% endif %}