{% for i in 0..4 %}
  <div v-if="skeleton" class="card card-job mb-3">
    <div class="card-body">
      <div class="media">
        <div class="i-95 skeleton skeleton-media"></div>

        <div class="media-body">
          <div class="media-heading">
            <h4 class="skeleton skeleton-header"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<vue-job v-for="(job, index) in jobs.data" :job="job" :key="job.id" :order="index"></vue-job>
