@charset "UTF-8";
//@import "../vendor/bootstrap/variables";
//@import "~@fortawesome/fontawesome-free/scss/variables";
//@import "../vendor/flatpickr";
//@import "../helpers/variables";

html {
  // relative is required to contain the absolute sidebar
  min-height: 100%;
  // minimum height make sure that if the content is below 100% of viewport, it will still allow the sidebar to be at 100%,
  // and if the content is greater than 100% of viewport, it will allow stretching
  position: relative;
}

body.fixed-top {
  padding-top: 0;
}

// override class from main.scss
//.max-width {
//  width: auto;
//  max-width: none;
//  margin-left: -15px;
//  margin-right: -15px;
//}

#wrapper {
  padding: 0 15px 0 15px;
  margin-left: 222px;
}

#adm-header {
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  > .col-xs-12 {
    padding: 10px 15px;
  }
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $gray-light;
}

// Login forum
// --------------------

@import "adm/login";

// Sidebar
// ----------------------

@import "adm/sidebar";

// Table (sorting)
// --------------------

@import "adm/table";

// Tabela z logami laravela
// ---------------------------------------------------------

@import "adm/log";

// Stream activity
// -----------------------------

@import "../components/stream";
