@charset "UTF-8";
//@import "../helpers/mixins";
//@import "../helpers/variables";
//@import "~@fortawesome/fontawesome-free/scss/variables";
//@import "../vendor/bootstrap/variables";

@import "job/home";
@import "job/submit";
@import "job/payment";
@import "job/application";
@import "job/pricing";
@import "job/business";

.benefits,
.features,
.about-items {
  .list-group-item {
    border: none;
    font-size: 14px;

    i {
      &.fa-times {
        color: #ddd;
      }
    }

    &.checked {
      i.fa-check {
        color: $brand-primary;
      }
    }
  }
}

.about-items {
  margin-top: 10px;
  margin-bottom: 5px;

  .list-group-item {
    font-size: $font-size-base;
    padding-top: 7px;
    padding-bottom: 7px;

    > p {
      padding-left: 10px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;

      .fa {
        color: $text-muted;
        vertical-align: middle;
        font-size: 16px;
      }

      small {
        font-size: 11px;
        display: block;
        text-transform: uppercase;
        color: $text-muted;
      }

      strong {
        color: $gray-light;
      }
    }

    a {
      color: inherit;
    }
  }
}

.location {
  display: inline;
  font-size: 92%;
  color: $text-muted;

  a {
    color: inherit;
  }

  ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ' • ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}

// Border around buttons
// ---------------------------

.edge {
  border-radius: $border-radius-large;
  background-color: darken($gray-lighter, 4%);
  padding: 5px;
  display: inline-block;
}

// Logo container
// ---------------------------------

img[src*="logo-gray"] {
  opacity: 0.7;
}

// Wyswietlanie tresci artykulu
// --------------------------------

@import "job/offer";
