@charset "UTF-8";
@import "../vendor/bootstrap/variables";
@import "../vendor/font-awesome/variables";
@import "../helpers/variables";

body.fixed-top {
  padding-top: 0;
}

// override class from main.scss
.max-width {
  width: auto;
  max-width: none;
}

#wrapper {
  padding: 0 15px 0 15px;
  margin-left: 222px;
}

#adm-header {
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  > .col-xs-12 {
    padding: 10px 15px;
  }
}

// Login forum
// --------------------
@import "adm/login";

// Sidebar
// ----------------------
@import "adm/sidebar";

// Table (sorting)
// --------------------
@import "adm/table";

// Tabela z logami laravela
// ---------------------------------------------------------
@import "adm/log";