@charset "UTF-8";
@import "../helpers/variables";
@import "../vendors/bootstrap/variables";
@import "../vendors/font-awesome/variables";

#box-login, #box-register {
  border-right: 1px solid $border-color;

  > form {
    margin-top: 30px;
  }
}

#box-login-sidebar, #box-register-sidebar {

  > div {
    padding: 40px;
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: 17px;
    margin: 12% 0;

    &:after {
      position: absolute;
      content: "\f10e";
      color: $border-color;
      font-family: FontAwesome;
      top: 0;
      left: 0;
    }
  }
}

#box-register-sidebar {

  > div {
    padding-top: 0;
  }

  h2 {
    font-size: $font-size-large;
    margin-bottom: 20px;
  }

  blockquote {
    margin-bottom: 7%;
  }

  ul {
    margin: 10px 0;
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px 0 10px 25px;
      position: relative;

      &:after {
        position: absolute;
        content: $fa-var-check;
        color: $brand-success;
        font-family: FontAwesome;
        left: 0;
        top: 10px;
        font-weight: bold;
      }
    }
  }
}