@charset "UTF-8";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../components/sidemenu";
@import "~@fortawesome/fontawesome-free/scss/variables";

#page-404 {
  .list-unstyled {
    margin: 40px 10px;

    li {
      margin: 20px 0;
      color: $gray;
      font-size: 120%;

      a {
        color: inherit;
      }
    }
  }
}
