@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../vendor/bootstrap/variables";
@import "../components/sidemenu";
@import "../components/related";
@import "../components/stream";
@import "../components/affix";
@import "../components/search";
@import "../components/who-is-online";

.section {
  .panel-categories:nth-child(odd) {
    background-color: #fafafa;
  }
}

.section-name {
  margin: 0 0 10px 0;
  padding-left: 2px;

  h2 {
    font-size: 14px;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: $screen-lg) {
  .section {
    background-color: $panel-footer-bg;
    padding: 10px 0 0 0;
    border: 1px solid $panel-default-border;
  }

  .section-name {
    margin: 0 10px 10px 10px;
  }
}

.panel-cog {
  color: $gray-light;
  font-size: 80%;
  margin-right: 5px;
  margin-top: 5px;
}

.panel-categories {
  .col-main {
    display: flex;
    align-items: center;
  }

  .subject {
    margin-bottom: 3px;

    @include text-overflow;
  }

  .wrap {
    overflow: hidden;
  }

  .media {
    font-size: 12px;
  }

  h3 {
    font-size: 120%;
    margin: 0 0 4px 0;
  }

  .logo {
    margin-right: 10px;
    font-size: 18px;
    color: $brand-primary;
    padding: 5px;
  }

  .logo.new {
    color: $alt-link-hover-color;
  }

  .col-lg-stat {
    white-space: nowrap;
  }

  .description {
    margin: 0;
    font-size: 12px;
  }

  .toolbox {
    float: right;
    color: #757575;
    font-size: 14px;
    display: none;
    margin-top: -1px;

    a {
      padding-left: 2px;
      padding-right: 2px;
      color: inherit;
    }

    .disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  // desktop
  @media screen and (min-width: $screen-lg) {
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 0;

    .col-lg-stat {
      text-align: right;
      font-size: 12px;
      padding-top: 3px;
    }

    > .panel-body > .row {
      display: flex;
      align-items: center;
    }
  }

  // mobile
  @media screen and (max-width: $screen-lg) {
    margin-bottom: 10px;

    .panel-body.new {
      border-left: 2px solid $alt-link-hover-color;
    }

    .media {
      border-top: 1px solid $border-color;
      margin-top: 5px;
      padding-top: 10px;
    }

    .col-lg-stat {
      padding-top: 3px;
    }

    .toolbox {
      display: block;
      margin-top: -9px;
    }
  }

  a {
    color: #5e7813
  }

  .img-thumbnail {
    padding: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    width: 38px;
    height: 38px;

    > img {
      width: 100%;
    }
  }

  .media {
    display: flex; // this is required to support text-overflow in topics' title
  }

  .panel-body {
    border-bottom: 1px solid $border-color;

    &:nth-child(even) {
      background-color: #fafafa;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      .toolbox {
        display: block;
      }
    }
  }
}

#index {
  position: relative;
  margin-top: 20px;

  > h1 {
    margin-top: 0;
  }

  @media screen and (max-width: $screen-xs) {
    .nav-tabs {
      li:nth-child(3), li:nth-child(4), li:nth-child(5) {
        display: none;
      }
    }
  }
}

#index {
  padding-right: 20%;

  @media screen and (max-width: $screen-lg) {
    padding-right: 0;
  }
}

.mainbar {
  width: 100%;
  float: left;
  padding-top: 15px;

  .nav {
    margin-bottom: 15px;
  }
}

// Stronnicowanie na forum (dodanie marginesow)
// ----------------------------------------------

.pagination {
  margin: 5px 0 0 0;
}

.panel-wrapper {
  .panel-body {
    .toggle {
      color: $gray-dark;
      margin: 2px 2px 0 0;
      font-size: 13px;

      .fa-plus-square {
        display: inline-block;
      }

      .fa-minus-square {
        display: none;
      }
    }

    .toggle.in {
      .fa-plus-square {
        display: none;
      }

      .fa-minus-square {
        display: inline-block;
      }
    }
  }
}

// Podkreslenie slow kluczowych w wyszukiwarce
// ----------------------------------------------------------------------------------

.highlight {
  background-color: $unread-bg-hover;
  font-style: normal;
}

// Strona glowna forum
// ----------------------------------------------------------------------------------

@import "forum/home";

// Menu po prawej stronie w pasku narzedziowym forum
// ------------------------------------------------------------------------------------

@import "forum/sidebar";

// Lista watkow
// ----------------------------------------

@import "forum/category";

// Wyswietlanie zawartosci watku
// -----------------------------------------

@import "forum/topic";

// Formularz tworzenia nowego watku/edycji/odpowiadania w watku
// -------------------------------------------------------------

@import "forum/posting";

// Strona wyszukiwarki forum
// -------------------------------------------------------------

@import "forum/search";

// Formularz glosowania w ankiecie
// -------------------------------------------------------------

@import "forum/poll";
