@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendor/font-awesome/variables";
@import "../vendor/bootstrap/variables";
@import "../components/tags";
@import "../components/job-offers";
@import "../components/sidemenu";
@import "../components/related";
@import "../components/stream";
@import "../components/affix";

$sidebar-media-max-width: 1024px;

#index {
  position: relative;
  margin-top: 20px;

  > h1 {
    margin-top: 0;
  }
}

#index.sidebar {
  padding-right: 20%;

  @media screen and (max-width: $sidebar-media-max-width) {
    padding-right:            0;
  }
}

#mainbar {
  width: 100%;
  float: left;
  padding-top: 15px;

  .nav {
    margin-bottom: 15px;
  }
}

// Stronnicowanie na forum (dodanie marginesow)
// ----------------------------------------------

.pagination {
  margin: 5px 0 0 0;
}

.panel-wrapper {
  .panel-body {
    padding: 4px 8px 8px 8px;

    > h2 {
      margin: 5px 0 0 2px;
    }

    .toggle {
      color: $gray-dark;
      margin: 2px 2px 0 0;
      font-size: 13px;

      .fa-plus-square-o {
        display: inline-block;
      }

      .fa-minus-square-o {
        display: none;
      }
    }

    .toggle.in {
      .fa-plus-square-o {
        display: none;
      }

      .fa-minus-square-o {
        display: inline-block;
      }
    }
  }
}

#box-who-is-online {
  margin-top: 20px;
  color: $gray-light;
}

// Strona glowna forum
// ----------------------------------------------------------------------------------

@import "forum/home";

// Menu po prawej stronie w pasku narzedziowym forum
// ------------------------------------------------------------------------------------

@import "forum/sidebar";

// Lista watkow
// ----------------------------------------

@import "forum/category";

// Element filtrowania i sortowania watkow w tabeli
// -----------------------------------------------------------------------------------

@import "forum/sort";

// Wyswietlanie zawartosci watku
// -----------------------------------------

@import "forum/topic";

// Formularz tworzenia nowego watku/edycji/odpowiadania w watku
// -------------------------------------------------------------

@import "forum/posting";

// Strona wyszukiwarki forum
// -------------------------------------------------------------

@import "forum/search";