@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../vendor/bootstrap/variables";
@import "../components/sidemenu";
@import "../components/related";
@import "../components/stream";
@import "../components/affix";
@import "../components/search";
@import "../components/who-is-online";

#index {
  position: relative;
  margin-top: 20px;

  > h1 {
    margin-top: 0;
  }

  @media screen and (max-width: $screen-xs) {
    .nav-tabs {
      li:nth-child(3), li:nth-child(4), li:nth-child(5) {
        display: none;
      }
    }
  }
}

#index {
  padding-right: 20%;

  @media screen and (max-width: $screen-lg) {
    padding-right: 0;
  }
}

#mainbar {
  width: 100%;
  float: left;
  padding-top: 15px;

  .nav {
    margin-bottom: 15px;
  }
}

// Stronnicowanie na forum (dodanie marginesow)
// ----------------------------------------------

.pagination {
  margin: 5px 0 0 0;
}

.panel-wrapper {
  .panel-body {
    .toggle {
      color: $gray-dark;
      margin: 2px 2px 0 0;
      font-size: 13px;

      .fa-plus-square {
        display: inline-block;
      }

      .fa-minus-square {
        display: none;
      }
    }

    .toggle.in {
      .fa-plus-square {
        display: none;
      }

      .fa-minus-square {
        display: inline-block;
      }
    }
  }
}

// Podkreslenie slow kluczowych w wyszukiwarce
// ----------------------------------------------------------------------------------

.highlight {
  background-color: $unread-bg-hover;
  font-style: normal;
}

// Strona glowna forum
// ----------------------------------------------------------------------------------

@import "forum/home";

// Menu po prawej stronie w pasku narzedziowym forum
// ------------------------------------------------------------------------------------

@import "forum/sidebar";

// Lista watkow
// ----------------------------------------

@import "forum/category";

// Wyswietlanie zawartosci watku
// -----------------------------------------

@import "forum/topic";

// Formularz tworzenia nowego watku/edycji/odpowiadania w watku
// -------------------------------------------------------------

@import "forum/posting";

// Strona wyszukiwarki forum
// -------------------------------------------------------------

@import "forum/search";

// Formularz glosowania w ankiecie
// -------------------------------------------------------------

@import "forum/poll";
