@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendors/font-awesome/variables";
@import "../vendors/bootstrap/variables";
@import "../components/tags";
@import "../components/job-offers";
@import "../components/sidemenu";
@import "../vendors/font-awesome/variables";

#index.sidebar {
  padding-right: 20%;
}

#mainbar {
  width: 100%;
  float: left;

  .nav {
    margin-bottom: 15px;
  }
}

#sidebar {
  float: right;
  width: 23%;
  margin-right: -25%;
  margin-top: 45px;
}

.panel-wrapper {

  .panel-body {
    padding: 5px 9px 10px 9px;

    > h2 {
      margin: 5px 2px;
    }

    .toggle {
      color: $gray-dark;
      margin: 5px 2px;
      font-size: 11px;
    }
  }
}

.box-forum {

  table {
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 3px;
    margin: 1px;
    width: 100%;
    table-layout: fixed;
  }

  tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }

    td {
      padding: 5px;
      border-bottom: 1px solid $border-color;
    }
  }
}

.col-icon {
  width: 42px;
  text-align: center;
}

.col-stats {
  text-align: right;
  width: 9%;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.col-forum-description {
  p {
    margin: 0;

    @media (max-width: $screen-md) {
      font-size: 12px;
    }

    @media (max-width: $screen-xs) {
      font-size: 11px;
    }
  }

  // nazwa kategorii forum
  h3 {
    font-size: 15px;
    padding: 2px 0 5px 0;
    margin: 0;
  }
}

.col-avatar {
  width: 4%;
}

.col-post-preview {
  width: 25%;

  p {
    margin: 0;
    padding: 2px 0;
  }

  a {
    color: darken($brand-primary, 10%);
  }
}

#box-who-is-online {
  margin-top: 20px;
  color: $gray-light;

  h4 {
    @include box-header-icon($fa-var-users);
  }
}

#box-popular-tags, #box-my-tags {
  h4 {
    @include box-header-icon($fa-var-tag);
  }

  margin-bottom: 20px;
}

.btn-mark-read, .btn-atom, #btn-setting {
  position: relative;

  &:before {
    font-family: FontAwesome;
    position: absolute;
    left: 3px;
    top: 4px;
    font-size: 17px;
  }
}

.btn-mark-read:before {
  content: $fa-var-check-square-o;
}

.btn-atom:before {
  content: $fa-var-rss-square;
}

#btn-setting:before {
  content: $fa-var-cog;
}

#btn-toggle-sidebar {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: -30px;

  i {
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    display: block;
    text-align: center;
    color: $gray;

    &:hover {
      opacity: 1;
      background-color: $border-color;
      text-decoration: none;
    }
  }
}