@charset "UTF-8";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../components/microblog";
@import "../components/who-is-online";

#hire-me {
  margin-top: 35px;
}

#box-reputation {
  margin-top: 10px;

  .media-heading {
    margin-bottom: 3px;

    a {
      color: $gray-dark;
      font-size: 14px;
    }
  }

  img {
    border-radius: 4px;
  }

  .progress {
    width: 70%;
    height: 23px;
    margin-bottom: 0;
  }

  .media {
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
    &:after {
      content: '1';
      font-size: 40px;
      color: $border-color;
      position: absolute;
      right: 10px;
      top: 9px;
    }
    &:nth-child(2):after {
      content: '2';
    }
    &:nth-child(3):after {
      content: '3';
    }
  }
}

#box-whats-new {
  h5 {
    font-size: 15px;

    a {
      color: #f2f2f2;
    }
  }

  ul {
    margin: 10px 0 0 0;
    list-style-type: square;
    padding: 0;

    li {
      padding: 5px 0;
      color: #969696;
      clear: both;

      @include text-overflow;

      a {
        color: #969696;
      }

      small {
        color: #f6f6f6;
        font-size: 11px;
        float: left;
        width: 17%;
        padding-top: 1px;

        @include text-overflow;
      }
    }
  }
}

.panel-news {
  background-color: #454545;
}

.panel-patronage {
  background: url('/img/patronage-background.png') repeat-x;
  color: #7d7d7d;
  border: 1px solid $border-color;
  position: relative;

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #536a05 transparent transparent;
    left: -10px;
    top: 54px;
    position: absolute;
    -webkit-transform: rotate(360deg);
  }

  h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 5px 15px;
    font-weight: normal;
    font-size: 1.5em;
    margin-left: -10px;
    margin-top: 20px;
    position: relative;
    border-left: 1px solid #6b8e18;
    border-bottom: 1px solid #6b8e18;
    border-top: 1px solid #6b8e18;
    color: white;
    width: 80%;
    box-shadow: 2px 2px 12px #7A7A7A;
    opacity: 0.9;
    background: rgb(151, 192, 14);
    background: -moz-linear-gradient(-45deg, rgba(151, 192, 14, 1) 0%, rgba(174, 217, 29, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(151, 192, 14, 1)), color-stop(100%, rgba(174, 217, 29, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(151, 192, 14, 1) 0%, rgba(174, 217, 29, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(151, 192, 14, 1) 0%, rgba(174, 217, 29, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(151, 192, 14, 1) 0%, rgba(174, 217, 29, 1) 100%);
    background: linear-gradient(135deg, rgba(151, 192, 14, 1) 0%, rgba(174, 217, 29, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97c00e', endColorstr='#aed91d', GradientType=1);
    a {
      color: #fff;
    }

    &:after {
      left: 100%;
      border: solid transparent;
      content: "";
      position: absolute;
      border-color: rgba(237, 145, 13, 0);
      border-left-color: #AED91D;
      border-width: 17px;
      top: 50%;
      margin-top: -17px;
    }
    &:before {
      left: 100%;
      border: solid transparent;
      content: "";
      position: absolute;
      border-color: rgba(237, 145, 13, 0);
      border-left-color: #6b8e18;
      border-width: 18px;
      top: 50%;
      margin-top: -18px;
    }
  }

  h4 {
    font-size: $font-size-large;
    margin-top: 0;

    a {
      color: $gray-dark;
    }
  }

  // data wydarzenia (aktualnie nie ma)
  //h6 {
  //  color: #949494;
  //  font-size: $font-size-base;
  //}

  .patronage-content {
    padding-top: 5px;
    line-height: 130%;
    font-size: $font-size-small;

    a {
      color: $gray-light;
    }
  }

  .patronage-footer {
    border-top: 1px dashed $border-color;
    padding-top: 10px;
    margin-top: 10px;

    a {
      color: $gray-light;
    }
  }
}

#box-forum {

  #stream-wrapper {
    background: url('/img/stream-last-feed.png') no-repeat;
    padding-top: 25px;
    padding-left: 2px;

    @media screen and (max-width: $screen-lg) {
      margin-top: 20px;
      background-position-x: 10px;
      padding-left: 15px;
    }
  }

  #stream {
    height: 365px;
    position: relative;
    overflow: hidden;
  }

  .overview {
    border-left: 1px solid $border-color;
    margin: 10px 0 0 10px;

    @media screen and (max-width: $screen-sm) {
      border-left: none;
      margin-left: 0;
    }
  }

  .media {
    display: flex;
    padding: 0 0 0 20px;
    font-size: 11px;
    text-shadow: 1px 1px #fff;
    position: relative;
    overflow: visible;

    span {
      box-shadow: 0 1px 2px #CCC;
      border-radius: 50%;
      border: 1px solid $border-color;
      background: #fff;
      position: absolute;
      width: 20px;
      height: 20px;
      left: -11px;
      top: 8px;

      &:after {
        font-family: 'Font Awesome 5 Free';
        display: block;
        margin-top: 1px;
        text-align: center;
        color: $gray-light;
      }

      &::selection {
        text-shadow: none;
      }
    }

    span.microblog:after {
      content: fa-content($fa-var-male);
    }

    span.comment:after {
      content: fa-content($fa-var-comments);
    }

    span.topic:after {
      content: fa-content($fa-var-file);
      font-weight: 400;
    }

    span.post:after {
      content: fa-content($fa-var-file-alt);
    }

    @media screen and (max-width: $screen-sm) {
      padding: 0;
    }
  }

  .media-body {
    p {
      margin: 0;
      @include text-overflow();
    }

    strong {
      font-weight: normal;
      border-left: 1px solid $border-color;
      padding: 0 0 0 10px;
      margin: 10px 0 0 1px;
      display: block;
      font-family: "Open Sans",sans-serif;
    }
  }

  .media-object {
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    width: 32px;
    background: #fff;
    padding: 2px;
    border-radius: 3px;
  }
}

#box-forum-headline {

  margin-top: 20px;

  .row {
    border-bottom: 1px solid #e6e6e6;
    padding: 4px 0 4px 0;
    margin: 0;

    span.col-sm-2 {
      strong {
        display: block;
        text-align: center;
        font-size: 16px;
      }

      small {
        display: block;
        color: #7d7d7d;
        text-align: center;
        font-size: 10px;
      }
    }

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  a.title {
    color: $gray;
    display: block;
    @include text-overflow;
  }

  a.category {
    font-size: 11px;
  }

  .pull-right {
    color: $gray-light;
    font-size: 10px;
  }
}
