@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendor/font-awesome/variables";
@import "../vendor/bootstrap/variables";
@import "../components/sidemenu";
@import "../components/search";
@import "../components/metadata";
@import "job/home";
@import "job/submit";
@import "job/application";

.benefits {
  .list-group-item {
    border: none;
    font-size: 15px;

    .btn-delete {
      position: absolute;
      top: 15px;
      right: 33px;
      border: 0;
    }
  }
}

// Border around buttons
// ---------------------------

.outline {
  border-radius: $border-radius-large;
  background-color: darken($gray-lighter, 4%);
  padding: 5px;
  display: inline-block;
}

// Do not wrap line in tooltip. We show tooltip over the "settings preferences" button
// ---------------------------------

.tooltip {
  white-space: nowrap;
}

// Logo container
// ---------------------------------

img[src*="logo-gray"] {
  opacity: 0.7;
}

// Wyswietlanie tresci artykulu
// --------------------------------

@import "job/offer";

// Maksymalna wielkosc czcionki klasy .lead wykorzystywana w sekcji "Ustaw swoja lokalizacje"
// -------------------------------------------------------------------------------------------

.lead {
  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.15);
  }
}
