@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendor/font-awesome/variables";
@import "../vendor/bootstrap/variables";
@import "../components/tags";
@import "../components/job-offers";
@import "../components/sidemenu";
@import "../components/search";
@import "../components/metadata";
@import "job/home";
@import "job/submit";

.benefits {
  .list-group-item {
    border: none;
  }
}

// Logo container
// ---------------------------------

img[src*="logo-gray"] {
  opacity: 0.7;
}

// Wyswietlanie tresci artykulu
// --------------------------------

@import "job/offer";

// Formularz wysylania aplikacji w odpowiedzi na oferty pracy
// ---------------------------------

#job-application {
  input[readonly] {
    background-color: transparent;
  }
}