@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendor/font-awesome/variables";
@import "../vendor/bootstrap/variables";
@import "../components/tags";
@import "../components/microblog";

.nav-tabs {
  margin: 0 0 20px 0;
}

#microblog {
  margin-top: 20px;
}

#box-popular-tags {
  margin-top: 13px;
}

#box-popular-entries {
  > .media {
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }

  p {
    line-height: 140%;
    padding: 10px 0 0 0;
    font-size: 12px;

    a {
      color: $gray-light;
    }
  }

  small {
    color: $gray-light;
    font-size: 11px;
    margin-left: 6px;
    vertical-align: top;
  }

  .media-heading {
    margin-left: 5px;

    a {
      color: $gray-darker;
    }
  }

  .btn-thumbs {
    font-size: 11px;
  }
}

.microblog-submit {
  textarea {
    width: 100%;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 6px 0;

    &:focus {
      outline: none;
    }
  }

  .submit-area {
    border-top: 1px solid $border-color;
    padding-top: 10px;
  }

  .img-thumbnail {
    border: none;
  }

  .btn-delete, .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btn-delete {
    display: none;
    background-color: #000;
    opacity: .5;
    color: #fff;
  }

  .spinner {
    color: $gray;
    display: flex;
  }

  .thumbnail {
    position: relative;

    &:hover {
      .btn-delete {
        display: flex;
      }
    }

    img {
      height: 81px;
    }
  }
}
