@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
@import "../vendors/font-awesome/variables";
@import "../vendors/bootstrap/variables";
@import "../components/tags";
@import "../components/microblog";

.nav-tabs {
  margin: 0 0 20px 0;
}

#microblog {
  margin-top: 20px;
}

#box-popular-tags {
  margin-top: 13px;

  h4 {
    @include box-header-icon($fa-var-tag);
  }
}

#box-popular-entries {
  h4 {
    @include box-header-icon($fa-var-star);
  }

  > .media {
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }

  p {
    line-height: 140%;
    padding: 10px 0 0 0;
    font-size: 12px;

    a {
      color: $gray-light;
    }
  }

  small {
    color: $gray-light;
    font-size: 11px;
    margin-left: 6px;
    vertical-align: top;
  }

  .media-heading {
    margin-left: 5px;

    a {
      color: $gray-darker;
    }
  }

  .btn-thumbs {
    font-size: 11px;
  }
}

.microblog-submit {

  textarea {
    width: 100%;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 4px 6px;

    &:focus {
      outline: none;
    }
  }

  .text-area > div {
    border: 1px solid $border-color;
    padding: 0;
  }

  .submit-area > div {
    background: #f6f6f6;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 4px 5px;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  button {
    box-shadow: none;
    text-shadow: none;
    border: none;
    background: transparent;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    color: $gray-dark;

    &:hover {
      background: none;
    }
  }
}

