@charset "UTF-8";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../components/progress-bars";
@import "../components/metadata";
@import "../components/sidemenu";
@import "../components/search";

#user-nav-tabs {
  margin: 20px 0;
}

#profile {
  .user-photo {
    float: left;

    > .btn-pm {
      margin-top: 20px;
      display: block;
    }

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  h1 {
    margin-top: 0;
    padding-left: 4px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-large;
    }
  }

  .position {
    font-size: 15px;
    color: $gray;
    padding-right: 0;

    small {
      font-size: 80%;
      vertical-align: top;
      padding-top: 4px;
      display: inline-block;
      color: $gray-light;
    }
  }

  .location {
    color: $gray-light;
    font-size: 13px;
  }

  .list-inline {
    margin-left: 0;

    li {
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .statement {
    padding: 0 0 0 30px;
    position: relative;
    font-size: 14px;
    margin: 20px 0 17px 2px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }
}

#box-reputation, #box-posts {
  margin-top: 22px;
}

#box-reputation {
  .chart-bar {
    border-top: 1px solid $border-color;
    margin-top: 10px;
    padding-top: 10px;
  }

  .reputation-item {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $border-color;
    font-size: 12px;

    > div {
      padding-left: 3px;
    }

    small {
      display: block;
    }

    .well {
      margin: 10px 0 0 0;
    }

    .headline {
      font-weight: normal;
      color: $link-color-darker;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

#box-stats {
  margin: 0 auto 10px auto;
  font-size: $font-size-small;

  li {
    text-align: right;
    border: none;

    strong {
      display: inline-block;
      width: 20%;
    }
  }
}

#wrap {
  position: relative;
  max-height: 280px;
  overflow: hidden;
}

.well.empty-result {
  background-position: center left;
  margin-bottom: 0;
  min-height: 68px;
  padding: 12px 0;
}
