@charset "UTF-8";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../vendor/font-awesome/variables";
@import "../components/tags";
@import "../components/progress-bars";

#user-nav-tabs {
  margin: 20px 0;
}

#profile {
  .user-photo {
    float: left;

    > .btn-pm {
      margin-top: 20px;
      display: block;
    }
  }

  h1 {
    margin-top: 0;
  }

  .position {
    font-size: 15px;
    color: $gray;
    padding-right: 0;

    small {
      font-size: 80%;
      vertical-align: top;
      padding-top: 2px;
      display: inline-block;
      color: $gray-light;
    }
  }

  .location {
    color: $gray-light;
    font-size: 13px;
  }

  // @todo Ponizszy blok jest uzywany rowniez w artykulach oraz w profilu usera (plik wiki.scss). Moze nalezaloby zastosowac DRY?
  .metadata {
    margin: 10px 0 12px 2px;
    padding-top: 10px;
    border-top: 1px solid $border-color;
    color: $gray-light;

    li {
      @media screen and (max-width: $screen-xs) {
        display: block !important;
        font-size: 90%;
        margin-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .metadata, .base-info {
    margin-left: 0;

    a {
      color: inherit;
    }

    i {
      color: $gray;
      font-size: $font-size-base + 1;
    }

    li {
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .statement {
    padding: 0 0 0 30px;
    position: relative;
    font-size: 14px;
    margin: 20px 0 17px 2px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }
}

#box-reputation {
  margin-top: 22px;

  .reputation-item {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;

    .point {
      padding-top: 4px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      p {
        margin: auto;
        font-size: 18px;
      }
    }

    .content {
      font-size: 12px;

      strong {
        font-weight: normal;
      }

      small {
        display: block;
      }

      p {
        font-weight: normal;
        padding: 0;
        margin: 7px 0 0 1px;
        font-family: "Open Sans",sans-serif;
      }
    }
  }
}

#wrap {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}