@charset "UTF-8";
@import "../helpers/variables";
@import "../vendor/bootstrap/variables";
@import "../vendor/font-awesome/variables";
@import "../../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-overflow";
@import "../components/search";

.well.empty-result {
  margin-top: 20px;
}

#search-results {
  h2 {
    font-size: $font-size-large;
    text-decoration: underline;

    a {
      color: $link-color-darker;
    }
  }

  small {
    color: $gray-light;
    font-size: 11px;
  }

  .highlight {
    font-weight: bold;
    font-style: normal;
  }
}
