@charset "UTF-8";
//@import "../helpers/variables";
//@import "../helpers/mixins";
//@import "../vendor/bootstrap/variables";
//@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-overflow";
//@import "~@fortawesome/fontawesome-free/scss/variables";
//@import "../components/search";

.well.empty-result {
  margin-top: 20px;
}

#box-search {
  margin-top: 10px;
}

#search-results {
  h2 {
    font-size: $font-size-large;
    text-decoration: underline;

    @include link-color-darker;
  }

  small {
    color: $gray-light;
    font-size: 11px;
  }

  .highlight {
    font-weight: bold;
    font-style: normal;
  }

  // make url shorter (specially for mobile devices)
  li > a {
    @include text-overflow;
    display: block;
  }
}
