@charset "UTF-8";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../vendor/bootstrap/variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/text-overflow";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/table-row";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../components/related";
@import "../components/sidemenu";
@import "../components/metadata";
@import "~@fortawesome/fontawesome-free/scss/variables";

// Styl dla linkow do stron, ktore nie istnieja
// ----------------------------------------------

.link-broken {
  color: $alt-link-hover-color !important;
  border-bottom: 1px dotted $alt-link-hover-color;

  &:hover {
    text-decoration: none;
  }
}

#catalog {
  margin-top: 20px;
}

// Style zwiazane ze strona prezentujaca kategorie danego tekstu. Zawiera m.in. liste artykulow
// ----------------------------------------------------------------------------------------------

#interface {
  background: url('/img/horizontal.png') repeat-x 0 50%,url('/img/vertical.png') no-repeat 0 100%;
  margin: 17px 0;
  overflow: hidden;
  width: 52.1%;
  float: right;

  @media screen and (max-width: $screen-xs) {
    background: none;
    float: none;
    width: 100%;
  }
}

#folder {
  border: 1px solid $border-color;
  background-color: #f6f6f6;

  ol {
    width: 80%;
    margin: auto;

    li {
      border: none;
      background: none;
      padding: 2px 0 2px 20px;
      position: relative;
      @include text-overflow();

      &:before {
        @include font-awesome($fa-var-folder-open);
        font-weight: 400;
        left: 0;
      }

      a {
        color: $gray-darker;
        font-size: 12px;
      }

      em {
        color: $gray-light;
      }
    }
  }
}

.panel-catalog {
  h4 {
    font-size: 15px;

    a {
      color: $gray-darker;
    }
  }

  .list-inline {
    font-size: 11px;
    margin: 10px 0 0 2px;

    li {
      margin-right: 20px;
      padding: 1px 0 2px 15px;
      color: $gray-light;
      position: relative;

      &:before {
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        left: 0;
      }
    }
  }

  .date:before {
    content: fa-content($fa-var-calendar);
  }

  .comments:before {
    content: fa-content($fa-var-comments);
  }

  .views:before {
    content: fa-content($fa-var-lightbulb);
    font-weight: 400;
  }
}

// Wyswietlanie tresci artykulu
// --------------------------------

article > header {
  h1 {
    margin-top: 0;

    @media screen and (max-width: $screen-sm) {
      font-size: 120%;
    }
  }

  h5 {
    font-size: 14px;
    margin-top: 10px;

    a {
      color: $gray;
    }
  }
}

.box-header {
  font-size: $font-size-base;
  margin: 0;

  a {
    color: $gray;
  }

  span {
    color: $brand-primary;
  }

  a:last-child {
    font-weight: bold;
  }
}


// Zajawka artykulu
// --------------------

.text-excerpt {
  margin-bottom: 0;

  strong {
    font-size: 20px;
  }
}

// Tresc artykulu
// --------------------

.text-body {
  font-size: $font-size-medium;

  @media screen and (max-width: $screen-sm) {
    font-size: $font-size-small;
  }

  img:not(.img-smile) {
    @include img-responsive;
  }

  @include link-color-darker;
  @include stripped-table;
}

// Przyciski edycji tekstu oraz dodawania nowego artykulu
// -----------------------------------------------------

#box-maintain {
  margin: 13px 0 20px 0;
}

// Wyswietlanie informacji o autorze
// --------------------------------

#box-author {
  blockquote {
    border: none;
    font-size: 14px;
    position: relative;
    padding: 0 0 0 25px;

    &:before {
      @include font-awesome($fa-var-quote-left);
      left: 0;
      color: $gray-light;
    }
  }

  .img-thumbnail {
    @media screen and (max-width: $screen-md) {
      display: none;
    }
  }
}

// Wyswietlanie informacji o wspolautorach danej strony
// -----------------------------------------------------

#box-authors {
  margin: 40px 0 20px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $gray-lighter;

      &:last-child {
        border-bottom: none;
      }

      a {
        padding: 5px 0;
        display: block;
        font-size: $font-size-small;
        text-shadow: 1px 1px 1px #FFF;
        color: $gray;

        &:hover {
          text-decoration: none;
          color: $alt-link-hover-color;
        }

        small {
          color: lighten($gray-light, 15%);
          display: block;
          float: right;
          padding-top: 7px;
        }
      }
    }
  }
}

#box-comment {
  margin-bottom: 20px;

  textarea {
    resize: vertical;
    min-height: 60px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .alert-popover {
    margin-top: 16px;
  }
}

// Style dla konkretnego, jednego komentarza do tekstu
// -------------------------------------------------------

.comment {
  color: $gray-light;
  position: relative;

  .list-inline {
    font-size: 11px;

    a {
      color: $gray-light;
    }

    li {
      padding-right: 0;
    }

    li:after {
      content: "â—";
      margin-left: 5px;
    }

    li:last-child:after {
      content: "\00a0 ";
    }
  }

  &:after, &:before {
    right: 100%;
    top: 22px;
    border: solid transparent;
    //content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    //border-color: rgba(136, 183, 213, 0);
    border-right-color: $body-bg;
    border-width: 8px;
    margin-top: -8px;
  }

  &:before {
    //border-color: rgba(194, 225, 245, 0);
    border-right-color: $border-color;
    border-width: 9px;
    margin-top: -9px;
  }

  // formularz edycji komentarza: domyslnie ukryty
  form.comment-form {
    display: none;

    button[type="submit"] {
      margin-left: 10px;
    }
  }
}

// Wyswietlanie przyciskow z nazwami kategorii w ktorych znajduje sie dana strona
// -------------------------------------------------------------------------------

.wiki-categories {
  margin-bottom: 10px;
  vertical-align: middle;

  .btn-warning {
    padding: 4px;
    font-weight: bold;
    box-shadow: 1px 1px $btn-warning-border;
    margin: 0 5px;
  }
}

// Wyswietlanie listy wpisow bloga 4programmers.net
// -------------------------------------------------

#blog {
  margin-top: 20px;

  .media-heading {
    font-size: 160%;
  }

  .blog-text {
    font-size: 110%;
  }

  @media screen and (max-width: $screen-sm) {
    .media-heading {
      font-size: 110%;
    }

    .blog-text {
      font-size: $font-size-small;
    }
  }
}

#blog-sidebar {
  padding-top: 10px;

  h4, strong {
    color: $gray-light;
  }

  .btn-primary {
    margin-top: 10px;
  }

  p {
    margin-top: 30px;
  }
}

.wiki-log {
  strong {
    a {
      color: $brand-primary;
      font-size: 12px;
    }
  }

  p {
    padding: 4px 0;
    margin: 0;
    font-size: 12px;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }
}

.root-map {
  margin-top: 20px;
  padding: 0;
  font-size: $font-size-small;

  a {
    color: $gray;
  }

  li {
    padding: 3px 0;
  }

  .depth-1 {
    font-weight: bold;
  }

  .depth-2 {
    margin-left: 20px;
  }
}

#diff {
  ins {
    color: green;
  }

  del {
    color: red;
  }
}
