{% extends 'layout.twig' %}
{% block title %}401{{ parent() }}{% endblock %}

{% block container %}
    <div id="page-404" class="row" style="margin-top: 20px">
        <div class="col-12">
            <h1>401</h1>

            <h4>Nie masz dostępu do tej strony.</h4>

            {% include 'errors/tips.twig' %}
        </div>
    </div>

{% endblock %}
