<ul class="list-unstyled">
    <li>
        <i class="fas fa-house fa-fw"></i>
        <a href="{{ route('home') }}">Przejdź do strony głównej</a>
    </li>

    <li>
        <i class="fas fa-info fa-fw"></i>
        <a href="{{ url('Kontakt') }}">Skontaktuj się z nami jeżeli uważasz, że to błąd</a>
    </li>

    <li>
        <i class="fas fa-asterisk fa-fw"></i>
        <a href="{{ url('Pomoc') }}">Potrzebujesz pomocy?</a>
    </li>
</ul>
