@charset "UTF-8";

.card-post {
  .card-body {
    padding: 10px 15px;
  }

  .card-footer {
    padding: .5rem;
  }
}

.post-avatar {
  margin: 5px 0;
  display: block;
  max-width: 75px;
}

.post-author {
  @include link-color-darker;

  font-size: 1rem;
}

.post-stats {
  font-size: $font-size-sm;

  li {
    padding: 2px 0;
  }

  strong {
    display: inline-block;
    width: 36%;
    font-weight: normal;
  }

  small {
    color: $text-muted;
  }
}

.post-vote {
  vertical-align: top;
  float: right;
  line-height: 120%;
  height: 100%;
}

.post-comments {
  margin: 15px 0 5px 15px;
  font-size: .75rem;
  padding-right: 50px;

  @include link-color-darker;

  .btn-comment-edit, .btn-comment-del {
    padding: 0 5px;
    color: $gray;
    display: none;
  }
}

.post-comment {
  border-top: 1px solid $border-color;
  padding: 5px 0 5px 0;
  margin-top: 1px;
  word-wrap: break-word;

  //&:last-child {
  //  border-top: 1px dotted $border-color;
  //}

  &:before {
    content: "▪";
  }
}

// "Kontener" dla posta
// --------------------------------------------------


.post-delete {
  color: theme-color-level("warning", $alert-color-level);
  background-color: theme-color-level("warning", $alert-bg-level);
  padding: 4px 10px;
  font-size: 11px;
  border-bottom: 1px solid $alert-warning-border;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

// klasa dodawana do tresci posta na okres podswietlania tresci
.post-body.highlight {
  > div.row:nth-child(even) {
    background-color: inherit;
  }
}



.col-user {
  .avatar {
    margin: 5px 0 10px 0;
  }

  p {
    font-size: 11px;
    color: $gray;
    margin: 0;
    padding: 2px 0;
    @include text-overflow();

    strong {
      width: 36%;
      display: inline-block;
      font-weight: normal;

      @include media-breakpoint-down(lg) {
        display: block;
        width: 100%;
      }
    }

    small {
      color: $gray-light;
    }
  }

  h5 {
    margin: 0;
    font-weight: bold;
    padding-left: 18px;
    position: relative;
    font-family: Arial, sans-serif;
    color: $gray;
    font-size: 0.85rem;

    &:before {
      @include font-awesome($fa-var-user);
      color: $link-color-darker;
      left: 0;
      font-weight: 900;
    }

    .badge {
      font-size: 90%;
      margin-top: -2px;
      margin-bottom: -2px;
      padding: 1px 5px;
    }

    @include link-color-darker;
    @include text-overflow;
  }

  h5.offline {
    &:before {
      color: $gray-300;
    }
  }
}



.col-body {
  vertical-align: top;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
}

.col-vote {
  width: 50px;
  vertical-align: top;
  float: right;
  line-height: 120%;
  height: 100%;
  position: absolute;
  right: 0;

  @include media-breakpoint-down(sm) {
    width: 40px;
  }
}


// Ikony do zarzadzania pod spodem postu
// -------------------------------------

.col-bottom {
  background-color: #ececec;

  // @todo ten styl tyczy sie wszystkich przyciskow pod postem? jest sens je wszystkie listowac?
  .btn-sub, .btn-share, .btn-comment, .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del, .btn-res, .btn-rollback, .dropdown-toggle {
    color: $text-color;
    opacity: .9;
    border: 1px solid transparent;

    &:hover {
      opacity: 1;
      border-color: $border-color;
    }

    i {
      font-size: $font-size-base;
    }
  }

  .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del, .btn-res {
    float: right;
  }

  .active {
    border-color: $gray;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    opacity: 1;

    &:hover {
      border: 1px solid $gray !important;
    }
  }

  .btn-multi-quote {
    border-right: 1px solid $border-color;
  }

  .btn-multi-quote.active {
    border-right: 1px solid #555;
  }

  .dropdown-toggle {
    background-color: transparent;
  }
}


// Tresc posta wraz z ikonami do glosowania, stopka czy komentarzami
// ------------------------------------------------------------------

.post-content {
  min-height: 89px;
  word-wrap: break-word;
  line-height: 139%;
  overflow: hidden;
  padding-right: 10px;
  margin-top: 10px;

  @include link-color-darker;
  @include stripped-table;

  // styles for better column width adjustment
  // @see https://github.com/adam-boduch/coyote/issues/347
  > table > tbody > tr > td,
  > table > tbody > tr > th {
    word-break: break-word;
  }

  hr {
    margin: 15px 0 5px 0;
    border-top-color: darken($gray-lighter, 10%);
    width: 25%;
  }

  footer {
    color: $gray-light;
    font-size: 90%;
    background: transparent;
  }

  // emoticons are NOT responsive
  img:not(.img-smile) {
    @include img-fluid;
  }
}

.list-attachments {
  margin: 15px 0 5px 10px;
  font-size: 11px;
}

.edit-info {
  font-size: 11px;
  padding: 5px 0;
  margin-top: 15px;
  color: $text-color;

  a {
    color: $text-color;
  }

  .btn-history {
    text-decoration: none;
  }
}

.vote-count, .vote-up, .vote-accept {
  color: lighten($gray-light, 10%);

  width: 36px;
  text-align: center;
  display: block;
}

.vote-up, .vote-accept {
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.vote-count {
  margin: 5px 0 15px 0;
  line-height: 120%;
}

.vote-up {
  .fas.fa-thumbs-up {
    display: none;
  }
}

.vote-up.on {
  color: $brand-primary;

  .fas.fa-thumbs-up {
    display: inline-block;
  }

  .far.fa-thumbs-up {
    display: none;
  }
}

.vote-up, .vote-count {
  font-size: $font-size-large;
}

.vote-accept {
  margin-top: 10px;
  font-size: $font-size-large + 1rem;
}

.vote-accept.on {
  color: $brand-primary;
}

div.tooltip-inner {
  font-size: 11px;
}

@include media-breakpoint-down(sm) {
  //.vote-up, .vote-count {
  //  font-size: $font-size-base;
  //}

  .vote-accept {
    font-size: $font-size-base + 0.6rem;
  }
}

// Komentarze na forum
// -----------------------

.comments {
  margin: 15px 0 5px 25px;
  font-family: Tahoma,sans-serif;
  font-size: .75rem;
  padding-right: 50px;

  @include link-color-darker;

  .btn-comment-edit, .btn-comment-del {
    padding: 0 5px;
    color: $gray;
    display: none;
  }

  > div {
    border-bottom: 1px dotted $border-color;
    padding: 5px 0 5px 0;
    margin-top: 1px;
    position: relative;
    word-wrap: break-word;

    &:first-child {
      border-top: 1px dotted $border-color;
    }

    &:before {
      content: "▪";
    }

    // Topic's author
    // -----------------

    .badge-primary {
      font-weight: normal;
      padding: 1px 5px;
      margin-top: -1px;
      font-size: 100%;

      > a:hover {
        text-decoration: none;
      }
    }

    .timestamp {
      color: $gray-light;

      &:hover {
        color: $alt-link-hover-color;
      }
    }

    &:hover {
      .btn-comment-edit, .btn-comment-del {
        display: inline-block;
      }
    }
  }

  .btn-show-all {
    color: $gray;
    font-size: 12px;
    padding: 2px 0 8px 1px;
    display: inline-block;

    &:hover {
      text-decoration: none;
      color: $alt-link-hover-color;
    }
  }

  form {
    overflow: hidden;
  }

  // dodatkowy margines dla formularza dodawania nowego komentarza (nie tego ktory edytujemy)
  > form {
    margin-top: 10px;
  }

  textarea {
    padding: 4px 5px;
    margin-bottom: 5px;
  }
}

// Formularz szybkiej odpowiedzi
// ----------------------------------------------------------

#box-fast-form {
  margin-bottom: 18px;

  textarea {
    height: 50px;
  }
}

// Cytowane posty na forum
// ----------------------------------------------------------

blockquote {
  color: $gray-light;

  > h5 {
    a {
      color: $gray !important;
      position: relative;
      padding-left: 16px;
      font-family: Helvetica, sans-serif;
      font-size: .8rem;

      &:before {
        @include font-awesome($fa-var-external-link-alt);
        left: 0;
        font-weight: 900;
      }
    }
  }
}
