<div role="tabpanel" class="tab-pane" id="attachments">
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nazwa pliku</th>
          <th>Typ MIME</th>
          <th>Data dodania</th>
          <th>Rozmiar</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for field in children %}
          {{ form(field) }}
        {% else %}
          <tr>
            <td colspan="5" class="text-center">Brak załączników.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer">
      <p class="text-muted"><small>Każdy załącznik może zawierać maksymalnie <strong>{{ config_get('filesystems.upload_max_size') }}MB</strong>. Dostępne rozszerzenia: <strong>{{ config_get('filesystems.upload_mimes')|split(',')|join(', ') }}</strong></small></p>

      <input class="input-file" type="file" name="attachment" style="visibility: hidden; height: 1px">
      <button type="button" id="btn-upload" class="btn btn-primary btn-sm">Dodaj załącznik</button>
    </div>
  </div>
</div>
