{% import 'legacyComponents.forms' as forms %}

<label {{ forms.attr(label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ ' col-form-label')|trim})) }}>{{ label }}{{ required ? ' <em>*</em>' }}</label>
