{% extends 'forms.themes.inline.row' %}
{% import 'components.forms' as forms %}

{% block label %}{% endblock %}
{% block wrap %}
    <button type="submit" style="margin-right: 15px;" {{ forms.attr(attr|merge({'class': 'btn btn-primary'})) }}>
        {{ label }}
    </button>
{% endblock %}