{% extends 'forms.themes.inline.row' %}
{% import 'legacyComponents.forms' as forms %}

{% block widget %}
    {{ form_hidden(name, value) }}

    <div {{ forms.attr(attr) }}>
        {{ attr.placeholder }}
    </div>
{% endblock %}
