@charset "UTF-8";

::selection {
  background-color: #444;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder,
:-moz-placeholder, 
::-moz-placeholder,
:-ms-input-placeholder {
  color: #999;
}

[v-cloak] {
  display: none !important;
}
