.microblog {
  @include media-breakpoint-down(md) {
    textarea::placeholder {
      color: transparent;
    }
  }

  .media-heading {
    margin-bottom: 2px;

    a {
      font-size: 16px;
      color: $link-color-darker;
    }
  }

  textarea {
    resize: none;

    // we need padding-right because of submit button next to textarea comment form
    padding-right: 32px;
  }

  .media-body {
    min-width: 0;  // thanks to this, text will not overflow its parent
  }
}

.microblog-text {
  padding: 10px 0;
  overflow: hidden;
  position: relative;

  @include link-color-darker;

  a {
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.microblog-text,
.comment-text {
  // emoticons are NOT responsive
  img:not(.img-smile) {
    @include img-fluid();
  }

  img.img-smile {
    width: 18px;
  }
}

.microblog-opg {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  .card-img-top {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 220px;
  }

  .card-body {
    padding: .75rem;
  }

  .card-title, p {
    margin-bottom: .5rem;
  }

  @include media-breakpoint-up(lg) {
    max-width: 50%;
  }
}

.show-more {
  position: absolute;
  bottom: 0;
  z-index: 9;
  display: none;
}

.microblog-wrap {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, white 65%);
  }

  .show-more {
    display: block;
  }
}

.microblog-tags {
  overflow: hidden;
  height: 28px;
  margin-left: auto;
  margin-right: .25rem;

  .tag-clouds-md {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
