@charset "UTF-8";

@import "../icons/icons";
@import "../../feature/theme/theme";

.btn-google, .btn-fb, .btn-github {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  cursor: pointer;

  .icon {
    width: 35px;
    float: left;
    height: 100%;
  }
}

$google-color: #e0492f;
$fb-color: #395697;
$github-color: #60b044;

@mixin socialize($color) {
  border: 1px solid $color;
  background-color: lighten($color, 10%);
  color: #fff;

  .icon {
    border-right: 1px solid darken($color, 5%);
  }

  &:hover {
    background-color: darken($color, 10%);
  }
}

.btn-google {
  @include socialize($google-color);
}

.btn-fb {
  @include socialize($fb-color);
}

.btn-github {
  @include socialize(#ccc);
  color: $gray;
  border: 1px solid #ccc;
  @include gradient-y(#fff, #f6f6f6);

  &:hover {
    @include gradient-y(#f6f6f6, #fff);
  }
}

#box-login, #box-register {
  .separator {
    color: $gray;
    margin: 15px 0;

    span {
      font-style: italic;
      padding: 10px;
      @include light {
        background-color: $body-bg;
      }
      @include dark {
        background-color: #252525;
      }
    }

    hr {
      margin-bottom: -10px;
      height: 0;
      @include light {
        border-top: 1px solid $gray-lighter;
      }

      @include dark {
        border-top: 1px solid #404040;
      }
    }
  }

  @include dark {
    input {
      background-color: #1a1a1a;
    }
  }
}
