@charset "UTF-8";

@import "../icons/icons";
@import "../../feature/theme/theme";

.btn-google, .btn-fb, .btn-github {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  cursor: pointer;
  white-space: nowrap;

  .icon {
    width: 35px;
    float: left;
    height: 100%;
  }
}

$google-color: #e0492f;
$fb-color: #395697;
$github-color: #60b044;

@mixin socialize($color) {
  border: 1px solid $color;
  background-color: lighten($color, 10%);
  color: #fff;

  .icon {
    border-right: 1px solid darken($color, 5%);
  }

  &:hover {
    background-color: darken($color, 10%);
  }
}

.btn-google {
  @include socialize($google-color);
}

.btn-fb {
  @include socialize($fb-color);
}

.btn-github {
  @include socialize(#ccc);
  color: $gray;
  border: 1px solid #ccc;
  @include gradient-y(#fff, #f6f6f6);

  &:hover {
    @include gradient-y(#f6f6f6, #fff);
  }
}
