@charset "UTF-8";

.btn-google, .btn-fb, .btn-github {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  cursor: pointer;

  .icon {
    width: 35px;
    float: left;
    height: 100%;
  }
}

$google-color: #e0492f;
$fb-color: #395697;
$github-color: #60b044;

@mixin socialize($color) {
  border: 1px solid $color;
  background-color: lighten($color, 10%);
  color: #fff;

  .icon {
    border-right: 1px solid darken($color, 5%);
  }

  &:hover {
    background-color: darken($color, 10%);
  }
}

.btn-google {
  @include socialize($google-color);
}

.btn-fb {
  @include socialize($fb-color);
}

.btn-github {
  @include socialize(#ccc);
  color: $gray;
  border: 1px solid #ccc;
  @include gradient-y(#fff, #f6f6f6);

  &:hover {
    @include gradient-y(#f6f6f6, #fff);
  }
}

#box-login, #box-register {
  .separator {
    color: $gray;
    margin: 15px 0;

    span {
      font-style: italic;
      background-color: $body-bg;
      padding: 10px;
    }

    hr {
      margin-bottom: -10px;
      height: 0;
      border-top: 1px solid $gray-lighter;
    }
  }
}

#box-login-sidebar, #box-register-sidebar {
  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: $font-size-lg;
    margin: 3% 0;

    &:after {
      @include font-awesome($fa-var-quote-right);
      top: 0;
      left: 0;
      color: $border-color;
      font-weight: 900;
    }
  }
}

#box-register-sidebar {
  h2 {
    font-size: $font-size-lg;
    margin-bottom: 20px;
  }

  blockquote {
    margin-bottom: 7%;
  }

  ul {
    margin: 10px 0;

    li {
      padding: 10px 0 10px 25px;
      position: relative;

      &:after {
        color: $success;
        left: 0;
        top: 10px;
        font-weight: bold;
        @include font-awesome($fa-var-check);
      }
    }
  }
}
