@charset "UTF-8";

#index {
  position: relative;
  margin-top: 20px;
  padding-right: 20%;

  > h1 {
    margin-top: 0;
  }

  @include media-breakpoint-down(xs) {
    .nav-tabs {
      li:nth-child(3), li:nth-child(4), li:nth-child(5) {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding-right: 0;
  }
}

.mainbar {
  width: 100%;
  float: left;
  padding-top: 15px;

  .nav {
    margin-bottom: 15px;
  }
}

// Stronnicowanie na forum (dodanie marginesow)
// ----------------------------------------------

.pagination {
  margin: 5px 0 0 0;
}

.card-wrapper {
  .card-body {
    .toggle {
      color: $gray-dark;
      margin: 2px 2px 0 0;
      font-size: 13px;

      .fa-plus-square {
        display: inline-block;
      }

      .fa-minus-square {
        display: none;
      }
    }

    .toggle.in {
      .fa-plus-square {
        display: none;
      }

      .fa-minus-square {
        display: inline-block;
      }
    }
  }
}

// Strona glowna forum
// ----------------------------------------------------------------------------------

@import "forum/home";

// Menu po prawej stronie w pasku narzedziowym forum
// ------------------------------------------------------------------------------------

@import "forum/sidebar";

// Lista watkow
// ----------------------------------------

@import "forum/category";

// Wyswietlanie zawartosci watku
// -----------------------------------------

@import "forum/topic";


// Formularz glosowania w ankiecie
// -------------------------------------------------------------

@import "forum/poll";
