@charset "UTF-8";

.box-help-category {
  h3 {
    border-bottom: 1px solid $card-border-color;
    color: $gray;
    padding-bottom: 10px;
    margin-bottom: 15px;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  ul {
    li {
      padding: 5px 0;
    }
  }
}

#help-sidebar
{
  ul {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0;

    li {
      padding: 3px 0;
      font-size: 12px;

      a {
        color: $gray;

        &.active {
          color: $primary;
          font-weight: bold;
        }
      }
    }
  }

  > ul {
    > li {
      > a {
        font-weight: bold;
      }
    }
  }
}

.arrow-1, .arrow-2 {
  position: absolute;
}
