@charset "UTF-8";
//@import "../helpers/variables";
//@import "../vendor/bootstrap/variables";

.box-help-category {
  h3 {
    border-bottom: 1px solid $card-border-color;
    color: $gray;
    padding-bottom: 10px;
    margin-bottom: 15px;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  ul {
    li {
      padding: 5px 0;
    }
  }
}

#help-sidebar
{
  ul {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0;

    li {
      padding: 3px 0;
      font-size: 12px;

      a {
        color: $gray;

        &.active {
          color: $primary;
          font-weight: bold;
        }
      }
    }
  }

  > ul {
    > li {
      > a {
        font-weight: bold;
      }
    }
  }
}

#about {
  text-align: center;
}

hr {
  margin: 2em 0;
}

#about h1 {
  font-size: 300%;
}

#about-logo {
  width: 60%;
  margin: 3em 0;
}

#about p {
  font-size: 1.4em;
  margin: 1em 0;
  line-height: 170%;
}

#about-forum, #about-microblog, #about-profile {
  position: relative;
  overflow: hidden;
}

#about-forum > p, #about-microblog > p, #about-profile p {
  font-size: 1.3em;
  position: absolute;
  width: 16%;
  line-height: 160%;
  text-align: justify;
}

#about-forum {
  > p {
    top: 40%;
    right: 0;
  }
  h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

#about-microblog h2, #about-profile h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 1em;
}

#about-forum > {
  .main {
    width: 80%;
  }
  .arrow-1 {
    top: 25%;
    right: 12%;
  }
}

#about-microblog > {
  .main {
    width: 80%;
    float: right;
  }
  p {
    left: 0;
    top: 25%;
  }
  .arrow-2 {
    left: 10%;
    top: 13%;
  }
}

#about-profile > {
  .main {
    width: 80%;
  }
  .arrow-1 {
    right: 11%;
    top: 11%;
  }
  p {
    top: 25%;
    right: 0;
  }
}

.arrow-1, .arrow-2 {
  position: absolute;
}
