@charset "UTF-8";

#box-reputation {
  margin-top: 10px;

  img {
    border-radius: 4px;
  }

  .progress {
    width: 70%;
    height: 23px;
    margin-bottom: 0;
  }

  .media {
    border-bottom: 1px solid $card-border-color;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
    &:after {
      content: '1';
      font-size: 40px;
      color: $card-border-color;
      position: absolute;
      right: 10px;
      top: 9px;
    }
    &:nth-child(2):after {
      content: '2';
    }
    &:nth-child(3):after {
      content: '3';
    }
  }
}

#box-forum {
  #stream-wrapper {
    background: url('/img/stream-last-feed.png') no-repeat;
    padding-top: 25px;
    padding-left: 2px;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      background-position-x: 10px;
      padding-left: 15px;
    }
  }

  #stream {
    height: 365px;
    position: relative;
    overflow: hidden;
  }

  .overview {
    border-left: 1px solid $card-border-color;
    margin: 10px 0 0 10px;

    @include media-breakpoint-down(sm) {
      border-left: none;
      margin-left: 0;
    }
  }

  .media {
    padding: 0 0 0 20px;
    font-size: 11px;
    position: relative;
    overflow: visible;

    &:not(:first-child) {
      margin-top: 15px;
    }

    span {
      box-shadow: 0 1px 2px #CCC;
      border-radius: 50%;
      border: 1px solid $card-border-color;
      background: #fff;
      position: absolute;
      width: 20px;
      height: 20px;
      left: -11px;
      top: 8px;

      &:after {
        font-family: 'Font Awesome 5 Free';
        display: block;
        margin-top: 1px;
        text-align: center;
        color: $gray-light;
      }

      &::selection {
        text-shadow: none;
      }
    }

    span.microblog:after {
      content: fa-content($fa-var-male);
    }

    span.comment:after {
      content: fa-content($fa-var-comments);
    }

    span.topic:after {
      content: fa-content($fa-var-file);
      font-weight: 400;
    }

    span.post:after {
      content: fa-content($fa-var-file-alt);
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .media-body {
    p {
      margin: 0;
      @include text-overflow();
    }

    strong {
      font-weight: normal;
      border-left: 1px solid $card-border-color;
      padding: 0 0 0 10px;
      margin: 10px 0 0 1px;
      display: block;
      font-family: "Open Sans",sans-serif;
    }
  }

  .media-object {
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    width: 32px;
    background: #fff;
    padding: 2px;
    border-radius: 3px;
  }
}

#box-forum-headline {

  margin-top: 20px;

  .row {
    border-bottom: 1px solid #e6e6e6;
    padding: 4px 0 4px 0;
    margin: 0;

    span.col-sm-2 {
      strong {
        display: block;
        text-align: center;
        font-size: 16px;
      }

      small {
        display: block;
        color: #7d7d7d;
        text-align: center;
        font-size: 10px;
      }
    }

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  a.title {
    color: $gray;
    display: block;
    @include text-overflow;
  }

  a.category {
    font-size: 11px;
  }

  .float-right {
    color: $gray-light;
    font-size: 10px;
  }
}
