@charset "UTF-8";

.recommended-users {
  .media {
    border-bottom: 1px solid $border-color;
    padding: .5rem 0 .5rem 0;


    &:last-child {
      border-bottom: none;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-up(xl) {
      align-items: center;
    }
  }



}


// @todo to przeniesc poniewaz nie dotyczy to tylko mikroblogow, ale to styl globalny
.highlight-flash {
  animation: flash 10s ease-in-out;
}

@keyframes flash {
  99% {
    background-color: #fff;
  }
  from {
    background-color: $unread-bg;
  }
}



