@charset "UTF-8";

.nav-tabs {
  margin: 0 0 20px 0;
}

#box-popular-tags {
  margin-top: 13px;
}

#box-popular-entries {
  > .media {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  p {
    line-height: 140%;
    padding: 10px 0 0 0;
    font-size: 12px;

    a {
      color: $gray-light;
    }
  }

  .media-heading {
    font-size: .8rem;

    a {
      color: $gray-darker;
    }
  }

  .btn-thumbs {
    font-size: 11px;
  }
}


input[placeholder] {
  text-overflow: ellipsis;
}

.microblog {
  .media-heading {
    margin-bottom: 2px;

    a {
      font-size: 16px;
      color: $link-color-darker;
    }
  }

  .btn-thumbs,
  .btn-reply,
  .btn-subscribe {
    padding: 2px 7px;
    color: $gray-light;
    position: relative;

    &:hover {
      border: 1px solid $border-color;
      @include gradient-y(#fff, $gray-lighter);
    }
  }

  .media {
    overflow: visible;
  }

  // Minimum height is 32px just like in <input> fields. Bootstrap sets height: auto to the textarea
  // We need to set minimum height for autogrow plugin.
  textarea {
    min-height: 32px;
    height: 32px; // for firefox
    resize: none;

    // we need padding-right because of submit button next to textarea comment form
    padding-right: 32px;
  }
}

.microblog-text {
  padding: 10px 0;
  overflow: hidden;
  position: relative;

  @include break-word;
  @include link-color-darker;

  // emoticons are NOT responsive
  img:not(.img-smile) {
    @include img-fluid();
  }

  > .thumbnails {
    margin-top: 20px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.microblog-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, white 100%);
}

.read-more {
  color: $gray;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  display: inline-block;

  &:hover {
    color: inherit;
  }

  &:before {
    @include font-awesome($fa-var-arrow-alt-circle-right);
    font-weight: 400;
    left: 0;
  }
}

// Comments block
// -------------------------

.microblog-comments {
  // One comment
  .media {
    border-top: 1px solid lighten($border-color, 5%);
    padding: 10px 5px 6px 5px;
    margin-top: 5px;

    // Media form for microblog's comment
    // ------------------------------------

    &.media-darker {
      background-color: darken($body-bg, 4%);
      border-top: none;
      border-radius: $border-radius-small;
    }

    .dropdown button {
      border: none;
    }

    .media-object {
      border: 1px solid $border-color;
      border-radius: $border-radius-base;
      background-color: #fff;
      padding: 4px;
    }

    .comment-body {
      @include break-word;

      width: calc(100% - 22px);

      img:not(.img-smile) {
        display: block;
        max-width: 100%;
      }
    }

    // Comment text
    // ----------------

    .media-content {
      font-size: 12px;
      display: inline;

      @include link-color-darker;

      // markdown moze "produkowac" <p> w tresci komentarza. pierwsza linia komentarza musi byc na rowni
      // z loginem stad takie dziwne zabiegi majace na celu zachowanie odstepow od paragrafow z jednoczesnym
      // wyrownaniem pierwszego <p> wzgledem loginu
      p:first-child {
        display: inline;
      }

      p:nth-child(2) {
        margin-top: 9px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    // set visible for dropdown in media-body
    .media-body {
      overflow: visible;
    }

    // User name
    // ---------------------

    h6 {
      @include link-color-darker;

      font-size: 13px;
      display: inline;
      margin-right: 3px;
    }
  }

  .btn-comment-submit {
    color: $gray;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: none;
    font-size: 15px;
  }

  .show-all {
    padding: 2px 0 2px 5px;

    a {
      color: $gray;
      font-size: 12px;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $alt-link-hover-color;
      }
    }
  }
}

.microblog-submit {
  textarea {
    width: 100%;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 6px 0;

    &:focus {
      outline: none;
    }
  }

  .submit-area {
    border-top: 1px solid $border-color;
    padding-top: 11px;
  }

  .img-thumbnail {
    border: none;
  }

  .btn-flush,
  .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btn-flush {
    display: none;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
  }

  .spinner {
    color: $gray;
    display: flex;
  }

  .thumbnail {
    position: relative;

    &:hover {
      .btn-flush {
        display: flex;
      }
    }

    img {
      height: 81px;
    }
  }

  // Komunikat informujacy o tym, ze obslugujemy markdown
  // --------------------------------------------------------------------------

  .alert-popover {
    top: -1px;
    left: 60px;
  }
}
