@charset "UTF-8";

@import "../icons/icons";

.statement {
  font-size: 14px;
  margin: 20px 0 17px 2px;
}

#box-reputation {
  .chart-bar {
    border-top: 1px solid $card-border-color;
    margin-top: 10px;
    padding-top: 10px;
  }

  .reputation-item {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $card-border-color;
    font-size: 12px;

    > div {
      padding-left: 3px;
    }

    small {
      display: block;
    }

    .headline {
      font-weight: normal;
      color: $link-color-darker;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

#box-stats {
  margin: 0 auto 10px auto;
  font-size: $font-size-sm;

  li {
    text-align: right;
    border: none;

    body.theme-dark & {
      border: 1px solid #2f2f2f;
    }

    strong {
      display: inline-block;
      width: 20%;
    }
  }
}

.well.empty-result {
  background-position: center left;
  margin-bottom: 0;
  min-height: 68px;
  padding: 12px 0;
}

.card-reputation-item {
  background: #eee;

  body.theme-dark & {
    background: #101010;
  }
}

.profile-user-skill strong {
  border-bottom: 1px solid #dee2e6;

  body.theme-dark & {
    border-bottom-color: #2f2f2f;
  }
}
