@charset "UTF-8";

#search-results {
  h2 {
    font-size: $font-size-large;

    @include link-color-darker;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  time {
    padding-left: .2rem;

    &:before {
      content: '•';
      padding-right: .2rem;
    }
  }
}
