@charset "UTF-8";

.side-menu {
  li a {
    padding-left: 0;
  }

  .text-danger > a {
    color: $danger;
  }
}

#box-start {
  .metadata {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $card-border-color;
    border-top: 0;
    margin-left: -2px;
  }

  h5 {
    color: $gray;
    font-family: Arial, sans-serif;
  }

  .progress {
    width: 50%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .box-reputation {
    margin-top: 10px;
  }
}

#box-alerts {
  @extend #app-pm;

  header {
    overflow: hidden;

    h4 {
      color: $gray-light;
      font-size: 11px;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    small {
      color: $gray-light;
      font-size: 10px;
    }
  }

  h2 {
    font-size: 13px;
  }

  h3 {
    color: $primary;
  }
}

#box-alerts {
  // w alertach prawie wszystko jest linkiem. chcemy zeby link odziedziczyl kolor
  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

#wrap {
  border-bottom: 1px solid $card-border-color;
  padding-bottom: 10px;
  position: relative;
  max-height: 430px;

  body.theme-dark & {
    border-bottom-color: #2f2f2f;
  }
}

#overview {
  margin-right: 15px;
}

#box-alerts-settings {
  .row {
    border-bottom: 1px solid $card-border-color;
    margin: 0;

    > div {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      border-right: 1px solid $card-border-color;
      text-align: center;

      &:last-child {
        border-right: none;
      }

      &:first-child {
        text-align: left;
      }

      input[type=checkbox] {
        margin: 0;
      }
    }

    &:last-child {
      border-bottom: none;

      > div {
        padding: 20px 0 0 0;
      }
    }

    &:nth-child(even) {
      background-color: #fafafa;
    }
  }
}

// nie chcemy aby zakladki na bialym tle mialy szare tlo. chodzi tutaj o zakladki formularza pisania
// nowej wiadomosci (umozliwiajace przelaczenie sie w tryb edycji oraz podgladu)
#app-pm {
  .nav-tabs {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        background-color: transparent;
        border-bottom-color: #fff;
      }
    }
  }
}

#js-skills {
  .form-group:last-child {
    margin-bottom: 0;
  }

  .fa-arrows-up-down-left-right {
    color: $gray-light;
    margin-right: 5px;
    cursor: move;
  }
}

.card-skills {
  .category-name {
    color: #6c757d;
    border-bottom: 1px solid #dee2e6;
  }
}
