@charset "UTF-8";
@import "../helpers/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

html {
  // relative is required to contain the absolute sidebar
  min-height: 100%;
  // minimum height make sure that if the content is below 100% of viewport, it will still allow the sidebar to be at 100%,
  // and if the content is greater than 100% of viewport, it will allow stretching
  position: relative;
}

body.padding-top {
  padding-top: 0;
}

#wrapper {
  padding: 0 15px 0 15px;
  margin-left: 222px;
}

#adm-header {
  background-color: #fff;
  border-bottom: 1px solid $card-border-color;

  > .col-12 {
    padding: 10px 15px;
  }
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $gray-light;
}

// Sidebar
// ----------------------

@import "adm/sidebar";

// Table (sorting)
// --------------------

@import "adm/table";
