{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "applescript",
          "css",
          "javascript",
          "markup"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
