/vendor
/node_modules
/storage/logs/*
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/css/*
/public/js/*
/public/uploads/*
/public/manifest.json
/resources/images/*
/tests
.idea_modules/
.idea/
.git/
.docker/
.data/
.env
.env.prod
.env.testing
.env.default
.editorconfig
.gitignore
.gitattributes
.codeception.yml
CHANGELOD.md
LICENSE
phpunit.xml
phpspec.yml
.styleci.yml
.travis.yml
