# Created by .ignore support plugin (hsz.mobi)
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php

/vendor
/node_modules
.env
supervisor.conf

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


tests/_output/*
tests/acceptance.suite.yml

app/Plugins/*

.vagrant
.data
Vagrantfile
/public/css/*
/public/js/*

# PhpUnit
.phpunit.result.cache

# Composer
/.composer
composer.phar

# Secrets
storage/oauth-private.key
storage/oauth-public.key
