# Project
.idea/
*.iml

# Composer
composer.phar
vendor/
.composer/

# PhpUnit
.phpunit.result.cache

# Node
node_modules/

# Laravel
.env
bootstrap/cache/

# Plugins
app/Plugins/

public/css/
public/js/

# Secrets
storage/oauth-private.key
storage/oauth-public.key
