.auto-complete {
  list-style-type: none;
  position: absolute;
  border: 1px solid $input-border-color;
  background: #fff;
  z-index: 10000;
  border-top: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  li {
    padding: 5px 0 5px 5px;
    cursor: pointer;
    color: gray;

    // deprecated. use <object>
    > img,
    object {
      vertical-align: middle;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url('/img/avatar.png');
        background-size: 16px 16px;
      }
    }

    object {
      display: inline-block;
    }

    b {
      color: $gray;
    }

    &.hover {
      background: #ddd;
    }
  }
}
