//@include media-breakpoint-down(xs) {
//  @include responsive-invisibility('.hidden-xxs');
//}

//@media (min-width: $screen-xlg-min) {
//  @include make-grid(xlg);
//}

$list: '.col-xlg-1';
@for $i from (1 + 1) through $grid-columns {
  $list: "#{$list}, .col-xlg-#{$i}";
}

#{$list} {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ceil(($grid-gutter-width / 2));
  padding-right: floor(($grid-gutter-width / 2));
}
