@charset "UTF-8";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-divider";

$header-height: 56px;

// odstep potrzebny z uwagi na klase .navbar-fixed-top ktora powoduje iz menu jest przyklejone do gornej krawedzi
body.fixed-top {
  padding-top: $header-height;
}

.navbar-fixed-top .navbar-collapse {
  max-height: initial; // fit height to content in mobile menu
}

:root {
  --header-font-family: "Open Sans", Arial, sans-serif;
  --header-font-size: 13px;
  --header-navbar-bg: url('/img/background.png') repeat;
  --header-color: #3c3c3c;
  --header-hover-color: #454545;
  --header-active-bg: #e7e7e7;
}

.navbar-dark {
  --header-font-family: "Horatio", "Open Sans", Arial, sans-serif;
  --header-font-size: 17px;
  --header-navbar-bg: #454545;
  --header-color: #fafafa;
  --header-hover-color: #80a41a;
  --header-active-bg: #454545;
  --header-group-link-color: #9d9d9d; // $gray-lighter
}

.navbar-header {
  background: var(--header-navbar-bg);
  border-bottom: 1px solid lighten($border-color, 2%);

  // Gorny, zielony pasek wyswietlany na samej gorze ekranu
  // --------------------------------------------------------------
  .navbar-border-top {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2Ps3MD5n0+AlQEEPn34zcA4/QDffxADBEASmALIWkCqAPDNEnJoA/jxAAAAAElFTkSuQmCC');
    border-bottom: 1px solid #888;
    height: 5px;
  }

  // dzieki temu menu jest bardziej wyposrodkowane w pionie
  .navbar-brand {
    padding-top: 10px;
  }

  .badge {
    position: absolute;
    background-color: #FF4A00;
    font-size: 9px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: inherit;
    text-overflow: inherit;
    max-width: 100%;
  }

  .badge.new {
    padding: 2px 3px;
    top: 4px;
    right: -10px;
    z-index: 1;

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  // there is no space between navbar and menu
  .dropdown-menu {
    margin: 0;
  }
}

// Glowne menu aplikacji. Po naprowadzeniu kursora myszy nad pozycja pokazujemy liste podmenu
// ---------------------------------------------------------------------------------------

.nav-desktop {
  // temporary arrow
  position: relative;

  > .active > a {
    &,
    &:hover,
    &:focus {
      color: var(--header-hover-color);
      background-color: var(--header-active-bg);
    }
  }

  &:before {
    position: absolute;
    top: -5px;
    left: 135px;
    width: 20px;
    height: 29px;
    background: url('/img/arrow.png') no-repeat;
    z-index: 100;
  }

  > li {
    // show dropdown menu on hover
    &:hover .dropdown-menu {
      display: block;
      top: 100%;
    }

    > a {
      &:hover,
      &:focus {
        color: var(--header-hover-color);
        background-color: var(--header-active-bg);
      }
    }
  }
}

// @todo ojoj, do refaktoryzacji
.nav-desktop > li > a,
.nav-mobile > li > a,
.nav-mobile > li button,
.nav-mobile > li form {
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);

  padding-left: 10px;
  padding-right: 10px;
}

.nav-mobile {
  // usuniecie niepotrzebnego marginesu na urzadzeniach mobilnych
  margin-top: 0;

  .divider {
    @include nav-divider(darken($gray-lighter, 10%));
  }

  .btn {
    display: block;
  }

  .btn-sign-out {
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-header-search {
  background: url('/img/main-menu-separator.png') no-repeat 0 100%;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 0;

  > div {
    position: relative;

    input {
      border-radius: 3px;
      padding: 5px 30px 5px 5px;
      border: 1px solid $input-border;
      color: $gray-light;
      width: 180px;
      line-height: 20px;
    }

    .input-group-btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    input:focus, button:focus {
      outline: none;
    }
  }
}

.nav-avatar {
  margin-top: 9px;
  margin-left: 20px;

  a {
    color: $gray;

    &:hover {
      text-decoration: none;
    }
  }
}

// Notifications and private messages button
// ------------------------------------------
.nav-auth {
  margin:0;
}

.nav-auth > li {
  float: left;

  > a {
    padding: 19px 9px 13px 9px;
    color: $gray-light;

    i {
      font-size: 14px;
    }

    > .badge {
      top: 8px;
      right: -1px;
    }

    @media screen and (max-width: $screen-sm) {
      display: inline-block;
    }
  }

  .dropdown-modal {
    // nim zaladuje sie JS - pretty scrollbar, lista powiadomien wyjezdza poza okno, dlatego
    // dodalem overflow: hidden
    overflow: hidden;
  }

  @media screen and (max-width: $screen-sm) {
    // na urzedzeniach mobilnych okno powiadomien oraz wiadomosci prywatnych musi byc rozciagniete na cala szerokosc
    position: static;
  }
}

.btn-register {
  margin-left: 10px;
  color: var(--header-color);
  border: 1px solid var(--header-color);

  &:hover, &:focus {
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

.btn-login {
  color: var(--header-color);

  &:hover, &:focus {
    color: $brand-primary;
  }
}

.profile-name {
  font-weight: bold !important;

  &:hover {
    background-color: transparent !important;
  }
}

.mega-menu {
  white-space: nowrap;
  padding: 5px 10px;

  .mega-menu-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #464646;
    padding-bottom: 5px;

    @include text-overflow;
    max-width: 200px;
  }

  .mega-menu-body {
    display: table-cell;
    padding: 10px;
    border-right: 1px solid $border-color;

    &:last-child {
      border-right: none;
    }
  }

  li > a {
    color: var(--header-group-link-color);
    padding: 3px 0;
    display: block;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

// tymczasowy blok na "czarnej" skorki

.navbar-dark {
  .dropdown-menu:not(.dropdown-alerts):not(.dropdown-messages) {
    background-color: $header-navbar-bg-color;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    box-shadow: 0 2px 2px rgba(0,0,0,.2), inset 0 4px 10px rgba(0,0,0,0.15);
    border: none;

    > li > a,
    .btn-sign-out {
      color: lighten($gray-light, 15%);

      &:hover,
      &:focus {
        color: #CACACA;
        background-color: #717171;
      }
    }

    &:after, &:before {
      border: none;
    }
  }

  /////

  .divider {
    background-color: $gray-light;
    margin: 8px;
  }

  .mega-menu {
    .mega-menu-title {
      color: $gray-lighter;
      border-bottom: none;
      font-weight: normal;
    }

    .mega-menu-body {
      border-right-color: #575757;
    }
  }

  .nav-avatar {
    .img-thumbnail {
      background-color: #717171;
      border: none;
    }
  }

  .nav-auth > li {
    > a {
      color: #fff;

      &:hover {
        color: $brand-primary;
        background: transparent;
      }
    }

    &.open > a {
      color: var(--header-navbar-bg);
      background-color: #fafafa;
    }
  }

  .dropdown-alerts, .dropdown-messages {
    border-top: 0;

    &:after, &:before {
      border: none;
    }
  }
}

.navbar-toggle .icon-bar {
  background-color: var(--header-color);
}

////////////////////////////////////////////////////////////////

// logout button
.btn-sign-out {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 5px 20px;
  font-size: 13px;

  &:focus, &:active {
    outline: none;
  }
}

.dropdown-messages, .dropdown-alerts {
  top: 100%;
  width: 420px;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute !important;
  right: 0;
  left: auto;

  .dropdown-header {
    background-color: #f8f8f8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    padding: 10px !important;

    a {
      color: $gray-light;
      float: left;
    }
  }

  &:after {
    border-bottom-color: #f8f8f8;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    background-color: transparent;
    border: 1px solid $border-color;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    // DO NOT show triangle above menu (only for mobile devices)
    &:after, &:before {
      content: none;
    }
  }
}

.dropdown-modal {
  position: relative;
  background-color: #fff;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 6px;
      border-bottom: 1px solid $body-bg;
      clear: both;
      overflow: hidden;
      position: relative;

      a {
        display: block;
        padding: 7px 0;
        position: relative;

        &:hover, &:focus {
          text-decoration: none;
        }

        img {
          width: 35px;
          float: left;
          vertical-align: middle;
          margin-right: 6px;
        }

        div {
          overflow: hidden;
        }

        header {
          overflow: hidden;
          white-space: nowrap;

          h4 {
            color: $gray-light;
            float: left;
            font-size: 11px;
            max-width: 70%;
            margin: 0;
            @include text-overflow();
            font-family: Arial, sans-serif;
          }

          small {
            float: right;
            color: $gray-light;
            font-size: 10px;
            max-width: 29%;
          }
        }

        h3 {
          font-size: 100%;
          clear: both;
          margin: 1px 0;
          font-weight: bold;
          font-family: Arial, sans-serif;
          color: $brand-primary;

          @include text-overflow();
        }

        p {
          padding-right: 3px;
          margin: 0;
          color: $gray;
        }
      }

      .btn-delete-alert {
        position: absolute;
        right: 6px;
        top: 13px;
        padding: 6px;
        display: none;
      }
    }

    li:hover {
      background-color: $body-bg;

      .btn-delete-alert {
        display: block;
      }
    }

    li.unread {
      background-color: $unread-bg;

      &:hover {
        background-color: $unread-bg-hover;
      }
    }
  }
}

#btn-mark-read {
  display: inline-block;
  width: 12px;
  height: 12px;
  float: right;
  opacity: .7;
}

#btn-write-message {
  float: right;
  font-size: 11px;
  font-weight: normal;;
}

/* Za malo miejsca w pionie, by wyswietlac przyklejony navbar */
@media (min-aspect-ratio: 18/3) {
  /* zostawiamy navbar na gorze strony */
  .navbar-fixed-top {
    position: absolute;
  }

  /* ukrywamy przyklejona sciezke podstrony, na ktorej sie znajdujemy */
  body .breadcrumb[id] {
    display: none;
  }
}
