@charset "UTF-8";

$header-height: 56px;

// odstep potrzebny z uwagi na klase .navbar-fixed-top ktora powoduje iz menu jest przyklejone do gornej krawedzi
body.padding-top {
  padding-top: $header-height;
}

.navbar-fixed-top .navbar-collapse {
  max-height: initial; // fit height to content in mobile menu
}

:root {
  --header-font-family: "Open Sans", Arial, sans-serif;
  --header-font-size: 13px;
  --header-navbar-bg: url('/img/background.png') repeat;
  --header-color: #3c3c3c;
  --header-hover-color: #454545;
  --header-active-bg: #e7e7e7;
}

.navbar-dark {
  --header-font-family: "Open Sans", Arial, sans-serif;
  --header-font-size: 13px;
  --header-navbar-bg: #454545;
  --header-color: #eee;
  --header-hover-color: #80a41a;
  --header-active-bg: #454545;
  --header-group-link-color: #9d9d9d; // $gray-lighter
}

.header-root {
  display: flex;
  align-items: center;
}

.navbar-header {
  background: var(--header-navbar-bg);
  border-bottom: 1px solid lighten($border-color, 2%);
  float: none; // set menu to 100% of window width

  // Gorny, zielony pasek wyswietlany na samej gorze ekranu
  // --------------------------------------------------------------
  .navbar-border-top {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2Ps3MD5n0+AlQEEPn34zcA4/QDffxADBEASmALIWkCqAPDNEnJoA/jxAAAAAElFTkSuQmCC');
    border-bottom: 1px solid #888;
    height: 5px;
  }

  .badge {
    position: absolute;
    background-color: #FF4A00;
    font-size: 9px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: inherit;
    text-overflow: inherit;
    max-width: 100%;
    color: #fff;
  }

  .badge.new {
    padding: 2px 3px;
    top: 4px;
    right: -10px;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  // there is no space between navbar and menu
  .dropdown-menu {
    margin: 0;
  }
}

// Glowne menu aplikacji. Po naprowadzeniu kursora myszy nad pozycja pokazujemy liste podmenu
// ---------------------------------------------------------------------------------------

%menu-link {
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--header-hover-color);
    background-color: var(--header-active-bg);
  }
}

.nav-desktop {
  // temporary arrow
  position: relative;
  list-style-type: none;
  //float: left;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    position: relative;

    // show dropdown menu on hover
    &:hover .dropdown-menu {
      display: block;
      top: 100%;
    }

    > a {
      @extend %menu-link;

      padding: 16px 10px;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: -5px;
    left: 135px;
    width: 20px;
    height: 29px;
    background: url('/img/arrow.png') no-repeat;
    z-index: 100;
  }
}

.nav-mobile {
  list-style-type: none;
  // usuniecie niepotrzebnego marginesu na urzadzeniach mobilnych
  margin-top: 0;

  > li > a {
    @extend %menu-link;

    padding: 5px 0;
  }

  .divider {
    @include nav-divider(darken($gray-lighter, 10%));
  }

  .btn {
    display: block;
  }

  .btn-sign-out {
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-search {
  background: url('/img/main-menu-separator.png') no-repeat 0 100%;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 0;

  > div {
    position: relative;

    input {
      border-radius: 3px;
      padding: 5px 30px 5px 5px;
      border: 1px solid $input-border;
      color: $gray-light;
      width: 180px;
      line-height: 22px;
    }

    .input-group-btn {
      position: absolute;
      right: 0;
      top: 0;
    }

    input:focus, button:focus {
      outline: none;
    }
  }
}

.nav-avatar {
  //margin-top: 9px;
  margin-left: 20px;

  a {
    color: $gray;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    background-color: #fff;
  }

  .dropdown-toggle:after {
    display: none;
  }
}

// Notifications and private messages button
// ------------------------------------------
.nav-auth {
  margin:0;
}

.nav-auth > li {
  position: relative;

  > a {
    padding: 15px 9px;
    display: block;
    color: $gray-light;
    position: relative;

    i {
      font-size: 14px;
    }

    > .badge {
      top: 5px;
      right: -1px;
    }

    @include media-breakpoint-down(sm) {
      display: inline-block;
    }
  }

  .dropdown-modal {
    // nim zaladuje sie JS - pretty scrollbar, lista powiadomien wyjezdza poza okno, dlatego
    // dodalem overflow: hidden
    overflow: hidden;
  }

  @include media-breakpoint-down(sm) {
    // na urzedzeniach mobilnych okno powiadomien oraz wiadomosci prywatnych musi byc rozciagniete na cala szerokosc
    position: static;
  }
}

.btn-register {
  margin-left: 0;
  background-color: $brand-primary;
  color: #fff;

  &:hover, &:focus {
    color: #fff;
  }
}

.btn-login {
  color: var(--header-color);

  &:hover, &:focus {
    color: $brand-primary;
  }
}

.profile-name {
  font-weight: bold !important;

  &:hover {
    background-color: transparent !important;
  }
}

.mega-menu {
  white-space: nowrap;
  padding: 5px 10px;

  .mega-menu-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #464646;
    padding-bottom: 5px;

    @include text-overflow;
    max-width: 9vw;
  }

  .mega-menu-body {
    display: table-cell;
    padding: 10px;
    border-right: 1px solid $border-color;

    &:last-child {
      border-right: none;
    }
  }

  li > a {
    color: var(--header-group-link-color);
    padding: 3px 0;
    display: block;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

// tymczasowy blok na "czarnej" skorki

.navbar-dark {
  .dropdown-menu:not(.dropdown-alerts):not(.dropdown-messages) {
    background-color: $header-navbar-bg-color;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    box-shadow: 0 2px 2px rgba(0,0,0,.2), inset 0 4px 10px rgba(0,0,0,0.15);
    border: none;

    > li > a,
    .btn-sign-out {
      color: lighten($gray-light, 15%);

      &:hover,
      &:focus {
        color: #CACACA;
        background-color: #717171;
      }
    }

    &:after, &:before {
      border: none;
    }
  }

  /////

  .divider {
    background-color: $gray-light;
  }

  .mega-menu {
    .mega-menu-title {
      color: $gray-lighter;
      border-bottom: none;
      font-weight: normal;
    }

    .mega-menu-body {
      border-right-color: #575757;
    }
  }

  .nav-avatar {
    .img-thumbnail {
      background-color: #717171 !important;
      border: none;
    }
  }

  .nav-auth > li {
    > a {
      color: var(--header-color);

      &:hover {
        color: $brand-primary;
        background: transparent;
      }
    }

    &.open > a {
      color: var(--header-navbar-bg);
      background-color: #fafafa;
    }
  }

  .dropdown-alerts, .dropdown-messages {
    border-top: 0;

    &:after, &:before {
      border: none;
    }
  }

  .nav-search {
    input {
      border: none;
      background-color: $gray-light;
      color: var(--header-color);

      &::placeholder {
        color: inherit;
      }
    }

    .input-group-btn button {
      color: var(--header-color);
    }
  }

  .nav-desktop > li > a {
    font-weight: bold;
  }
}

.navbar-toggle .icon-bar {
  background-color: var(--header-color);
}

////////////////////////////////////////////////////////////////

.dropdown-messages, .dropdown-alerts {
  top: 100%;
  width: 420px;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute !important;
  right: 0;
  left: auto;
  display: block;

  .dropdown-header {
    background-color: #f8f8f8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    padding: 10px !important;

    a {
      color: $gray-light;
    }
  }

  &:after {
    border-bottom-color: #f8f8f8;
  }

  @include media-breakpoint-down(sm) {
    background-color: transparent;
    border: 1px solid $border-color;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    left: 0;
    width: 100%;
    border-radius: 0;

    .dropdown-header {
      border-radius: 0;
    }

    // DO NOT show triangle above menu (only for mobile devices)
    &:after, &:before {
      content: none;
    }
  }
}

.dropdown-modal {
  position: relative;
  background-color: #fff;
  max-height: 420px;

  .ps__rail-y {
    right: 0 !important;
    left: auto !important;
    z-index: 10;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .notification {
    border-bottom: 1px solid $body-bg;
    position: relative; // we need this to position remove button in notification

    &:hover {
      background-color: $body-bg;

      .btn-delete-alert {
        display: block;
      }
    }

    &.unread {
      background-color: $unread-bg;

      &:hover {
        background-color: $unread-bg-hover;
      }
    }
  }

  .media-object {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
    }
  }

  .notification-link {
    display: block;
    padding: 7px 6px;
  }

  .btn-delete-alert {
    position: absolute;
    right: 6px;
    top: 13px;
    padding: 6px;
    display: none;
  }

  .media-body {
    header {
      h4 {
        color: $gray-light;
        float: left;
        font-size: 11px;
        max-width: 70%;
        margin: 0;
        @include text-overflow();
        font-family: Arial, sans-serif;
      }

      small {
        float: right;
        color: $gray-light;
        font-size: 10px;
      }
    }

    h3 {
      font-size: 100%;
      clear: both;
      margin: 1px 0;
      font-weight: bold;
      font-family: Arial, sans-serif;
      color: $brand-primary;
    }

    p {
      padding-right: 3px;
      margin: 0;
      color: $gray;
      clear: both;
    }
  }
}

.btn-write-message {
  float: right;
  font-size: 11px;
  font-weight: normal;;
}

/* Za malo miejsca w pionie, by wyswietlac przyklejony navbar */
@include media-breakpoint-down(sm) {
  /* zostawiamy navbar na gorze strony */
  .navbar-fixed-top {
    position: absolute;
  }

  /* ukrywamy przyklejona sciezke podstrony, na ktorej sie znajdujemy */
  body .breadcrumb[id] {
    display: none;
  }
}
