{% set variant = random(['null', 'green', 'green-dashed']) %}

<script>var __job_variant = '{{ variant }}';</script>

<section class="box sidebar-job-offers {{ variant }}">
    <h4><a href="{{ route('job.home') }}" title="Szukaj pracy jako programista">Oferty pracy</a></h4>

    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'components.jobs' %}

            <div class="media">
                <a href="{{ route('job.home') }}" class="text-align">Więcej ofert pracy</a>
            </div>
        </div>
    </div>
</section>
