<section id="box-job-offers" class="box sidebar-job-offers">
    <h4><a href="{{ route('job.home') }}" title="Szukaj pracy jako programista">Oferty pracy</a></h4>

    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'components.jobs' %}

            <div class="media">
                {% set city = location.city_name and location.city_name != '-' ? location.city_name : (location.name ? location.name : '') %}

                {% if city %}
                    <a href="{{ route('job.city', [city]) }}" class="text-align">Więcej ofert w pobliżu {{ city }}</a>
                {% else %}
                    <a href="{{ route('job.home') }}" class="text-align">Więcej ofert pracy</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
