{% extends 'job.base' %}

{% block title %}Nasza oferta :: Praca {{ parent() }}{% endblock %}

{% block container %}
  <script>
    var plans = {{ plans|raw }};
  </script>
  <div id="js-business" class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-xl-8">
      <h1 class="text-center mt-4 mb-4">
        Dodaj ofertę pracy w kilku <br>
        prostych krokach
      </h1>
      <vue-pricing :plans="plans" @select="submitUrl"></vue-pricing>
      <p class="text-center mt-3">
        Masz pytania? Skontaktuj się z nami pod adresem
        <a href="mailto:{{ config('mail.from.address') }}" class="neon-color-link-light">
          {{ config('mail.from.address') }}
        </a>.
      </p>
    </div>
  </div>
{% endblock %}
