{% extends 'job.base' %}
{%- block title -%}
    Moje oferty pracy

    {{ parent() }}
{%- endblock -%}

{% block fixed %}
    {% include 'job.partials.header' %}

    {{ parent() }}
{% endblock %}

{% block container %}
    <div class="panel panel-wrapper margin-md-top">
        <div class="panel-body">
            <div class="panel panel-default margin-md-top">
                <div class="panel-body">
                    {{ grid(grid) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
