{% extends 'layout.twig' %}
{% block title %}Praca :: Lorem ipsum{{ parent() }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">

                <div class="panel-body">

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/img/apple-touch.png" style="width: 65px; height: 65px;" alt="Power Media S.A.">
                            </a>
                        </div>
                        <div id="job-offer" class="media-body">
                            <h1 class="media-heading"><a href="#">Junior Web Developer</a></h1>

                            <ul id="metadata" class="list-inline">
                                <li title="Lokalizacja">
                                    <i class="fa fa-home"></i>
                                    <a href="#">Toruń</a>
                                </li>
                                <li title="Data opublikowania">
                                    <i class="fa fa-calendar"></i>
                                    02 marzec 2006, 13:34
                                </li>
                                <li class="counter">
                                    <i class="fa fa-eye"></i>
                                    3166 odsłon
                                </li>
                                <li title="Oferta traci ważność z dniem 31 kwiecień 2016, 19:03">
                                    <i class="fa fa-clock-o"></i>
                                    180 dni do końca
                                </li>
                                <li>
                                    <i class="fa fa-pencil"></i>
                                    Umowa o pracę
                                </li>
                            </ul>

                            <ul class="tag-clouds">
                                <li><a href="#">java</a></li>
                                <li><a href="#">jee</a></li>
                            </ul>

                            <h2>Opis oferty</h2>

                            <div>
                                Adipiscing augue sociis tristique cras. Egestas mattis! Scelerisque tincidunt duis purus eros, vel ac, platea scelerisque? Non nunc, ut phasellus sagittis nisi mauris sit, parturient habitasse massa sociis, elementum dictumst, porttitor, proin tempor in, odio augue, amet porta tincidunt elementum enim massa? Lundium urna porta a eros vel a lacus, adipiscing? A! A lectus, placerat etiam ac facilisis elit lundium? Porta? Risus non dis dolor purus in nec ac ultricies, mus magna enim hac nisi? Porttitor in et in cras? Placerat ultrices, integer elit! Aliquet purus elementum egestas ac sed? Et. Aenean cras dictumst! Pellentesque a mattis sagittis integer? Vel vut natoque cursus elit. Aliquet, augue sed ut. Ultricies proin ac, porttitor. Nunc amet etiam proin sagittis egestas ridiculus augue.

                                Et mus in cursus porttitor porttitor in sagittis scelerisque, non nec ac, turpis in odio! Dignissim cursus dis diam adipiscing vel ut turpis, enim ac turpis et a a! Facilisis parturient ut et porttitor vel. Integer ut habitasse ac, quis. Pulvinar sit tincidunt et. Facilisis tincidunt, etiam. Quis porttitor, in! Augue sed quis, porta rhoncus odio nunc parturient pulvinar, et magna. Aliquet eros. Urna elementum nascetur magna, purus. Elementum enim penatibus auctor cras turpis sed non augue, cursus etiam, elit augue nisi cum sagittis urna, nascetur, sagittis. Montes ac? Turpis porta? Ut nisi turpis dictumst nec porta in tincidunt, dignissim a. Augue cum. Magna tincidunt purus magna, phasellus nisi nunc etiam adipiscing vel! Et turpis penatibus sed urna porta.
                            </div>

                            <h2>Oferujemy</h2>

                            <ul id="benefits" class="list-group row">
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Karta multisport (lub podobna)</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Kuchnia</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Darmowe przekąski</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Darmowe posiłki</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Darmowa kawa i inne napoje</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Pokój gier</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Elastyczne godziny pracy</li>
                                <li class="list-group-item col-xs-6"><i class="fa fa-check fa-fw"></i> Imprezy i wyjazdy integracyjne</li>
                            </ul>

                            <h2>O 4programmers.net</h2>

                            <div>
                                <blockquote>Lorem ipsum lores</blockquote>

                                Urna ut ac. Montes in phasellus risus! Nec parturient odio dolor platea amet egestas, elementum amet ultrices porttitor odio, placerat egestas, mauris dolor? Vel nisi porttitor penatibus amet a? Mattis. Augue? Cras, egestas. Phasellus phasellus! Adipiscing urna, odio, diam pulvinar porttitor eu tincidunt, sit? Lacus vut magna, augue sed! Tristique ut amet cras urna auctor? Tempor? Natoque aliquam sed amet penatibus? Lundium nunc sit purus sagittis lundium adipiscing ac natoque proin? Aliquam cum in, eros? Nascetur nisi et in. Turpis natoque ultricies aliquet auctor sagittis nisi? Tortor vel, dis placerat lacus risus mattis montes sit! Mid pulvinar habitasse ultricies? A augue eu magna, mattis magna augue, ultricies, vel augue, diam nec elit lorem hac velit lorem cras! Enim ac.
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <aside class="col-sm-3">
            {#<section id="box-maintain">#}
                {#<a href="#" class="btn btn-sm btn-default">Edycja</a>#}
                {#<a href="#" class="btn btn-sm btn-primary">Nowa strona</a>#}
            {#</section>#}

            <ul class="side-menu">
                <li class="btn-watch">
                    <a href="javascript:">Dodaj do ulubionych</a>
                </li>
                <li class="btn-edit">
                    <a href="javascript:">Edycja tej oferty</a>
                </li>
                <li class="btn-delete">
                    <a href="javascript:">Usuń tę ofertę pracy</a>
                </li>
                <li class="btn-move">
                    <a href="javascript:">Przenieś na forum</a>
                </li>
                <li class="btn-flag">
                    <a href="javascript:">Zgłoś naruszenie</a>
                </li>
            </ul>

            <section id="box-job-firm" class="box">
                <h4><i class="fa fa-info-circle fa-fw"></i> O firmie</h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-home fa-fw"></i>
                                ul. Powstańców Śląskich 1/2
                            </li>
                            <li>
                                <i class="fa fa-link fa-fw"></i>
                                <a href="#">http://4programmers.net</a>
                            </li>
                            <li>
                                <i class="fa fa-users fa-fw"></i>
                                51 - 100 pracowników
                            </li>
                            <li>
                                <i class="fa fa-calendar-o fa-fw"></i>
                                Rok założenia: 2000
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="box-job-offers" class="box">
                <h4><i class="fa fa-suitcase fa-fw"></i> <a href="#">Zobacz też</a></h4>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/img/apple-touch.png" style="width: 50px; height: 50px;" alt="Power Media S.A.">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                                <p><a href="#">Power Media S.A.</a></p>
                                <small><a href="#">Wrocław</a> • do 5000 zł</small>
                            </div>
                        </div>

                        <div class="media">
                            <a href="#" class="text-align">Więcej ofert w pobliżu Wrocław</a>
                        </div>
                    </div>
                </div>
            </section>

        </aside>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/css/job.css">
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}