{#Email z linkiem umozliwiajacym zresetowanie hasla#}
{% extends 'emails.layout' %}

{% block content %}
    Kliknij na poniższy link aby ustawić nowe hasło: <a href="{{ url('Password/reset/' ~ token) }}?email={{ user.getEmailForPasswordReset()|url_encode }}">{{ url('Password/reset/' ~ token) }}?email={{ user.getEmailForPasswordReset()|url_encode }}</a>
{% endblock %}