@import "../../icons/icons";

.github {
  position: relative;

  &:before {
    @include content-icon-brand($icon-application-github-profile);
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 15px;
    color: $gray-light;
  }

  input {
    padding-left: 30px;
  }
}
