
.card-job {
  > .card-body {
    padding: 10px 15px;
  }

  .skeleton-media,
  .media-object {
    width: 95px;
    height: 95px;
  }

  .skeleton-header {
    width: 100%;
    height: 20px;
  }

  .media-object {
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .salary {
    clear: both;
  }

  .job-options {
    margin-bottom: 0;
    color: $text-muted;
    font-size: 11px;

    a {
      color: inherit;
    }
  }

  .on {
    color: lighten($alt-link-hover-color, 5%);
  }

  &.highlight {
    background-color: $unread-bg;
  }
}

.list-group-tech {
  list-style: none;
  margin: 0;

  &.inline {
    display: flex;
    align-items: center;
    flex-direction: row;

    .list-group-item a:hover:after {
      @include remove-overlay();
    }
  }

  .list-group-item {
    display: inline-block;
    border-radius: $border-radius-lg;
    margin-right: 5px;
    background: darken($tag-bg, 2%);
    border: none;
    padding: 0;

    a {
      color: $gray-light;
      font-size: $font-size-sm;
      display: block;
      padding: 5px;
      text-decoration: none;
      white-space: nowrap;

      &.disabled {
        opacity: .7;

        img {
          @include grayscale;
        }
      }
    }

    img {
      width: 17px;
    }

    input[type=checkbox] {
      display: none;
    }

    label {
      font-weight: normal;
      margin: 0;
    }
  }
}

.job-search-form {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  > .input-item {
    position: relative;
    margin-left: 15px;
    padding-right: 15px;
    display: flex;

    &.keyword-search {
      margin-left: 0;
    }

    &.keyword-search,
    &.location-search {
      flex-basis: 35%;
    }

    &.salary-search {
      flex-basis: 20%;
    }

    &.button-search {
      flex-basis: 10%;
      padding-right: 0;
    }

    &.extended {
      @include media-breakpoint-up(md) {
        //flex-basis: 50%;
        //transition: all 300ms cubic-bezier(.25, .46, .45, .94);
        //transition-delay: .1s;

        &:after,
        &:before {
          bottom: -11px;
          left: 11px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          z-index: 1;
        }

        &:after {
          border-color: rgba(245, 245, 245, 0);
          border-bottom-color: #f5f5f5;
          border-width: 6px;
          margin-left: -6px;
        }

        &:before {
          border-color: rgba(221, 221, 221, 0);
          border-bottom-color: #ddd;
          border-width: 7px;
          margin-left: -7px;
        }
      }
    }
  }

  .fa-icon {
    font-size: 16px;
    color: lighten($gray-light, 10%);
    padding-top: 7px;
    flex: 0 0 auto;
  }

  .fa-angle-down, .fa-angle-up {
    right: 5px;
  }

  button[type=submit] {
    width: 100%;
  }

  .form-control {
    border: none;
    box-shadow: none;
    flex: 1 1 auto;
  }

  @include media-breakpoint-up(sm) {
    > .input-item {
      &.keyword-search,
      &.location-search {
        border-right: 1px solid $card-border-color;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-flow: column nowrap;

    > .input-item {
      margin-left: 0;
    }
  }
}

.job-filter-form {
  .btn-salary {
    border: 1px solid $card-border-color;
    background: #f5f5f5;
    text-align: center;
    display: block;
  }

  @include media-breakpoint-up(sm) {
    .form-group-salary {
      float: right;
    }
  }

  @include media-breakpoint-down(sm) {
    .filters {
      position: relative;
    }

    .list-group-tech {
      white-space: nowrap;
    }
  }
}

#card-subscribed,
#card-published {
    position: relative;
    max-height: 400px;
}

// Post offer button (for employers)
// -----------------------------------------------------------

#post-offer {
  margin-top: 35px;
  margin-left: 17%;

  h4 {
    text-indent: -9999px;
    background: url('/img/hand-writing-for-employers.png') no-repeat;
    background-size: contain;
    height: 27px;

    animation: wiggle 2.5s infinite;
    animation-iteration-count: 3;
  }

  p {
    font-size: 11px;
    margin: 8px 0 0 2px;
    text-decoration: underline;
  }

  .btn-primary {
    font-size: 14px;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.medal {
  margin-left: 8px;
  margin-top: 0;
  display: inline-block;
  background: url('/img/medal.png') no-repeat;
  width: 20px;
  height: 20px;
}

// Label with "Promo" label
// ---------------------------

.top-spot-badge {
  background-color: theme-color-level("danger", $alert-bg-level);
  position: absolute;
  color: theme-color-level("warning", $alert-color-level);
  font-size: 11px;
  font-weight: normal;
  margin-left: -7px;
  border-radius: 0;
  margin-top: 5px;
  z-index: 1000;
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 7px 8px 0;
    border-color: transparent theme-color-level("warning", $alert-color-level) transparent transparent;
    left: 0;
    top: 16px;
    position: absolute;
  }
}
