@charset "UTF-8";
@import "../../feature/theme/theme";

.alert-warning {
  font-size: $font-size-sm;

  a {
    font-weight: bold;
  }
}

.alert.alert-danger {
  a:not(.badge),
  a {
    color: darken($danger, 10%);
    font-weight: bold;
  }

  .post-comment & {
    margin-bottom: 0.25rem;
  }
}

.alert.alert-press {
  @include light {
    --bs-alert-bg: var(--bs-body-bg);
    --bs-alert-border-color: var(--bs-border-color);
  }
  @include dark {
    --bs-alert-bg: #252525;
    border: var(--bs-alert-border); // this overrides global dark alert color
    --bs-alert-border-color: #2f2f2f;
  }
}
