@charset "UTF-8";

.alert-warning {
  font-size: $font-size-sm;

  a {
    font-weight: bold;
  }
}

// Kolor linkow w komunikacie bledow
// ------------------------------------------------------------------------------------

.alert-danger {
  a {
    color: darken($danger, 10%);
    font-weight: bold;
  }
}

.vue-notification a {
  color: inherit;
  text-decoration: underline;
}
