@charset "UTF-8";

.alert-warning {
  font-size: $font-size-sm;

  a {
    font-weight: bold;
  }
}

.alert.alert-danger {
  a:not(.badge),
  a {
    color: darken($danger, 10%);
    font-weight: bold;
  }

  .post-comment & {
    margin-bottom: 0.25rem;
  }
}
