.badge {
  color: #fff;

  > a {
    color: inherit !important;
  }
}

.badge-primary {
  background-color: #80a41a;
  color: #fff;
}

.badge-secondary {
  background-color: $gray-light;
}

.label-new {
  background-color: #FF4A00;
}
