@import "../helpers/variables";

ul.breadcrumb {
  font-size: 0.95em;

  .breadcrumb-item {
    a, span {
      color: $gray;
    }

    + .breadcrumb-item {
      &::before {
        content: "»";
      }
    }

    .leaf {
      display: none;
    }
  }

  &#breadcrumb-fixed,
  .footer-top &,
  {
    .leaf {
      display: inline;
    }

    span.leaf {
      font-weight: bold;
    }
  }
}

#breadcrumb-fixed {
  position: fixed;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(220, 218, 216, 0.75);
  background: $gray-lighter;
  border-bottom: 1px solid $card-border-color;
  border-left: 1px solid $card-border-color;
  border-right: 1px solid $card-border-color;
  padding: 5px 8px;
  top: 48px;
  bottom: 0;
  z-index: 999;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;

  ul {
    margin: 0 !important;
  }
}
