@charset "UTF-8";

@use "../../feature/theme/theme" as theme;

.btn-xs {
  padding: 0.1rem 0.4rem;
}

.btn-follow {
  @extend .btn-outline-primary;

  &.follows {
    @extend .btn-primary;

    &:hover {
      @extend .btn-danger;
    }
  }
}

.post-action,
.microblog-action {
  font-size:     0.95em;
  display:       inline-block;
  border-radius: 4px;
  padding:       2px 7px; // overrides bootstrap padding
  color:         inherit;
  border:        1px solid transparent;
  cursor:        pointer;

  &:hover {
    @include theme.light {
      border:     1px solid #ddd;
      background: #f7f7f7
    }

    @include theme.dark {
      border:     1px solid #2f2f2f;
      background: #292929;
    }
  }
}
