@charset "UTF-8";

.btn-xs {
  padding: 0.1rem 0.4rem;
}

.btn-follow {
  @extend .btn-outline-primary;

  &.follows {
    @extend .btn-primary;

    &:hover {
      @extend .btn-danger;
    }
  }
}

.btn-gradient {
  padding: 2px 7px;
  color: $gray-light;
  position: relative;

  &:hover {
    border: 1px solid $card-border-color;
    @include gradient-y(#fff, $gray-lighter);
  }
}
