@charset "UTF-8";

@use "../../feature/theme/theme" as theme;

.btn-xs {
  padding: 0.1rem 0.4rem;
}

.btn-follow {
  @extend .btn-outline-primary;

  &.follows {
    @extend .btn-primary;

    &:hover {
      @extend .btn-danger;
    }
  }
}

.microblog-actions {
  .microblog-action {
    padding: 2px 7px; // overrides bootstrap padding
    color:   inherit;

    &:hover {
      @include theme.light {
        border:           1px solid #ddd;
        background-image: linear-gradient(to bottom, #fff 0%, #eee 100%)
      }

      @include theme.dark {
        border:           1px solid #2f2f2f;
        background-image: linear-gradient(to bottom, #2f2f2f 0%, #212121 100%);
      }
    }
  }
}
