body.theme-dark {
  .nav.nav-panel,
  .card-tabs {
    &:before,
    &:after {
      display: none;
    }

    a.nav-item {
      color: #acacac;
      border-color: #2f2f2f;
      border-bottom: none;

      &.active {
        background: #1a1a1a;
      }

      &:before,
      &:after {
        display: none;
      }

      span {
        color: #acacac;
      }
    }
  }
}
