body.theme-dark {
  .card {
    color: inherit;
  }

  color: #acacac;

  * {
    text-shadow: none !important;
  }

  h1 {
    color: #dedede;
  }

  header { // TODO Remove after new homepage
    nav.navbar {
      .btn-register {
        background-color: #789b17;
        color: #1a1a1a;
      }
    }
  }

  .breadcrumb {
    li.breadcrumb-item {
      a {
        color: #acacac;
      }

      & + li.breadcrumb-item:before {
        color: #789b17;
      }
    }
  }

  h1.topic-title {
    color: #acacac;
  }

  .card {
    background: #1a1a1a;
    border-color: #2f2f2f;
  }

  main {
    &.mainbar {
      ul#sort li a {
        text-shadow: none;
        color: #acacac;
      }
    }

    .post-delete,
    .comment-delete {
      color: #f7e8cf;
      background-color: #5f3e26;
    }

    .card-section {
      color: #acacac;
    }

    .card-categories {
      .category-last-topic {
        color: #acacac;
      }

      ul.list-sub .list-inline-item {
        i {
          color: #789b17;
        }

        a {
          color: #acacac;
        }
      }
    }

    .card.card-topics {
      a.small,
      a.topic-icon {
        color: #789b17;
      }

      a time {
        color: #6c757d;
      }

      .card-body.flagged {
        color: #f7dddc;
        background-color: #5c2726;

        &:nth-child(even) {
          background-color: #712b29;
        }

        a time,
        .topic-statistic,
        .topic-statistic .topic-has-reply,
        {
          color: #acacac;
        }

        a,
        a.username,
        .topic-pagination,
        .topic-pagination i,
        {
          color: inherit;
        }
      }

      .card-body.tagged {
        &,
        &:nth-child(even) {
          background-color: #1d3404;
          border: none;
        }
      }

      .card-body.tagged + .card-body.tagged {
        border-top: 1px solid #324106;
      }
    }

    div {
      .card.card-post {
        .card-header {
          .small a time {
            color: #acacac;
          }
        }

        .card-body {
          .post-avatar {
            background: #121212;
            border-color: #242a30;
          }

          .post-stats {
            strong {
              color: #acacac;
            }

            small {
              color: #8f9ba5;
            }
          }

          .post-content {
            color: #acacac;

            a {
              color: #789b17;
            }

            footer {
              color: #6c757d;
            }

            hr {
              border-top-color: #2f2f2f;
            }
          }

          .post-vote {
            strong.vote-count,
            a.vote-up {
              color: #919191;

              &.on {
                color: #789b17;
              }
            }

            a.vote-accept.on {
              color: #afe225;
            }
          }

          .post-comments {
            .show-all-comments a {
              color: #acacac;
            }

            .post-comment {
              color: #acacac;
              border-top: 1px solid #2f2f2f;

              a {
                time {
                  color: #8f9ba5 !important;

                  &:hover {
                    text-decoration-color: #8f9ba5 !important;
                  }
                }
              }
            }
          }

          .edit-info {
            color: #acacac;

            a {
              color: #789b17;
            }
          }

          form {
            .form-group {
              label.custom-control-label {
                color: #acacac;
              }
            }

            .card {
              background-color: #272727;
              border-color: #242a30;

              .card-body {
                ul li {
                  border-color: #2f2f2f;
                }
              }
            }
          }
        }

        .card-footer {
          border-top: 1px solid #2f2f2f;

          button,
          .btn {
            color: #acacac;

            &:hover {
              background: #2b2b2b;
              border-color: #323232;
            }
          }
        }
      }

      .page-pagination {
        .page-page-selector {

        }
      }

      form {
        .btn.btn-danger {
          color: #1d1d1d;
          background-color: #9f3835;
          border: none;
        }
      }

      section.page-change-category {
        i.fa-circle-arrow-right {
          color: #c8c8c8;
        }

        select {
          color: #c8c8c8;
          background-color: #272727;
          border-color: #404040;

          &:focus {
            color: #c8c8c8;
            background-color: #323232;
            border-color: #789b17;
          }
        }
      }
    }
  }

  ul.side-menu {
    li {
      &.divider {
        border-bottom: 1px solid #2f2f2f;
      }

      .side-menu-item {
        color: #acacac;
      }

      &.action-link a {
        color: #acacac;

        &:hover {
          color: #d0d0d0;
        }
      }
    }
  }

  aside {
    .btn.btn-secondary.btn-sm {
      border: 1px solid #404040;

      &:hover {
        color: #789b17;
      }
    }
  }

  .tag-clouds {
    li span {
      color: #acacac;
      background: #282828;
    }
  }

  .topic-container {
    a.topic-username {
      color: #5e7813;
    }

    .topic-row {
      .topic-subject {
        .topic-unread {
          color: #d6d6d6;
        }

        small {
          color: #6c757d;
        }
      }

      .topic-pagination {
        i {
          color: #789b17;
        }
      }
    }

    .topic-statistic {
      color: #8f9ba5;
    }

    ul.tag-clouds {
      li a {
        background-color: #282828;
        color: #acacac;
      }
    }
  }

  ul.breadcrumb {
    li.breadcrumb-item {
      &:last-child:not(:first-child) a {
        color: #acacac;
      }

      span {
        color: #c8c8c8;
      }
    }

    &#breadcrumb-fixed {
      box-shadow: none;
      background: #333;
      border-color: #555;
    }
  }

  #vcard {
    border: 2px solid #242a30;
    box-shadow: none;
    padding: 0;
    background-color: #101010;

    #vcard-content {
      background-color: #101010;

      .list-inline {
        color: #acacac;

        border-bottom-color: #2f2f2f !important;
      }
    }
  }

  .img-thumbnail {
    background: #121212;
    border-color: #242a30;
  }

  .nav.nav-tabs {
    &.card-header-tabs {
      .nav-item .nav-link {
        background: #1a1a1a;
      }
    }
  }

  .btn.btn-secondary {
    color: #dedede;
    background: #1a1a1a;
    border-color: #2f2f2f;
    border-width: 2px;
  }

  select.form-control {
    color: #c8c8c8;
    background-color: #272727;
    border-color: #404040;

    &:focus {
      color: #c8c8c8;
      background-color: #323232;
      border-color: #789b17;
    }
  }

  .pagination {
    .page-item {
      .page-link {
        background-color: #1a1a1a;
        color: #acacac;
      }

      &.active {
        .page-link {
          background-color: black;
          color: #acacac;
        }
      }

      &.disabled {
        .page-link {
          background-color: #1e1e1e;
          color: #8f9ba5;
        }
      }
    }
  }

  #js-submit-form {
    input {
      background-color: #1a1a1a;
    }
  }

  .stream .media:not(:last-child) {
    border-bottom: 1px solid #333;
  }
}

.topic-username {
  color: #333;
}
