body.theme-dark {
  #box-register,
  #box-login {
    input {
      background-color: #1a1a1a;
    }

    .row.separator {
      span {
        background-color: #252525;
      }

      hr {
        border-top: 1px solid #404040;
      }
    }
  }
}
