body.theme-dark {
  .modal .modal-dialog {
    .modal-content {
      color: #acacac;
      background-color: #101010;
      border: 2px solid #242a30;

      .modal-header {
        button.close {
          color: #dedede;
        }

        h4 {
          color: #acacac;
          border: none;
          box-shadow: none;
        }
      }

      .modal-footer {
        .btn.btn-danger {
          background: #f36561;
          color: #1a1a1a;
          border-width: 1px;
        }
      }

      .modal-header,
      .modal-footer {
        border-color: #242a30;
        border-width: 2px;
      }

      .list-group {
        .list-group-item {
          border-color: rgba(36, 42, 48, 0.50);
          background-color: #101010;
        }
      }
    }
  }
}

