body.theme-dark {
  #box-alerts-settings .row {
    border-bottom-color: #2f2f2f;

    > div {
      border-right-color: #2f2f2f;
    }

    &:nth-child(even) {
      background-color: unset;
    }
  }

  .card-skills {

    .category-name {
      color: #acacac;
      border-bottom-color: #2f2f2f;
    }
  }

  #box-start .metadata {
    border-bottom-color: #2f2f2f;
  }
}
