html.theme-dark {
  color-scheme: dark;
}

body.theme-dark {
  h4.heading {
    box-shadow: none;
    color: #c8c8c8;
    border-bottom: 2px solid #2f2f2f;
  }

  .card-footer {
    border-top: 1px solid #2f2f2f;
  }

  .progress {
    background: linear-gradient(180deg, #908f8f 49%, #757575 100%);

    span {
      color: #1a1a1a;
    }

    .progress-bar {
      background: linear-gradient(180deg, #aed91d 50%, #abd600 100%);;
    }
  }

  .related ul li {
    border-bottom-color: #2f2f2f;

    a {
      strong {
        color: #acacac;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #90ba1d;
        }
      }

      small {
        color: #8f9ba5;
      }
    }
  }

  .badge-secondary {
    background-color: #404040;
  }

  .form-control-plaintext {
    color: #acacac;
  }

  .input-group-text {
    border-color: #2f2f2f;
    background-color: #101010;
    color: #acacac;
  }

  .tag-editor {
    border-color: #2f2f2f;
    background-color: unset;

    input {
      color: #eee;
      background-color: unset;
    }
  }

  .auto-complete {
    background: black;
    color: #acacac;
    border-color: #2f2f2f;

    .hover {
      background: #202020;
      color: #c0c0c0;
    }
  }
}
