body.theme-dark {
  .alert {
    border: none;

    a, strong, h4 {
      color: white;
    }

    &.alert-warning {
      color: #f7e8cf;
      background-color: #5f3e26;
    }

    &.alert-danger {
      color: #f7dddc;
      background-color: #712b29;
    }

    &.alert-success {
      color: #def1de;
      background-color: #306030;
    }

    &.alert-info {
      color: #def2f8;
      background-color: #244d59;
    }

    button.close {
      color: white;
      opacity: 0.7;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
