body.theme-dark {
  .employer {
    color: #acacac;
  }

  #hire-me {
    .card-hire-me {
      border-color: #2f2f2f;
    }

    .card-header {
      background-color: $primary;

      h4 {
        color: #fff;
      }

      img {
        background-color: transparent;
      }
    }

    @each $name, $color in (java, #ae2e2e), (javascript, #968425), (csharp, #873b89), (php, #3d72b7), (python, #447c9c), (cpp, #48739e), (c, #acbccc) {
      > .#{$name} {
        > .card-hire-me {
          border-color: $color;

          .hire-me-header {
            background-color: $color;
          }
        }
      }
    }
  }

  .card-media {
    .media {
      border-bottom-color: #2f2f2f;
    }

    .media-link h5 {
      color: #90ba1d;
    }
  }

  #job-offer.card-body {
    .media {
      .media-body {
        section {
          border-bottom-color: #2f2f2f;
        }
      }

      .requirements strong {
        border-bottom-color: #2f2f2f;
      }
    }
  }

  #plan-table {
    .plan-benefits > li {
      border-bottom-color: #2f2f2f;
    }

    .plan {
      background-color: #1a1a1a;
      border-color: #2f2f2f;

      .plan-header {
        background: rgba(255, 255, 255, 0.03);
      }

      &.selected {
        .plan-header {
          background-color: #80a41a;
        }
      }
    }

    .plan-benefits > li,
    .plan-features > li {
      border-bottom-color: #2f2f2f;
    }
  }

  #form-fixed {
    background-color: #101010;
    border-top-color: #2f2f2f;

    button.next-tab {
      color: #eee;
    }
  }

  .job-form .col-form-label,
  .job-form .checkbox label {
    color: #acacac;
  }

  .job-navlinks a {
    color: #acacac;
  }
}
