body.theme-dark {
  .card-tabs {
    &:before,
    &:after {
      display: none;
    }

    a.nav-item {
      color: #acacac;
      background: #3c3c3c;
      border-color: #2f2f2f;
      border-bottom: none;
      background: linear-gradient(180deg, #212121 50%, #151515 100%);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 black;

      &.active {
        background: #1a1a1a;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
      }

      &:before,
      &:after {
        display: none;
      }

      span {
        color: #acacac;
      }
    }
  }
}
