body.theme-dark {
  footer {
    .footer-inner {
      h6, h6 > a {
        color: #eee;
      }

      div.col-md-2.col-sm-4 {
        border-color: #575757;

        ul li > a {
          color: #9d9d9d;
        }
      }
    }
  }
}
