body.theme-dark {
  .editor {
    hr {
      border-top-color: #2f2f2f;
    }

    .nav-pills {
      border-bottom-color: #2f2f2f;

      .nav-link.active {
        color: #acacac;
      }

      .btn-toolbar {
        button {
          color: #acacac;
        }
      }
    }

    .form-control {
      background-color: unset;
    }

    .emoji-picker-container .emoji-picker .card .emoji-grid {
      .emoji-scroll {
        .category {
          h5 {
            color: #acacac;
            border-color: #2f2f2f;
          }

          .category-emojis img.emoji:hover {
            background: #272727;
            border: 1px solid #2f2f2f;
          }
        }
      }

      .emoji-preview-box {
        background: #272727;
        border-color: #2f2f2f;
      }
    }
  }
}
