.dropdown-menu {
  border: 1px solid $card-border-color;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  top: 116%;

   > li > a {
     padding: 5px 20px;
     font-size: 13px;
   }
}

.dropdown-menu.dropdown-menu-right {
  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    right: 10px;
    border-bottom-color: #fff; // kolor tla
    border-width: 8px;
  }

  &:before {
    right: 9px;
    border-bottom-color: $card-border-color; // kolor obramowania
    border-width: 9px;
  }
}

.dropdown-menu.dropdown-menu-left {
  @extend .dropdown-menu, .dropdown-menu-right;

  &:after {
    left: 10px;
  }

  &:before {
    left: 9px;
  }
}
