.employer {
  color: $gray;
}

.card-media {
  .media-link {
    display: flex;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 7px;

    h5 {
      color: $link-color-darker;
    }
  }

  h5 {
    padding-bottom: 1px;
    font-size: $font-size-base;
    font-weight: bold;
    color: $primary;
  }

  p {
    font-size: $font-size-sm;
    margin: 3px 0;

    a {
      color: inherit;
    }
  }

  .tag-clouds {
    > li {
      > span {
        margin: 0;
      }
    }
  }
}

.card-job {
  .media {
    p.location {
      border-bottom: 1px solid #dee2e6;
    }
  }
}

.card-job-missing {
  background-color: #eee;
}

#form-fixed {
  .next-tab {
    color: #333333;
  }
}
