@import "../generated/sprites";

.logo-python,
.logo-php,
.logo-java,
.logo-javascript,
.logo-cc,
.logo-cinet,
.logo-mobilne,
.logo-delphiipascal,
.logo-webmastering,
.logo-bazydanych,
.logo-rust,
.logo-go,
.logo-gamedev {
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    visibility: hidden;
  }
}

.logo-python {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='110.421' height='109.846' version='1.0'%3E%3Cdefs%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23ffe052'/%3E%3Cstop offset='1' stop-color='%23ffc331'/%3E%3C/linearGradient%3E%3ClinearGradient gradientUnits='userSpaceOnUse' y2='168.101' x2='147.777' y1='111.921' x1='89.137' id='d' xlink:href='%23a'/%3E%3ClinearGradient id='b'%3E%3Cstop offset='0' stop-color='%23387eb8'/%3E%3Cstop offset='1' stop-color='%23366994'/%3E%3C/linearGradient%3E%3ClinearGradient gradientUnits='userSpaceOnUse' y2='131.853' x2='110.149' y1='77.07' x1='55.549' id='c' xlink:href='%23b'/%3E%3C/defs%3E%3Cg color='%23000'%3E%3Cpath style='marker:none' d='M99.75 67.469c-28.032 0-26.281 12.156-26.281 12.156l.031 12.594h26.75V96H62.875s-17.938-2.034-17.938 26.25 15.657 27.281 15.657 27.281h9.343v-13.125s-.503-15.656 15.407-15.656h26.531s14.906.241 14.906-14.406V82.125s2.263-14.656-27.031-14.656zM85 75.938a4.808 4.808 0 0 1 4.813 4.812A4.808 4.808 0 0 1 85 85.563a4.808 4.808 0 0 1-4.813-4.813A4.808 4.808 0 0 1 85 75.937z' fill='url(%23c)' overflow='visible' transform='translate(-44.938 -67.469)'/%3E%3Cpath d='M100.546 177.315c28.032 0 26.281-12.156 26.281-12.156l-.03-12.594h-26.75v-3.781h37.374s17.938 2.034 17.938-26.25c0-28.285-15.657-27.282-15.657-27.282h-9.343v13.125s.503 15.657-15.407 15.657h-26.53s-14.907-.241-14.907 14.406v24.219s-2.263 14.656 27.031 14.656zm14.75-8.469a4.808 4.808 0 0 1-4.812-4.812 4.808 4.808 0 0 1 4.812-4.813 4.808 4.808 0 0 1 4.813 4.813 4.808 4.808 0 0 1-4.813 4.812z' style='marker:none' fill='url(%23d)' overflow='visible' transform='translate(-44.938 -67.469)'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
  background-size: cover;
}

.logo-php {
  @include sprite('logo-php');
  height: 20px; // different proportion
}

.logo-java {
  @include sprite('logo-java');
}

.logo-javascript {
  @include sprite('logo-javascript');
}

.logo-cc {
  @include sprite('logo-cpp');
}

.logo-cinet {
  @include sprite('logo-csharp');
}

.logo-mobilne {
  @include sprite('logo-android');
}

.logo-webmastering {
  @include sprite('logo-css');
}

.logo-delphiipascal {
  @include sprite('logo-lazarus');
}

.logo-bazydanych {
  @include sprite('logo-postgresql');
}

.logo-rust {
  @include sprite('logo-rust');
}

.logo-go {
  @include sprite('logo-go');
}

.logo-gamedev {
  @include sprite('logo-unity');
}
