header nav {
  .logo {
    background: url('/img/logo/light.svg') no-repeat;
    background-size: contain;
    height: 30px;
    width: 22.5px;

    body.theme-dark & {
      background-image: url('/img/logo/dark.svg');
    }
  }
}
