a code {
  color: $primary;
}

kbd {
  text-shadow: 0 1px 0 white;
  border: 1px solid #9ea5ae;
  box-shadow: 0 1px 1px hsla(210, 8%, 5%, 0.15), inset 0 1px 0 0 hsl(0deg, 0%, 100%);
  font-weight: normal;
  font-style: normal;
  text-decoration: initial;
}

mark {
  background-color: #fffe9e;
}
