@import "../../feature/theme/theme";

.microblog-input {
  background-color: #eee;
}

.microblog-statistic {
  color: #6c757d;
}

ul.microblog-comment-list {
  li a {
    color: #6c757d;

    &:hover {
      color: #4c6210;
    }

    &.vote-active {
      color: #90ba1d;

      &:hover {
        color: #4c6210;
      }
    }
  }
}

.microblog-comment-action {
  @include color-theme(#6c757d, #8f9ba5);
  cursor: pointer;
}
