.page-link,
.page-item.disabled > .page-link {
  border-radius: 5px;
  margin: 0 2px;
}

.page-item.active > .page-link {
  font-weight: bold;
}

@include media-breakpoint-down(md)  {
  .pagination-sm .page-link {
    font-size: $font-size-sm;
    padding: $pagination-padding-y-sm - .1rem $pagination-padding-x-sm - .1rem;
  }

  .pagination {
    > li {
      display: none;
    }

    > li:first-child,
    > li:last-child,
    > li.disabled,
    > li:nth-child(2),
    > li:nth-child(3),
    > li:nth-last-child(2),
    > li.active {
      display: inline;
    }
  }
}
