@charset "UTF-8";

.side-menu {
  padding: 0;
  list-style-type: none;

  > li {
    position: relative;

    &.divider {
      margin-bottom: 4px;
      margin-top: 4px;
      border-bottom: 1px solid $card-border-color;
    }

    > a {
      color: $gray-dark;
      cursor: pointer;
      display: block;
      padding: 8px 0 8px 5px;
      text-shadow: 1px 1px #fff;
      font-weight: bold;
      font-size: 12px;
      opacity: .8;
      @include text-truncate();

      i {
        font-size: 15px;
        margin-right: 5px;
      }

      &:hover {
        color: $primary;
        text-decoration: none;

        i {
          color: $gray-dark;
          opacity: 1;
        }
      }

      &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}

.btn-subscribe {
  &.on .fa-bell {
    color: lighten($alt-link-hover-color, 5%);
  }

  small {
    color: $gray-light;
  }
}
