@charset "UTF-8";

.side-menu {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin-bottom: 2px;
    border-bottom: 1px solid $card-border-color;
    position: relative;

    > a {
      color: $gray-dark;
      cursor: pointer;
      display: block;
      padding: 8px 0 8px 5px;
      text-shadow: 1px 1px #FFF;
      font-weight: bold;
      font-size: 12px;
      opacity: .8;
      @include text-truncate();

      i {
        font-size: 15px;
        margin-right: 5px;
      }

      &:hover {
        color: $primary;
        text-decoration: none;

        i {
          color: $gray-dark;
          opacity: 1;
        }
      }

      &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  //.on:hover {
  //  i {
  //    color: lighten($alt-link-hover-color, 5%);
  //  }
  //}
}


// Favorite icon can be shown in multiple places
// ------------------------------------------------

.btn-subscribe {
  .fas.fa-star {
    display: none;
  }

  &.on {
    .far.fa-star {
      display: none;
    }

    .fas.fa-star {
      display: inline-block;
      color: lighten($alt-link-hover-color, 5%);
    }
  }

  small {
    color: $gray-light;
  }
}
