$thumbnail-size: (
        95: 95px,
        70: 70px,
        35: 35px,
        38: 38px,
        45: 45px,
        16: 16px,
);

@each $name, $size in $thumbnail-size {
  .i-#{$name} {
    width: $size;
    height: $size;
  }
}
