.vue-notification-group {
  width: 100% !important;
  max-width: 1600px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0.75rem;
  pointer-events: none;

  span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .vue-notification-wrapper {
      pointer-events: auto;
      cursor: pointer;
      width: 300px;

      .vue-notification {
        font-size: 1.0em;
        margin: 5px;
        border-radius: 7px;

        a {
          color: inherit;
          text-decoration: underline;
        }

        &.success {
          body.theme-light & {
            background-color: #80a41a;
            border-left-color: darken(#80a41a, 10%);
          }

          body.theme-dark & {
            background-color: #435b00;
            border-left-color: darken(#435b00, 10%);
          }
        }
      }
    }
  }
}
