{% extends 'emails.layout' %}

{% block content %}
    <p>Zostałeś polecony jako potencjalny kandydat na stanowisko {{ link_to_route('job.offer', job.title, [job.id, job.slug]) }} przez użytkownika {{ name }}.</p>

    <p>
        Jeżeli jesteś zainteresowany tą ofertą pracy, możesz skontaktować się bezpośrednio z rekruterem, klikając na przycisk <em>Odpowiedz</em> lub
        bezpeśrednio pod adresem: {{ link_to('mailto:' ~ job.email ?: job.user.email, job.email ?: job.user.email) }}.
    </p>

    <p>Z poważaniem,<br>{{ config('app.name') }}</p>
{% endblock %}

{% block footnote %}
{% endblock %}
