{% extends 'emails.layout' %}

{% block content %}
    <p>Dziękujemy za skorzystanie z serwisu <strong>{{ config('app.name') }}</strong> i dodanie swojego ogłoszenie o pracę.</p>

    <p>
        W naszym serwisie każdego dnia dodawanych jest kilkadziesiąt nowych ofert pracy. Aby zapewnić sobie lepszą skuteczność, zachęcamy
        do skorzystania z opcji <strong>promowania</strong>.
    </p>

    <h4>Zalety promowanego ogłoszenia</h4>

    <ul>
        <li>Wyróżnienie na <strong>górze wyników</strong> - Twoja oferta będzie zawsze wyświetlana nad darmowymi.</li>
        <li><strong>Reklama</strong> oferty na forum i stronie głównej.</li>
        <li>Wyróżnienie <strong>kolorem</strong>.</li>
        <li><strong>3x podbicie</strong> ogłoszenia na górę listy, w okresie promowania oferty.</li>
        <li>Tylko <strong>9 zł</strong> (~2 €) za dzień. Sam decydujesz ile dni oferta ma być promowana.</li>
    </ul>

    <hr>

    <p>Aby skorzystać z opcji promowania, <strong>edytuj ofertę</strong> pracy i zaznacz opcję:<br><i>Tak, chciałbym sokrzystać z opcji promowania ogłoszenia.</i></p>

    {% if jobs|length > 1 %}
        <p>Kliknij na poniższy link, aby rozpocząć:</p>

        <ul>
            {% for job in jobs %}
                <li>{{ link_to_route('job.submit', 'Promowanie oferty: ' ~ job.title, [job.id]) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <a href="{{ route('job.submit', [jobs[0].id]) }}" class="button success" style="color: #fff" target="_blank">
                        Kliknij, aby rozpocząć
                    </a>
                </td>
            </tr>
        </table>
    {% endif %}

    <p>Z poważaniem,<br>{{ config('app.name') }}</p>
{% endblock %}

{% block footnote %}
{% endblock %}
