@charset "UTF-8";

@use "../feature/lookAndFeel/lookAndFeel_v1";

@import "helpers/variables";
@import "helpers/mixins";

@import "vendor/bootstrap";
@import "helpers/bootstrap";
@import "icons/icons";

@import "base/reset";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/theme";

@import "core/alerts";
@import "core/badges";
@import "core/box";
@import "core/breadcrumbs";
@import "core/buttons";
@import "core/code";
@import "core/dropdowns";
@import "core/events";
@import "core/flash";
@import "core/forms";
@import "core/markdown";
@import "core/metadata";
@import "core/microblog";
@import "core/navs";
@import "core/pagination";
@import "core/panels";
@import "core/progress-bars";
@import "core/related";
@import "core/sidemenu";
@import "core/skeleteon";
@import "core/stream";
@import "core/tables";
@import "core/toasts";

@import "core/dark_4play";
@import "core/dark_alert";
@import "core/dark_bootstrap";
@import "core/dark_box";
@import "core/dark_common";
@import "core/dark_editor";
@import "core/dark_flash";
@import "core/dark_footer";
@import "core/dark_header";
@import "core/dark_input";
@import "core/dark_job";
@import "core/dark_job_offers";
@import "core/dark_markdown";
@import "core/dark_microblog";
@import "core/dark_modal";
@import "core/dark_pm";
@import "core/dark_ps";
@import "core/dark_settings";
@import "core/dark_tabs";
@import "core/dark_topic";
@import "core/dark_user";
@import "core/dark_wiki";

@import "components/tags";
@import "components/forum/post"; // it needs to be here because post's placeholder use styles in this specific file
@import "components/forum/tree_topic";

@import "pages/auth";
@import "pages/errors";
@import "pages/forum";
@import "pages/guide";
@import "pages/help";
@import "pages/homepage";
@import "pages/homepage_modern";
@import "pages/job";
@import "pages/microblog";
@import "pages/pm";
@import "pages/profile";
@import "pages/search";
@import "pages/user";
@import "pages/wiki";

@import "../feature/stickyAside/sticky-aside";
@import "../feature/viewersOnline/viewers-online";
@import "../js/components/defaultAvatar";

@import "../../node_modules/@riddled/4play/src/style";

#cache-break {
  opacity: 0.01; // increment this value to break cache
  
  /**
   * Webpack [contenthash] take into account contents of .css/.scss files,
   * but PurgeCss removes unused css elements. When editing .twig file,
   * when using new style (e.g. bootstrap "pe-2", font-awesome "fa-chart-bar"),
   * then it becomes used, PurgeCss ceases to purge it, but the [contenthash]
   * doesn't change, and thus an obsolete .css file is served. This should be fixed
   * by updating configuration, so changes made by PurgeCss should be reflected
   * in .css filename hash.
   * Workaround is to introduce a superficial style change, to cause [contenthash] 
   * change.
   */
}
