@charset "UTF-8";

.alert-warning {
  border-width: 2px;
  font-size: $font-size-sm;

  a {
    font-weight: bold;
  }
}

// Kolor linkow w komunikacie bledow
// ------------------------------------------------------------------------------------

.alert-danger {
  a {
    color: darken($danger, 10%);
    font-weight: bold;
  }
}

// Komunikat informujacy o funkcjonalnosciach strony (do zamkniecia przez uzytkownika)
// -----------------------------------------------------------------------------------

.alert-popover {
  position: absolute;
  margin: 0;
  padding: 6px;
  font-size: 11px;
  z-index: 100;
  display: none;

  .close {
    font-size: 15px;
    margin-left: 6px;
  }

  @include media-breakpoint-down(sm) {
    display: none !important; // overwrite inline style
  }
}

.alert.left, .alert.right, .alert.top, .alert.bottom {
  &:before, &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.alert.top {
  &:before, &:after {
    bottom: 100%;
    left: 5%;
  }
}

.alert.left {
  &:before, &:after {
    right: 100%;
    top: 14px;
  }
}

.alert.right {
  &:before, &:after {
    left: 100%;
    top: 14px;
  }
}

.alert.bottom {
  &:before, &:after {
    top: 100%;
    left: 5%;
  }
}

$arrow-size: 8px;

.alert.left:after {
  border-right-color: $warning;
  border-width: $arrow-size;
  margin-top: -$arrow-size;
}

.alert.left:before {
  border-right-color: $alert-warning-border;
  border-width: $arrow-size + 3px;
  margin-top: -($arrow-size + 3px);
}

.alert.right:after {
  border-left-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-top: -$arrow-size;
}

.alert.right:before {
  border-left-color: $alert-warning-border;
  border-width: $arrow-size + 3px;
  margin-top: -($arrow-size + 3px);
}

.alert.top:after {
  border-bottom-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-left: -$arrow-size;
}

.alert.top:before {
  border-bottom-color: $alert-warning-border;
  border-width: $arrow-size + 3px;
  margin-left: -($arrow-size + 3px);
}

.alert.bottom:after {
  border-top-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-left: -$arrow-size;
}

.alert.bottom:before {
  border-top-color: $alert-warning-border;
  border-width: $arrow-size + 3px;
  margin-left: -($arrow-size + 3px);
}

.vue-notification a {
  color: inherit;
  text-decoration: underline;
}
