@charset "UTF-8";

.btn-xs {
  padding: 0.1rem 0.4rem;
}

.btn-secondary {
  border: 1px solid $input-border;
  background-image: linear-gradient(180deg,#fff 0,#f6f6f6);
}

.btn-warning {
  @include bg-gradient-variant(lighten($warning, 5%), $warning);
}

.btn-outline {
  background: none;

  @each $selector, $color in (btn-primary, $primary), (btn-default, #444), (btn-warning, $warning) {
    &.#{$selector} {
      color: #{$color};

      &:hover {
        color: #fff;
        background: $color;
      }
    }
  }
}
