.dropdown-alerts {
  width: 420px;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute !important;
  right: 0;
  left: auto;
  display: block;
  background-color: #f8f8f8;

  .dropdown-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    padding: 10px !important;

    a {
      color: $gray-light;
    }
  }

  &:after {
    border-bottom-color: #f8f8f8;
  }

  @include media-breakpoint-down(md) {
    border: 1px solid $card-border-color;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    top: 100%; // no space between menu on mobile devices
    left: 0;
    width: 100%;
    border-radius: 0;

    .dropdown-header {
      border-radius: 0;
    }

    // DO NOT show triangle above menu (only for mobile devices)
    &:after, &:before {
      content: none !important;
    }
  }
}

.dropdown-modal {
  position: relative;
  background-color: #fff;
  max-height: 420px;

  .ps__rail-y {
    right: 0 !important;
    left: auto !important;
    z-index: 10;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .notification {
    border-bottom: 1px solid #fafafa;
    padding: 6px;
    position: relative; // we need this to position remove button in notification

    &:hover {
      background-color: #fafafa;

      .btn-action {
        display: block;
      }
    }

    &.unread {
      background-color: $unread-bg;

      &:hover {
        background-color: $unread-bg-hover;
      }
    }
  }

  .btn-action {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 6px;
    display: none;
  }

  .media-body {
    header {
      h4 {
        color: $gray-light;
        float: left;
        font-size: 11px;
        max-width: 70%;
        margin: 0;

      }

      small {
        float: right;
        color: $gray-light;
        font-size: 10px;
      }
    }

    h3 {
      font-size: .75rem;
      clear: both;
      margin: 1px 0;
      font-weight: bold;
      font-family: Arial, sans-serif;
      color: $primary;
    }

    p {
      padding-right: 3px;
      margin: 0;
      color: $gray;
      clear: both;
      font-size: .75rem;
    }
  }
}
