$prefix: bs-;

.popover {
  --#{$prefix}popover-max-width: 420px;
  cursor: default;
  width: 100%;

  .input-group {
    width: 1000px;
    max-width: 100%;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      body.theme-light & {
        border: var(--bs-border-width) solid #ccc;
      }

      body.theme-dark & {
        border: var(--bs-border-width) solid #242a30;
      }
    }
  }

  body.theme-dark & {
    --bs-popover-bg: #1a1a1a;
    --bs-popover-border-color: #2f2f2f;
    --bs-popover-header-bg: #212121;
    --bs-popover-header-color: #acacac;

    label {
      color: #6c757d;
    }
  }
}
