
.alert-dismissible .close {
  padding: .16rem .25rem !important;
}

.alert.left,
.alert.right,
.alert.top,
.alert.top-end,
.alert.bottom,
.alert.bottom-end {
  padding-top: $alert-padding-y / 3;
  padding-bottom: $alert-padding-y / 3;

  @include media-breakpoint-down(lg) {
    display: none !important; // overwrite inline style
  }

  &:before, &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.alert.bottom, .alert.bottom-end {
  &:before, &:after {
    bottom: 100%;
    left: 5%;
  }
}

.alert.left {
  &:before, &:after {
    right: 100%;
    top: 14px;
  }
}

.alert.right {
  &:before, &:after {
    left: 100%;
    top: 14px;
  }
}

.alert.top, .alert.top-end, {
  &:before, &:after {
    top: 100%;
    left: 5%;
  }
}

$arrow-size: 8px;

.alert.left:after {
  border-right-color: $warning;
  border-width: $arrow-size;
  margin-top: -$arrow-size;
}

.alert.left:before {
  border-right-color: theme-color-level('warning', $alert-border-level);
  border-width: $arrow-size + 3px;
  margin-top: -($arrow-size + 3px);
}

.alert.right:after {
  border-left-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-top: -$arrow-size;
}

.alert.right:before {
  border-left-color: theme-color-level('warning', $alert-border-level);
  border-width: $arrow-size + 3px;
  margin-top: -($arrow-size + 3px);
}

.alert.bottom:after, .alert.bottom-end:after {
  border-bottom-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-left: -$arrow-size;
}

.alert.bottom:before, .alert.bottom-end:before {
  border-bottom-color: theme-color-level('warning', $alert-border-level);
  border-width: $arrow-size + 3px;
  margin-left: -($arrow-size + 3px);
}

.alert.top:after, .alert.top-end:after {
  border-top-color: theme-color-level('warning', $alert-bg-level);
  border-width: $arrow-size;
  margin-left: -$arrow-size;
}

.alert.top:before, .alert.top-end:before {
  border-top-color: theme-color-level('warning', $alert-border-level);
  border-width: $arrow-size + 3px;
  margin-left: -($arrow-size + 3px);
}
