@use "../../feature/lookAndFeel/feel";
@use "../../feature/theme/theme";

.post-review {
  &.alert.alert-card-header-flush {
    border-radius: 0;
    border-width:  1px;
    margin:        -1px -1px 0; // Assuming border of card-header is 1px

    &.alert-warning {
      font-size: 1.0em;
    }

    @include theme.dark {
      &.alert-warning {
        color:            #f7e8cfb0;
        background-color: #5f3e2630;
        border:           1px solid #5f3e26b0;
      }

      &.alert-danger {
        color:            #f7dddcb0;
        background-color: #712b2930;
        border:           1px solid #712b29b0;
      }

      &.alert-success {
        color:            #def1deb0;
        background-color: #30603030;
        border:           1px solid #306030b0;
      }

      &.alert-info {
        color:            #def2f8b0;
        background-color: #244d5930;
        border:           1px solid #244d59b0;
      }
    }
    
    @include feel.modern {
      border: none;
    }
  }
}
