@charset "UTF-8";

.progress {
  background: #444444;
  padding: 5px;
  position: relative;
  height: 23px;
  margin-bottom: 0;
  border-radius: 10px;
  background: -moz-linear-gradient(top, #444444 49%, #757575 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%, #444444), color-stop(100%, #757575));
  background: -webkit-linear-gradient(top, #444444 49%, #757575 100%);
  background: -o-linear-gradient(top, #444444 49%, #757575 100%);
  background: -ms-linear-gradient(top, #444444 49%, #757575 100%);
  background: linear-gradient(to bottom, #444444 49%, #757575 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#757575', GradientType=0);

  span {
    font-size: $font-size-small;
    color: white;
    position: absolute;

    &.rep {
      top: 11px;
      left: 10px;
    }

    &.rank {
      top: 11px;
      right: 10px;
    }
  }
  strong {
    font-size: 1.0em;
    text-shadow: 1px 1px 2px #666;
  }
  small {
    font-size: 0.8em;
  }
}

.progress-bar {
  opacity: 0.7;
  height: 100%;
  border-radius: 10px;
  background: #aed91d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #aed91d 50%, #abd600 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #aed91d), color-stop(100%, #abd600));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #aed91d 50%, #abd600 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #aed91d 50%, #abd600 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #aed91d 50%, #abd600 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #aed91d 50%, #abd600 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aed91d', endColorstr='#abd600', GradientType=0);
  /* IE6-9 */
  box-shadow: inset 1px 1px 1px #fff;
}
