#vcard {
  padding:          2px;
  position:         absolute;
  box-shadow:       0 3px 9px #444;
  z-index:          3;
  background-color: $gray-dark;
  border-radius:    6px;
}

#vcard-content {
  padding:       15px;
  border-radius: 4px;
  .list-inline {
    color:     $gray-light;
    font-size: 12px;
    max-width: 328px;
    li {
      max-width: 160px;
    }
  }
}

.vcard-avatar {
  img, svg {
    max-width: 100%;
  }
}
