#vcard {
  padding: 5px;
  position: absolute;
  box-shadow: 0 3px 9px #444;
  z-index: 3;
  background-color: $gray-dark;
  border-radius: $border-radius;
}

#vcard-header {
  background-color: $gray;
  color: #fff;
  font-size: $font-size-base;
  padding: 3px 0 3px 16px;

  a {
    color: inherit;
  }
}

#vcard-content {
  background-color: #fff;
  padding: 15px;

  .list-inline {
    color: $gray-light;
    font-size: 12px;
    max-width: 328px;

    li {
      max-width: 160px;
    }
  }

  img {
    width: 106px;
  }
}
