#wiki-toolbar {
  margin-bottom: 15px;
  margin-top: 15px;

  .btn-sm {
    @include gradient-y(#f6f6f6, #ddd);
  }

  // Alert informujacy o tym, ze obslugujemy markdown
  // ---------------------------------------------------

  .alert-popover {
    top: 0;
    right: 65px;
  }

  @include media-breakpoint-down(xs) {
    > div {
      display: none;
    }
  }
}

// Lista rozwijalna z jezykami kolorowania skladni
// ------------------------------------------------

.select-menu {
  padding: 0;

  .select-menu-search {
    background-color: $gray-lighter;
    padding: 5px;
    border-bottom: 2px solid $card-border-color;
  }
}

.select-menu-wrapper {
  overflow-y: scroll;
  max-height: 150px;

  ul {
    margin-bottom: 0;
  }

  li {
    border-bottom: 1px solid $card-border-color;

    a {
      color: $gray;
      display: block;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #f6f6f6;
        text-decoration: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
