.sidebar-hint {
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  background-color: #ffcc5e;

  h4, a {
    color: #960202;
  }

  p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 160%;
  }
}
