.badge-creator,
.badge-success {
  background-color: $brand-primary;

  > a {
    color: #fff !important;
  }
}

.badge-secondary {
  background-color: $gray-light;
  color: #fff;
}

.label-new {
  background-color: #FF4A00;
}
