@charset "UTF-8";

ul.breadcrumb {
  font-size: $font-size-small;
  margin: 0;
  background: none;
  padding: 10px 0;

  li {
    a {
      color: #626262;
    }
  }

  li + li:before {
    content: "»";
    padding: 0;
    font-size: ceil($font-size-base * 1.07);
    color: lighten($brand-primary, 5);
  }
}