ul.breadcrumb {
  font-size: $font-size-small;
  margin: 0;
  background: none;
  padding: 10px 0;

  li {
    a {
      color: #626262;
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.2rem;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "»";
    padding: 0;
    color: lighten($brand-primary, 5);
  }
}

// "Plywajacy" breadcrumb
// ---------------------------

#breadcrumb-fixed {
  position: fixed;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(220, 218, 216, 0.75);
  background: url('/img/background.png') repeat-x 0 0;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 5px 8px;
  top: 55px;
  bottom: 0;
  z-index: 999;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;

  ul {
    margin: 0 !important;
  }
}
