@charset "UTF-8";

.btn-primary {
  background: $brand-primary;
  border-color: $brand-primary;

  &:focus, &:active, &:active:focus, &:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  &:hover {
    box-shadow: inset 0 0 2px #fff;
  }
}

.btn-default {
  @include bg-gradient-variant(#fff, #f6f6f6);
}

.btn-warning {
  @include bg-gradient-variant(lighten($brand-warning, 5%), $brand-warning);
}

.btn-outline {
  background: none;

  @each $selector, $color in (btn-primary, $brand-primary), (btn-default, #444), (btn-warning, $brand-warning) {
    &.#{$selector} {
      color: #{$color};

      &:hover {
        color: #fff;
        background: $color;
      }
    }
  }
}
