// Inline code
code {
  padding: 1px 4px;
  font-size: 100%;
}

// <code> inside </a>
a code {
  color: $brand-primary;
}

// block code
pre {
  background: rgba(234, 239, 242, 0.45) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQYV2NkwALevXuXJiQkNAtZinEAFb59+3YmuvWMjIxn////bzxY3Ej14AEA0LUraxfkjiYAAAAASUVORK5CYII=') repeat;
}
