@charset "UTF-8";

// Nazwa firmy
// --------------------------------

.employer {
  color: $gray;
}

#box-job-offers {
  .panel-default {
    border: 2px solid lighten($brand-primary, 5%);
  }

  > h4 {
    a {
      background: url("/img/search-headline.png") no-repeat;
      text-indent: -9999px;
      height: 25px;
      display: block;
      background-size: contain;
    }
  }

  .media {
    &:last-child {
      padding: 10px 0 0 0;
      margin: 0;
      text-align: center;

      a {
        color: darken($brand-primary, 10%);
        font-weight: bold;
        font-size: $font-size-small;
      }
    }
  }
}

.sidebar-job-offers {
  .media {
    margin: 0;
    border-bottom: 1px solid $border-color;

    .media-left {
      @media screen and (max-width: $screen-xlg-min) {
        display: none;
      }
    }

    .media-left, .media-body {
      // firm's logo
      vertical-align: middle;
    }

    .media-heading {
      margin-bottom: 2px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .media-link {
    display: block;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 7px;

    &:hover {
      h5 {
        color: $brand-primary;
      }
    }
  }

  h5 {
    padding-bottom: 1px;
    font-size: $font-size-base;
    font-weight: bold;

    @include text-overflow;

    &:hover {
      color: $link-color-darker;
    }
  }

  p {
    font-size: $font-size-small - 1px;
    margin: 3px 0;

    a {
      color: inherit;
    }
  }

  img {
    width: 50px;
    height: 50px;

    @media screen and (max-width: $screen-lg) {
      display: none;
    }
  }

  img[src*="logo-gray"] {
    opacity: 0.7;
  }

  .tag-clouds {
    > li {
      > span {
        margin: 0;
      }
    }
  }
}
