@charset "UTF-8";

// Nazwa firmy
// --------------------------------

.employer {
  color: $gray;
}

#hire-me {
  // Default border color
  // -----------------------
  .card-default {
    border: 2px solid $brand-primary;
  }

  // Default headline background
  // -----------------
  .card-heading {
    text-align: center;
    background-color: $brand-primary;
    background-image: url('/img/escheresque.png');

    h4 {
      margin: 0;
      color: #fff;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    // tag logo
    img {
      max-width: 30px;
      border-radius: 50%;
      margin-left: 5px;
      padding: 2px;
      background-color: #fff;
    }
  }

  .card-body {
    padding: 10px;
  }

  .media {
    &:last-child {
      padding: 10px 0 0 0;
      margin: 0;
      text-align: center;

      a {
        color: darken($brand-primary, 10%);
        font-weight: bold;
        font-size: $font-size-small;
      }
    }
  }

  // custom language styles
  @each $name, $color in (java, #5484a4), (javascript, #E0C536), (csharp, #873B89), (php, #AABDD6), (python, #447C9C), (cpp, #649CD3), (c, #ACBCCC) {
    > .#{$name} {
      > .card-default {
        border: 2px solid $color;

        .card-heading {
          background-color: $color;
        }
      }
    }
  }
}

.sidebar-offers {
  .media {
    margin: 0;
    border-bottom: 1px solid $border-color;

    //.media-left {
    //  @media screen and (max-width: $screen-xlg-min) {
    //    display: none;
    //  }
    //}

    //.media-left, .media-body {
    //  // firm's logo
    //  vertical-align: middle;
    //}

    .media-heading {
      margin-bottom: 2px;
    }

    &:last-child {
      border-bottom: none;
    }

    img {
      width: 50px;
      height: 50px;
      position: relative;

      @include img-placeholder('/img/logo-gray.png', 50px, 50px);

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  .media-link {
    display: block;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 7px;

    h5 {
      color: $link-color-darker;
    }
  }

  h5 {
    padding-bottom: 1px;
    font-size: $font-size-base;
    font-weight: bold;
    color: $brand-primary;

    @include text-overflow;
  }

  p {
    font-size: $font-size-small - 1rem;
    margin: 3px 0;

    a {
      color: inherit;
    }
  }

  img[src*="logo-gray"] {
    opacity: 0.7;
  }

  .tag-clouds {
    > li {
      > span {
        margin: 0;
      }
    }
  }
}
