@charset "UTF-8";

// Nazwa firmy
// --------------------------------

.employer {
  color: $gray;
}

#box-job-offers {
  .panel-default {
    border: 2px solid lighten($brand-primary, 5%);
  }

  > h4 {
    a {
      background: url("/img/search-headline.png") no-repeat;
      text-indent: -9999px;
      height: 25px;
      display: block;
      background-size: contain;
    }
  }

  .media {
    &:last-child {
      padding: 10px 0 0 0;
      margin: 0;
      text-align: center;

      a {
        color: darken($brand-primary, 10%);
        font-weight: bold;
        font-size: $font-size-small;
      }
    }
  }
}

.sidebar-job-offers {
  .media {
    border-bottom: 1px solid $border-color;
    padding-bottom: 7px;
    margin-top: 7px;

    .media-heading {
      margin-bottom: 2px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  h5 {
    padding-bottom: 1px;

    a {
      @include text-overflow;
      font-size: 14px;
      color: $link-color-darker;
    }
  }

  p {
    font-size: 11px;
    margin: 0;
  }

  p.bottom {
    color: $gray-light;
    font-size: $font-size-small - 1px;
    display: inline;

    a {
      color: $gray-light;
    }
  }

  img {
    width: 50px;
    height: 50px;

    @media screen and (max-width: $screen-lg) {
      width: 35px;
      height: 35px;
    }

    @media screen and (max-width: $screen-sm) {
      width: 25px;
      height: 25px;
    }
  }

  img[src*="logo-gray"] {
    opacity: 0.7;
  }
}
