
.logo-python,
.logo-php,
.logo-java,
.logo-javascript {
  &:before {
    content: "";
  }

  width: 30px;
  height: 30px;
}

.logo-python {
  @include sprite('logo-python');
}

.logo-php {
  @include sprite('logo-php');
  height: 20px; // different proportion
}

.logo-java {
  @include sprite('logo-java');
}

.logo-javascript {
  @include sprite('logo-javascript');
}
