@charset "UTF-8";
@import "../helpers/variables";
@import "../vendors/bootstrap/variables";
@import "../vendors/font-awesome/variables";
@import "../vendors/bootstrap/mixins/gradients";

.microblog {
  .media-heading a {
    font-size: 14px;
    color: $gray-dark;
    font-weight: bold;
  }

  .media {
    overflow: visible;
  }

  .media-body {
    overflow: visible;

    a.timestamp {
      font-size: 11px;
      color: $gray-light;
    }
  }
}

.microblog-text {
  color: $gray-light;
  padding: 20px 0;
}

.microblog-comment-text {
  color: $gray-light;
}

.btn-thumbs, .btn-reply {
  padding: 2px 7px 2px 25px;
  color: $gray-light;
  position: relative;

  &:before {
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
    color: $text-color;
  }

  &:hover {
    border: 1px solid $border-color;
    @include gradient-vertical(#fff, $gray-lighter);
  }
}

.btn-thumbs:before {
  content: $fa-var-thumbs-up;
}

.btn-reply:before {
  content: $fa-var-comment;
}

.thumbs-on:before {
  color: $brand-primary;
}

.microblog-comment {

  .list-inline {
    color: $gray-light;
    font-size: 11px;

    a {
      color: $gray-light;
    }

    li {
      padding-right: 0;
    }

    li:after {
      content: "●";
      margin-left: 5px;
    }

    li:last-child:after {
      content: "\00a0 ";
    }
  }

  // bootstrap nie umozliwia umieszczenia mniejszego przycisku niz btn-xs. pomniejszamy dodatkowo usuwajac obramowanie
  .dropdown-toggle {
    border: none;
    font-size: 10px;
    background-color: transparent;
  }
}