@charset "UTF-8";
@import "../helpers/variables";
@import "../../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients";

.microblog {
  .media-heading {
    margin-bottom: 2px;

    a {
      font-size: 16px;
      color: $brand-primary;
    }
  }

  .media {
    overflow: visible;
  }

  > .media-left {
    padding-right: 15px;
  }

  .media-body {
    a.timestamp {
      font-size: 11px;
      color: $gray-light;
    }
  }
}

.microblog-text {
  padding: 10px 0;

  > .thumbnails {
    margin-top: 20px;
  }

  img:not(.img-smile) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.btn-thumbs, .btn-reply, .btn-subscribe {
  padding: 2px 7px 2px 25px;
  color: $gray-light;
  position: relative;

  &:before {
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
    color: $text-color;
  }

  &:hover {
    border: 1px solid $border-color;
    @include gradient-vertical(#fff, $gray-lighter);
  }
}

.btn-thumbs:before {
  content: $fa-var-thumbs-o-up;
}

.btn-subscribe:before {
  content: $fa-var-bell-o;
}

.btn-reply:before {
  content: $fa-var-comment-o;
}

.btn-thumbs.thumbs-on:before {
  color: $brand-primary;
  content: $fa-var-thumbs-up;
}

.subscribe-on:before {
  color: $brand-primary;
  content: $fa-var-bell;
}

.microblog-comments {
  margin-top: 15px;

  .media {
    border-top: 1px solid lighten($border-color, 5%);
    padding: 10px 5px 6px 5px;
    margin-top: 5px;

    .dropdown button {
      border: none;
    }

    .media-object {
      border: 1px solid $border-color;
      border-radius: $border-radius-base;
      background-color: #fff;
      padding: 4px;
    }

    .media-content {
      font-size: 12px;
      display: inline;

      // markdown moze "produkowac" <p> w tresci komentarza
      p {
        display: inline;
        margin: 0;
      }
    }

    .media-body {
      overflow: visible;
    }

    h6 {
      color: $brand-primary;
      font-size: 13px;
      display: inline;
    }

    .list-inline {
      color: $gray-light;
      font-size: 11px;
      margin: 1px 0 0 0;

      a {
        color: $gray-light;
      }

      li {
        padding-left: 0;
      }

      li:after {
        content: "●";
        margin-left: 5px;
      }

      li:last-child:after {
        content: "\00a0 ";
      }
    }

    .login {
      color: $link-color-darker;
      text-decoration: underline;
    }
  }

  .media.form {
    background-color: darken($body-bg, 4%);
    border-top: none;
    border-radius: $border-radius-small;
  }

  .inline-edit {
    margin-right: 20px;
  }

  .show-all {
    padding: 2px 0 2px 5px;

    a {
      color: $gray;
      font-size: 12px;
      padding-left: 15px;
      position: relative;

      &:before {
        @include font-awesome($fa-var-comments);
        left: 0;
      }

      &:hover, &:focus {
        text-decoration: none;
        color: $alt-link-hover-color;
      }
    }
  }
}

.microblog-submit {
  textarea {
    width: 100%;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 6px 0;

    &:focus {
      outline: none;
    }
  }

  .submit-area {
    border-top: 1px solid $border-color;
    padding-top: 11px;
  }

  .img-thumbnail {
    border: none;
  }

  .btn-flush, .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btn-flush {
    display: none;
    background-color: #000;
    opacity: .5;
    color: #fff;
  }

  .spinner {
    color: $gray;
    display: flex;
  }

  .thumbnail {
    position: relative;

    &:hover {
      .btn-flush {
        display: flex;
      }
    }

    img {
      height: 81px;
    }
  }

  // Komunikat informujacy o tym, ze obslugujemy markdown
  // --------------------------------------------------------------------------

  .alert-popover {
    top: -1px;
    left: 60px;
  }
}