.page-link,
.page-item.disabled > .page-link {
  border-radius: 5px;
  margin: 0 2px;
}

.page-item.active > .page-link {
  font-weight: bold;
}

@include media-breakpoint-down(sm)  {
  .page-link {
    font-size: $font-size-small;
    padding: $pagination-padding-y-sm - .1rem $pagination-padding-x-sm - .1rem;
  }
}
