.pagination {
  font-size: ceil(($font-size-base * 0.78));
}

.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pager > li > a,
.pager > li > span,
.pager > .disabled > span {
  background-color: #ddd;
  color: $text-color;
  border: none;
  border-radius: 5px;
  margin: 0 2px;
  padding: 5px 8pt;

  &:first-child, &:last-child {
    border-radius: 5px;
  }

  &:hover {
    background-color: $border-color;
  }
}

.pagination {
  // element aktywny (aktualna strona)
  > .active {
    > span {
      background-color: $gray-dark;
      color: #fff;
      font-weight: bold;

      &:hover {
        background-color: $gray-dark;
      }
    }
  }
}

.pagination-xs {
  @include pagination-size(5px, 10px, ceil(($font-size-base * 0.78)), $line-height-sm, $border-radius-small);
}

@include media-breakpoint-down(sm)  {
  .pagination {
    font-size: $font-size-small;

    > li > a,
    > li > span,
    > .disabled > span {
      padding: 4px 7px;
      font-size: 11px;
    }
  }
}
