@charset "UTF-8";
@import "../helpers/variables";
@import "../vendor/bootstrap/variables";

.box {

  > h4 {
    position: relative;
    color: $box-header-color;
    font-size: ceil($font-size-base * 1.05);

    a {
      color: inherit;
    }
  }

  .border {
    border-bottom: 1px solid $box-border-color;
    padding: 0 0 10px 0;
    box-shadow: 0 2px 0 #FFF;
  }

  > h4 + .nav-panel {
    margin-top: 15px;
  }
}

// przezroczyste tlo. dodano jedynie obramowanie.  np. w mikroblogach czy na stronie kategorii tekstow
.panel-transparent {
  background-color: transparent;
  border: 1px solid $border-color;
}

// panel wykorzystywany np. na forum czy w panelu usera.
.panel-wrapper {
  box-shadow: inset 1px 1px #FFF;
  background-color: #e2e7e1;
  border: 1px solid #c7c7c7;

  > .panel-body {

    h2 {
      font-size: 14px;
      color: #464646;
      text-shadow: white 0 1px 0;
    }
  }
}