@charset "UTF-8";

#box-search {
  float: none;
  margin: 0 auto 24px auto;
  overflow: hidden;

  > form {
    width: 100%;
    white-space: nowrap;
  }

  .form-group {
    position: relative;
    float: left;
    padding: 0;
    margin-bottom: 0;

    &:before {
      position: absolute;
      font-family: FontAwesome;
      top: 7px;
      left: 7px;
      color: lighten($gray-light, 10%);
      z-index: 1;
    }

    input[type=text], select {
      padding-left: 25px;
      width: 100%;
      border-radius: $border-radius-small;
    }

    .col-content {
      padding-right: 5px;
    }
  }

  .input-keywords:before {
    content: $fa-var-search;
  }

  .input-location:before {
    content: $fa-var-map-marker;
  }

  .input-category:before {
    content: $fa-var-tag;
  }

  button[type=submit] {
    font-size: 12px;
    width: 100%;
    @include text-overflow();
  }
}