@charset "UTF-8";

.stream {
  .media {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: 0;
    }

    p {
      margin-bottom: 2px;
      font-size: $font-size-small;
    }

    .text-muted {
      font-size: 85%;

      a {
        color: inherit;
      }
    }

    .media-body {
      padding-bottom: 10px;
    }

    .well {
      font-size: $font-size-small;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}
