@charset "UTF-8";

.stream {
  .media {
    &:not(:first-child) {
      margin-top: $card-spacer-y;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    p {
      margin-bottom: 2px;
      font-size: $font-size-small;
    }

    .media-body {
      padding-bottom: $card-spacer-y;
    }
  }
}
