@charset "UTF-8";

.tag-clouds {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  > li {
    display: inline-block;
    margin-right: 1px;

    > a,
    > span {
      color: $tag-color;
      font-size: 12px;
      display: inline-block;
      padding: 4px 7px;
      background: $tag-bg;
      margin: 1px 1px 1px 0;
      border-radius: 5px;
      transition: all .25s linear;
      position: relative;

      &.inverse {
        background-color: $tag-color;
        color: #fff;
      }

      &:hover {
        text-decoration: none;
        color: $tag-hover-color;
        background: $tag-hover-bg;
      }

      &.remove:hover:after {
        @include remove-overlay();
      }
    }

    // Tag counter
    // --------------------

    > a + small,
    > span + small {
      margin-left: 2px;
      font-size: 10px;
      color: $tag-counter-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    > li {
      >a,
      >span {
        font-size: 11px;
      }
    }
  }
}

.cloud {
  > li {
    > a {
      margin: 2px 2px 4px 0;
    }
  }
}

@mixin tag-variant($paddingX, $paddingY, $thumbnailWidth) {
  > li {
    > a,
    > span {
      padding: $paddingX $paddingY;

      img {
        width: $thumbnailWidth;
      }
    }
  }
}

.tag-clouds-md {
  @include tag-variant(4px, 7px, 12px);
}

.tag-clouds-sm {
  @include tag-variant(1px, 6px, 12px);
}

.tag-clouds-xs {
  @include tag-variant(1px, 4px, 10px);
}

.tag-clouds-skills {
  > li {
    margin-right: 10px;

    .fas {
      font-size: 8px;
    }
  }
}

.tag-dropdown {
  border: 2px solid #DDD;
  list-style-type: none;
  border-radius: 3px;
  position: absolute;
  margin: -2px 0 0 0;
  background-color: #FFF;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  padding: 0;

  li {
    padding: 6px 5px;
    cursor: pointer;

    span {
      font-size: 11px;
      background: $tag-bg;
      border-radius: 5px;
      display: inline;
      color: $tag-color;
      padding: 4px 10px;
      text-shadow: 1px 1px 1px #FFF;
      position: relative;
      transition: all .25s linear;
    }

    &.hover {
      background-color: #F8F8F8;
      color: $tag-hover-color;
    }

    small {
      font-size: 80%;
    }
  }
}

.tag-suggestion {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.tag-editor {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0 0 0 10px;

  input {
    border: none;
    width: 100%;
    position: relative;
    outline: none;
    padding: 5px 0;
  }

  .tag-clouds {
    display: inline;
    position: relative;
  }

  .tag-clouds {
    > li {
      margin-right: 5px;

      > a {
        cursor: pointer;

        &:hover {
          text-decoration: none;
          background: #DDD;
        }
      }
    }
  }
}
