{% extends 'user.pm.base' %}

{% block pm %}
  <nav class="text-center">
    <vue-pagination :total-pages="totalPages" :current-page="currentPage" @change="changePage"></vue-pagination>
  </nav>

  <vue-pm
    v-for="(message, index) in messages"
    :message="message"
    :key="message.id"
    :last="index + 1 === messages.length"
    :clickable-text="true"
  >
  </vue-pm>

  <nav class="text-center">
    <vue-pagination :total-pages="totalPages" :current-page="currentPage" @change="changePage"></vue-pagination>
  </nav>
{% endblock %}

{% block body %}
  <script>
    var data = {
      messages: {{ messages|json_encode|raw }},
      recipient: {},
      totalPages: {{ total_pages }},
      currentPage: {{ current_page }}
    };
  </script>

  {{ parent() }}
{% endblock %}
