{% extends 'user/pm/base.twig' %}

{% block pm %}
    <nav class="text-center">
        {{ pm.render()|raw }}
    </nav>

    {% for item in pm %}
        {% include 'user/pm/message.twig' with {'content': '<p class="pm-excerpt"><a href="' ~ route('user.pm.show', [item.id]) ~ '">' ~ excerpt(item.text, 255)|default('(kliknij, aby przeczytać)') ~ '</a></p>'} %}
    {% else %}
        <p class="alert alert-warning">Brak wiadomości prywatnych.</p>
    {% endfor %}

    <nav class="text-center">
        {{ pm.render()|raw }}
    </nav>
{% endblock %}