{% extends 'user.pm.base' %}
{% set page_name = 'Rozmowa z ' ~ recipient.name %}

{% block pm %}
  <perfect-scrollbar id="wrap" ref="scrollbar">
    <div id="overview" @mouseenter.once="markAllAsRead">
      <vue-pm
        v-for="(message, index) in messages"
        :message="message"
        :key="message.id"
        :last="index + 1 === messages.length"
      >
      </vue-pm>
    </div>
  </perfect-scrollbar>

  {% include 'user.pm.partials.form' %}
{% endblock %}

{% block body %}
  <script>
    var data = {
      messages: {{ messages|json_encode|raw }},
      recipient: {{ recipient|json_encode|raw }}
    };
  </script>

  {{ parent() }}
{% endblock %}
