{% extends 'user.pm.base' %}
{% set page_name = 'Rozmowa z ' ~ recipient.name %}

{% block pm %}
  <div v-if="!messages.length" class="row">
    <div class="col-md-12 margin-md-bottom" :class="{'has-error': 'recipient' in errors}">
      <vue-autocomplete
        ref="autocomplete"
        :tabindex="1"
        :items="items"
        :value.sync="recipient.name"
        placeholder="Odbiorca..."
        @update="lookupName"
        @select="selectName"
      ></vue-autocomplete>

      <span v-cloak v-if="'recipient' in errors" class="help-block">${ errors.recipient[0] }</span>
    </div>
  </div>

  <perfect-scrollbar id="wrap" ref="scrollbar">
    <div id="overview" @mouseenter.once="markAllAsRead">
      <vue-pm
        v-for="(message, index) in messages"
        :message="message"
        :key="message.id"
        :last="index + 1 === messages.length"
      >
      </vue-pm>
    </div>
  </perfect-scrollbar>

  {% include 'user.pm.partials.form' %}
{% endblock %}

{% block body %}
  <script>
    var data = {
      messages: {{ messages|json_encode|raw }},
      recipient: {{ recipient|json_encode|raw }}
    };
  </script>

  {{ parent() }}
{% endblock %}
