{% extends 'user.pm.base' %}
{% set parent = 'user.pm.submit' %}

{% import 'components.forms' as forms %}

{% block pm %}
  <div class="row">
    <div class="col-md-12 margin-md-bottom" :class="{'has-error': 'recipient' in errors}">
      <input
        type="text"
        name="recipient"
        v-model="recipient.name"
        class="form-control"
        placeholder="Odbiorca..."
        data-prompt-url="{{ route('user.prompt') }}"
        id="recipient"
        tabindex="1"
        autofocus
      >

      <span v-cloak v-if="'recipient' in errors" class="help-block">${ errors.recipient[0] }</span>
    </div>
  </div>

  {% include 'user.pm.partials.form' %}

{% endblock %}

{% block body %}
  <script>
    var data = {
      recipient: {{ recipient|json_encode|raw }},
      messages: []
    };
  </script>

  {{ parent() }}
{% endblock %}
