{% extends 'user.pm.base' %}
{% set parent = 'user.pm.submit' %}

{% import 'components.forms' as forms %}

{% block pm %}
  <div class="row">
    <div class="col-md-12 margin-md-bottom" :class="{'has-error': 'recipient' in errors}">
      <vue-autocomplete
        ref="autocomplete"
        tabindex="1"
        :items="items"
        :value.sync="recipient.name"
        placeholder="Odbiorca..."
        @update="lookupName"
        @select="selectName"
      ></vue-autocomplete>

      <span v-cloak v-if="'recipient' in errors" class="help-block">${ errors.recipient[0] }</span>
    </div>
  </div>

  {% include 'user.pm.partials.form' %}

{% endblock %}

{% block body %}
  <script>
    var data = {
      recipient: {{ recipient|json_encode|raw }},
      messages: []
    };
  </script>

  {{ parent() }}
{% endblock %}
