@charset "UTF-8";
.tag-clouds {
  list-style: none;
  margin: 0;
  padding: 13px 0;
  overflow: hidden; }
  .tag-clouds li {
    display: inline;
    float: left;
    margin-right: 4px; }
    .tag-clouds li a {
      color: #777777;
      font-size: 11px;
      display: inline-block;
      padding: 4px 10px;
      text-shadow: 1px 1px 1px white;
      background: #eeeeee;
      margin: 4px 5px 0 1px;
      border-radius: 5px;
      transition: all 0.25s linear; }
      .tag-clouds li a:hover {
        text-decoration: none;
        color: #D7661C;
        background: #e9e9e9; }
    .tag-clouds li small {
      font-size: 10px;
      color: #919191; }
    .tag-clouds li:last-child {
      margin-right: 0; }

.tag-suggestions {
  border: 2px solid #DDD;
  list-style-type: none;
  border-radius: 3px;
  position: absolute;
  display: none;
  margin: -2px 0 0 0;
  background-color: #FFF;
  width: 100%;
  top: 24px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  padding: 0; }
  .tag-suggestions li {
    padding: 6px 5px;
    cursor: pointer; }
    .tag-suggestions li span {
      font-size: .8em;
      background: #EEE;
      border-radius: 5px;
      display: inline;
      color: #7D7D7D;
      padding: 4px 10px;
      text-shadow: 1px 1px 1px #FFF;
      position: relative;
      transition: all 0.25s linear; }
    .tag-suggestions li.hover {
      background-color: #F8F8F8;
      color: #D7661C; }
    .tag-suggestions li small {
      font-size: 80%; }

.tag-editor {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0 0 0 10px; }
  .tag-editor input {
    border: none;
    width: 100%;
    position: relative;
    outline: none;
    padding: 5px 0; }
  .tag-editor .tag-clouds {
    padding: 0;
    display: inline;
    position: relative; }
  .tag-editor .tag-clouds li a {
    cursor: pointer;
    position: relative; }
    .tag-editor .tag-clouds li a:hover {
      text-decoration: none;
      background: #DDD; }
    .tag-editor .tag-clouds li a.remove:hover:after {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      border-radius: 5px;
      top: 0;
      left: 0;
      background-color: black;
      vertical-align: middle;
      text-align: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      text-shadow: none;
      font-size: 17px;
      position: absolute;
      font-family: FontAwesome;
      content: ""; }

.progress {
  background: #444444;
  padding: 5px;
  position: relative;
  height: 23px;
  margin-bottom: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, #444444 49%, #757575 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#757575', GradientType=0); }
  .progress span {
    font-size: 12px;
    color: white;
    position: absolute; }
    .progress span.rep {
      top: 4px;
      left: 10px; }
    .progress span.rank {
      top: 4px;
      right: 10px; }
  .progress strong {
    font-size: 1.0em;
    text-shadow: 1px 1px 2px #666; }
  .progress small {
    font-size: 0.8em; }

.progress-bar {
  opacity: 0.7;
  height: 100%;
  border-radius: 10px;
  background: #aed91d;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #aed91d 50%, #abd600 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aed91d', endColorstr='#abd600', GradientType=0);
  /* IE6-9 */
  box-shadow: inset 1px 1px 1px #fff; }

#user-nav-tabs {
  margin: 20px 0; }

#profile-info img {
  width: 100%;
  padding: 4px;
  border: 1px solid #d0d0d0; }

#profile-info .btn-sm {
  margin-top: 10px; }

#profile h2, #profile h3 {
  color: #646466; }
  #profile h2 a, #profile h3 a {
    color: inherit; }

#profile h1 {
  margin-top: 0; }

#profile h3 {
  margin-top: 0;
  font-size: 15px; }
  #profile h3 small {
    font-size: 80%; }

#box-stat {
  color: #919191; }
  #box-stat strong {
    font-size: 150%;
    display: block; }
  #box-stat span {
    letter-spacing: 1px;
    font-size: 90%; }

#user-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0; }
  #user-links li {
    padding: 4px 0;
    text-shadow: 1px 1px 1px #FFF;
    color: #777777; }
    #user-links li a {
      color: inherit; }

#box-reputation {
  margin-top: 22px; }
  #box-reputation h5 {
    color: #555555;
    font-family: Arial, sans-serif; }

#statement {
  padding: 0 0 0 30px;
  position: relative;
  font-size: 14px;
  margin: 20px 0 17px 2px; }
  #statement:after {
    position: absolute;
    font-family: FontAwesome;
    content: "";
    top: 0;
    left: 0;
    color: #777777; }

/*# sourceMappingURL=profile.css.map */