@charset "UTF-8";
.side-menu {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none; }
  .side-menu > li {
    margin-bottom: 2px;
    border-bottom: 1px solid #d0d0d0;
    position: relative; }
    .side-menu > li > a {
      color: #333333;
      cursor: pointer;
      display: block;
      padding: 8px 0 8px 28px;
      text-shadow: 1px 1px #FFF;
      font-weight: bold;
      font-size: 12px;
      opacity: .8;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .side-menu > li > a i {
        font-size: 15px;
        margin-right: 5px; }
      .side-menu > li > a:hover {
        color: #80a41a;
        text-decoration: none; }
        .side-menu > li > a:hover i {
          color: #333333;
          opacity: 1; }
    .side-menu > li:before {
      opacity: .8; }
    .side-menu > li:last-child {
      border-bottom: none; }
    .side-menu > li:hover:before {
      opacity: 1; }
    .side-menu > li:before {
      font-family: FontAwesome;
      position: absolute;
      left: 3px;
      top: 4px;
      font-size: 17px; }

#user-nav-tabs {
  margin: 20px 0; }

.side-menu li a {
  padding-left: 0; }

#box-start .list-inline {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 10px;
  color: #777777;
  font-size: 12px; }
  @media screen and (max-width: 480px) {
    #box-start .list-inline li {
      display: block;
      margin-bottom: 5px; } }

#box-start h5 {
  color: #555555;
  font-family: Arial, sans-serif; }

#box-start .progress {
  width: 50%; }
  @media screen and (max-width: 768px) {
    #box-start .progress {
      width: 100%; } }

#box-start .box-reputation {
  margin-top: 22px; }

#box-start .img-thumbnail {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative; }
  #box-start .img-thumbnail img {
    max-width: 100%;
    height: auto; }
  #box-start .img-thumbnail:hover #btn-delete-photo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

#box-start .btn-upload {
  width: 100%;
  background-color: #d7661c;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff; }

#box-start #btn-delete-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  background-color: #000;
  opacity: .5;
  color: #fff; }
  #box-start #btn-delete-photo:hover {
    text-decoration: none; }

#box-sessions > div {
  border-bottom: 1px solid #d0d0d0; }
  #box-sessions > div div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    border-right: 1px solid #d0d0d0; }
  #box-sessions > div:last-child {
    border-bottom: none; }

#box-infobox nav {
  text-align: center; }

#box-infobox .pagination {
  margin-bottom: 0; }

#box-alerts .media, #box-pm .media {
  border-bottom: 1px solid #d0d0d0;
  padding: 8px 0;
  margin-top: 0; }
  #box-alerts .media:last-child, #box-pm .media:last-child {
    border-bottom: none; }
  #box-alerts .media.unread, #box-pm .media.unread {
    background-color: #FFF3CD; }
    #box-alerts .media.unread:hover, #box-pm .media.unread:hover {
      background-color: #FFDCA5; }

#box-alerts header, #box-pm header {
  overflow: hidden; }
  #box-alerts header h4, #box-pm header h4 {
    color: #777777;
    font-size: 11px;
    margin: 0;
    font-family: Arial, sans-serif; }
  #box-alerts header small, #box-pm header small {
    color: #777777;
    font-size: 10px; }

#box-alerts h3, #box-pm h3 {
  font-size: 100%;
  margin: 3px 0;
  font-weight: 700;
  font-family: Arial,sans-serif; }

#box-alerts p, #box-pm p {
  margin: 0;
  color: #555555; }

#box-alerts a {
  color: inherit; }
  #box-alerts a:hover {
    text-decoration: none; }

#box-pm .media small {
  color: #777777;
  font-size: 10px; }

#box-pm .media .pm-text {
  padding: 0 20px 0 0;
  color: #555555; }

#box-pm .media .media-heading a {
  text-decoration: none; }

#box-pm p {
  margin-right: 15px !important; }

#box-pm .pm-excerpt a {
  color: inherit;
  text-decoration: none; }

#box-pm .btn-delete-pm {
  color: #80a41a; }

#wrap {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  max-height: 300px;
  overflow: hidden; }

#overview {
  margin-right: 15px; }

#box-alerts-settings .row {
  border-bottom: 1px solid #d0d0d0;
  margin: 0; }
  #box-alerts-settings .row > div {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    border-right: 1px solid #d0d0d0;
    text-align: center; }
    #box-alerts-settings .row > div:last-child {
      border-right: none; }
    #box-alerts-settings .row > div:first-child {
      text-align: left; }
    #box-alerts-settings .row > div input[type=checkbox] {
      margin: 0; }
  #box-alerts-settings .row:last-child {
    border-bottom: none; }
    #box-alerts-settings .row:last-child > div {
      padding: 20px 0 0 0; }
  #box-alerts-settings .row:nth-child(even) {
    background-color: #fafafa; }

.tab-content {
  margin-top: 10px; }

#box-pm .nav-tabs > li.active > a, #box-pm .nav-tabs > li.active > a:focus, #box-pm .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border-bottom-color: #fff; }

#box-skills .rate {
  display: inline-block;
  width: 1.28571429em; }
  #box-skills .rate:before {
    font-family: FontAwesome;
    content: ""; }
  #box-skills .rate:hover {
    text-decoration: none; }

#box-skills .rate-large {
  cursor: pointer; }
  #box-skills .rate-large:before {
    font-size: 17px; }

#box-skills .rate.marked:before {
  content: ""; }

#box-skills .form-group:last-child {
  margin-bottom: 0; }

#box-skills .fa-arrows {
  color: #777777;
  margin-right: 5px;
  cursor: move; }

#box-skills .alert-popover {
  right: 15px;
  top: 43px; }

/*# sourceMappingURL=user.css.map */