<div id="indicator">
    <div class="bar"></div>

    <ul class="list-unstyled">
        {% for step in ['Podstawowe informacje', 'Informacje o firmie', 'Podgląd'] %}
            <li class="{{ loop.index <= current ? 'complete' }}">
                <span class="bubble">
                    {% if loop.index < current %}
                        <i class="fas fa-check"></i>
                    {% endif %}
                </span>

                <strong>{{ step }}</strong>
            </li>
        {% endfor %}

        <li class="end">
            <span class="bubble"></span>

            <strong>Płatność</strong>
        </li>
    </ul>
</div>

<div class="clearfix"></div>
