<div class="card card-body bg-light p-2 text-center" v-loader>
    <i class="fas fa-refresh fa-spin fa-2x fa-fw"></i>
    <span style="font-size: 20px" class="margin-sm-left">Ładowanie...</span>
</div>
