<div class="card card-body bg-light p-2 border-0 text-center" v-loader>
    <span style="font-size: 20px" class="justify-content-center ml-1"><i class="fas fa-spin fa-spinner  fa-fw"></i> Ładowanie...</span>
</div>
