<div id="form-navbar-fixed">
    <div class="row max-width">
        <div class="col-xlg-8 col-lg-9 col-12-md">
            <div id="form-navigation-container" class="form-group">

            </div>
        </div>
    </div>
</div>
