.markdown-code {
  position: relative;

  .copy-button {
    display:          none;
    position:         absolute;
    padding:          2px 8px;
    border-radius:    8px;
    background-color: rgb(255, 255, 255, 0.25);
    border:           1px solid currentColor;
    right:            12px;
    top:              12px;
    z-index:          1;
    cursor:           pointer;
    font-size:        0.8em;
    opacity:          0.7;
    &:hover {
      opacity: 1.0;
    }
  }

  &:hover {
    .copy-button {
      display: block;
    }
  }
}
