<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#body" aria-controls="body" role="tab" data-toggle="tab">Treść</a></li>
    <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Podgląd</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="body">
        {% include 'components.toolbar' %}
        {{ form_textarea(name, value, {'class': 'form-control'}|merge(attr)) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="preview"></div>
</div>
