<ul class="nav nav-tabs">
    <li class="nav-item"><a href="#body" class="nav-link active" data-bs-toggle="tab">Treść</a></li>
    <li class="nav-item"><a href="#preview" data-bs-toggle="tab">Podgląd</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="body">
        {% include 'legacyComponents.toolbar' %}
        {{ form_textarea(name, value, {'class': 'form-control'}|merge(attr)) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="preview"></div>
</div>
