{{ microblog.html|raw }}

{% if microblog.media|length > 0 %}
    <div class="thumbnails row">
        {% for media in microblog.media %}
            <div class="col-6 col-md-3">
                <a href="{{ media.url() }}" data-toggle="lightbox" data-gallery="gallery-{{ microblog.id }}">
                    <img class="img-thumbnail" src="{{ thumbnail(media) }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}
