<div class="col-sm-2">
    <a href="javascript:" class="thumbnail">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAADIAQMAAAAk14GrAAAABlBMVEXd3d3///+uIkqAAAAAI0lEQVRoge3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAHg2MgAAAYXziG4AAAAASUVORK5CYII=">

        <div class="spinner">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
        </div>
    </a>
</div>
