@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-awesome($icon) {
  position: absolute;
  font-family: FontAwesome;
  content: $icon;
}

@mixin break-word() {
  // https://4programmers.net/Forum/Webmastering/281634-lamanie_dlugich_linii_tekstu_na_firefox
  // musialem zakomentowac ponizszy kod bo na firefox lamalo wyraz z polowie (na chrome dziala ok)
  //-ms-word-break: break-all;
  //word-break: break-all;
  //
  ///* Non standard for webkit */
  //word-break: break-word;
  //
  //-webkit-hyphens: auto;
  //-moz-hyphens: auto;
  //hyphens: auto;
}

@mixin adjust-list-padding() {
  // default padding is too big
  ul, ol {
    padding-left: 16px;
  }
}
