
@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin font-awesome($icon) {
  position: absolute;
  font-family: FontAwesome;
  content: $icon;
}

@mixin break-word() {
  /// @see https://4programmers.net/Forum/Webmastering/281634-lamanie_dlugich_linii_tekstu_na_firefox
  display: table;
  overflow-wrap: break-word;
  table-layout: fixed;
  width: 100%;
}

@mixin adjust-list-padding() {
  // default padding is too big
  ul, ol {
    padding-left: 24px;
  }
}

@mixin link-color-darker() {
  a {
    color: $link-color-darker;
  }
}

@mixin stripped-table() {
  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
  }
}
