@charset "UTF-8";

// nieco ciemniszy kolor linkow (w sytuacji gdy wiele linkow jest obok siebie domyslny kolor jest zbyt jasny)
// -------------------------------------------------------------------------------------------------------

$link-color-darker:         darken($primary, 10%);

// alternatywny kolor linkow uzywany po naprowadzeniu kursora myszy nad link
// uzywany w niewielu sytuacjach w kontrascie do koloru zielonego dominujacego w serwisie
// -------------------------------------------------------------------------------------

$alt-link-hover-color:      #d7661c;

$header-navbar-bg-color:    #454545;

// obramowanie elementow typu "boksy" (tabele, div itp)
// ---------------------------------------------------

$border-color:              #ddd;

// kolor naglowka <h4> znajdujacego sie w elemencie .box (elementy sekcji)
$box-header-color:          #646466;
// kolor border-bottom dla elementu <h4> znajdujacego sie w elemencie .box
$box-border-color:          #c7c7c7;

// kolor tla dla nieprzeczytanych elementow
$unread-bg:                 #FFF3CD;
// :hover dla nowych elementow (powiadomienia, wiadomosci)
$unread-bg-hover:           #FFDCA5;

$screen-xlg-min:            1366px;
$screen-fhd-min:            1920px;
$screen-xlg:                $screen-xlg-min;
$screen-lg-max:             ($screen-xlg-min - 1);
$screen-xlg-max:            ($screen-fhd-min - 1);

// Tag clouds, tag dropdown list and tag editor
// ----------------------------------------------

$tag-color:                   $gray-light;
$tag-bg:                      $gray-lighter;
$tag-counter-color:           lighten($tag-color, 10%);
$tag-hover-color:             $alt-link-hover-color;
$tag-hover-bg:                darken($gray-lighter, 2%);
