@charset "UTF-8";

// obramowanie elementow typu "boksy" (tabele, div itp)
$border-color: #d0d0d0;

// kolor naglowka <h4> znajdujacego sie w elemencie .box (elementy sekcji)
$box-header-color: #646466;
// kolor border-bottom dla elementu <h4> znajdujacego sie w elemencie .box
$box-border-color: #c7c7c7;