{# powiadomienie o wystapieniu logina w poscie na forum #}
{% extends 'emails/layout.twig' %}

{% block container %}
    Witaj,<br><br>

    {{ sender_name }} użył Twojego loginu w treści posta w wątku {{ subject }}.<br>
    Aby ją przeczytać, kliknij w poniższy link:<br><br>

    Link do wpisu: <a href="{{ url(url) }}">{{ url(url) }}</a><br><br>

    <b>Prosimy nie odpowiadać na tego e-maila. Jest on generowany automatycznie.</b>
{% endblock %}
