@import "../theme/theme";

.viewers-online {
  .viewer-pill {
    padding: 4px;
    overflow: hidden;
    border-radius: 21px;
    align-items: center;

    @include dark {
      background: #2e2e2e;
      border: 1px solid #383838;
    }

    @include light {
      background: white;
      border: 1px solid #dedede;
    }

    .viewer-pill-avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }

    .viewer-pill-title {
      padding-left: 6px;
      padding-right: 14px;
      font-size: 0.8em;
      line-height: 1.3em;
    }
  }

  .viewers-users-group {
    // More horizontal space for pills, 
    // it's acceptable for them to overflow a little.
    margin-right: -12px;
  }

  .viewers-users {
    max-width: 90%;

    .circle {
      border-radius: 32px;
      overflow: hidden;
      margin-right: -12px;
      width: 32px;
      height: 32px;

      &.circle-number {
        text-align: center;
        line-height: 32px;
        font-size: 0.8em;
      }

      @include light {
        border: 1px solid #dedede;
        background: white;
      }
      @include dark {
        border: 1px solid #444;
        background: #2e2e2e;
      }

      &.circle-number-muted {
        @include light {
          color: #888;
          background: #f5f5f5;
        }
        @include dark {
          color: #777;
          background: #252525;;
          border: 1px solid #3f3f3f;
        }
      }
    }
  }
}
