{% if can('wiki-admin') %}
    {% if not wiki.deleted_at %}
        <li>
            <a href="#modal-delete" data-toggle="modal"><i class="fa fa-fw fa-remove"></i> Usuń stronę</a>
        </li>
        {% if categories|length > 1 %}
            <li>
                <a href="#modal-unlink" data-toggle="modal" title="Artykuł nie zostanie usunięty, a jedynie jego kopia"><i class="fa fa-fw fa-chain-broken"></i> Usuń tylko tę kopię strony</a>
            </li>
        {% endif %}
        <li>
            <a href="javascript:"><i class="fa fa-fw fa-trash-o"></i> Usuń cache</a>
        </li>
        <li>
            <a href="{{ route('wiki.clone', [wiki.id]) }}"><i class="fa fa-fw fa-clone"></i> Utwórz kopię</a>
        </li>
        <li>
            <a href="{{ route('wiki.move', [wiki.id]) }}"><i class="fa fa-fw fa-arrows"></i> Przenieś stronę</a>
        </li>
    {% else %}
        <li>
            <a href="#modal-restore" data-toggle="modal"><i class="fa fa-fw fa-rotate-left"></i> Przywróć usuniętą wersję</a>
        </li>
    {% endif %}
{% endif %}