{% if can('wiki-admin') %}
    <div class="dropdown float-end">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="comment-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="comment-menu">
            <a class="dropdown-item" href="{{ route('wiki.submit', [wiki.id]) }}" title="Kliknij, aby edytować tę stronę">
              {{ icon('wikiEdit') }} 
              Edycja
            </a>
            <a class="dropdown-item" href="{{ route('wiki.log', [wiki.id]) }}">
              {{ icon('wikiVersionsAndAuthors') }} 
              Historia i autorzy
            </a>
            {% include 'wiki.partials.admin' %}
        </ul>
    </div>
{% endif %}
