{% if can('wiki-admin') %}
    <div class="dropdown float-right">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="comment-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="comment-menu">
            <li class="dropdown-item" role="presentation">
                <a href="{{ route('wiki.submit', [wiki.id]) }}" title="Kliknij, aby edytować tę stronę"><i class="fas fa-edit fa-fw"></i> Edycja</a>
            </li>
            <li class="dropdown-item">
                <a href="{{ route('wiki.log', [wiki.id]) }}"><i class="fas fa-fw fa-history"></i> Historia i autorzy</a>
            </li>

            {% include 'wiki.partials.admin' %}
        </ul>
    </div>
{% endif %}
