{% if wiki.deleted_at %}
    <div class="alert alert-danger">
        <strong>Uwaga!</strong> Ta strona została usunięta. Możesz ją przywrócić jeżeli chcesz, aby była widoczna dla innych użytkowników.
    </div>
{% endif %}
