<div class="qa-filter">

  {% for category, tags in popular_tags %}
    <h4>{{ category }}</h4>

    <ol class="qa-categories list-unstyled">
      {% for tag in tags %}
        <li>
          <a href="#">
            {% if tag.logo.getName() %}
              <img alt="{{ tag.name }}" src="{{ tag.logo }}">
            {% endif %}

            {{ tag.real_name|default(tag.name) }}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>
