<div class="qa-filter">

  <h4>Języki programowania</h4>

  <ol class="qa-categories list-unstyled">
    <li><a href="#"><img alt="java" src="/img/sprites-c9a285ef160c00bf.svg#sprite-logo-java-fragment"> Java</a></li>
    <li><a href="#"><img alt="javascript" src="/img/sprites-c9a285ef160c00bf.svg#sprite-logo-javascript-fragment"> JavaScript</a></li>
  </ol>

  <h4>Bazy danych</h4>

  <ol class="qa-categories list-unstyled">
    <li><a href="#"><img alt="java" src="/img/sprites-c9a285ef160c00bf.svg#sprite-logo-postgresql-fragment"> PostgreSQL</a></li>
  </ol>
</div>
