.wiki-container
{
	background-color: #f0f0ee;
	border:           1px solid #cccccc;
}

.wiki-editor
{
	text-align:  center;
	clear:       both;
	width:       100%;
	line-height: 0;
}

.wiki-container textarea
{
	background-color: #fff;
	font-family:      Verdana, sans-serif;
	box-sizing:       border-box;
	-moz-box-sizing:  border-box;
	font-size:        13px;
	border-left:      none;
	border-right:     none;
	border-bottom:    none;
	border-top-width: 1px;
	border-top-color: #CCC;
	width:            inherit;
	margin:           0;
	border-radius:    0;
}

.wiki-toolbar
{
	width:   100%;
	padding: 0;
	margin:  0;
}

.wiki-toolbar ul
{
	list-style: none;
	width:      100%;
	margin:     0;
	padding:    5px;
	height:     25px;
}

.wiki-toolbar ul li
{
	float:      left;
	display:    block;
	clear:      none;
	padding:    0;
	margin:     0;
	min-height: 0;
}

.wiki-toolbar ul li.wiki-combobox select
{
	font-size: 11px;
	padding:   1px 2px 1px 4px;
	cursor:    pointer;
	margin:    0;
}

.wiki-toolbar ul li.wiki-button
{
	width:  22px;
	height: 23px;
	border: 1px solid #f0f0ee;
}

.wiki-toolbar ul li.help
{
	float:        right;
	margin-right: 10px;
}

.wiki-toolbar ul li.wiki-button:hover
{
	background-color: #b2bbd0;
	border:           1px solid #0a246a;
	cursor:           pointer;
}

.wiki-toolbar ul li.wiki-button a
{
	cursor:          pointer;
	text-decoration: none;
	display:         block;
	height:          100%;
	width:           100%;
}

.wiki-toolbar ul li.wiki-button a:hover
{
	text-decoration: none;
}

.wiki-toolbar ul li.wiki-button a span
{
	visibility: hidden;
}

.wiki-help
{
	background: #FFF3CD;
	/*background: #FFCC5E;*/
	color:      #000;
	padding:    0 10px 10px 10px;
	display:    none;
	border-top: 1px solid #ccc;
	max-height: 350px;
	overflow-y: scroll;
}

.wiki-help h2
{
	font-size:     120%;
	/*color: #80A41A;*/
	color:         #960202;
	margin-bottom: 10px;
	margin-top:    10px;
}

.wiki-help kbd
{
	/*background-color: #fff2a9;*/
	background-color: #FFDCA5;
}

.wiki-help p
{
	padding: 	 2px 0;
}

.wiki-separator
{
	height:       23px !important;
	width:        2px !important;
	border-left:  1px solid #938888 !important;
	margin-left:  2px !important;
	margin-right: 2px !important;
}

.wiki-separator:hover
{
	cursor:      none !important;
	background:  none !important;
	border:      none !important;
	border-left: 1px solid #938888 !important;
}

.wiki-bold
{
	background: url('img/sprites.png') no-repeat 3px -429px;
}

.wiki-italic
{
	background: url('img/sprites.png') no-repeat 3px -681px;
}

.wiki-underline
{
	background: url('img/sprites.png') no-repeat 3px -933px;
}

.wiki-strike
{
	background: url('img/sprites.png') no-repeat 3px -789px;
}

.wiki-teletype
{
	background: url('img/sprites.png') no-repeat 3px -897px;
}

.wiki-var
{
	background: url('img/sprites.png') no-repeat 3px -1046px;
}

.wiki-heading1
{
	background: url('img/sprites.png') no-repeat 3px -465px;
}

.wiki-heading2
{
	background: url('img/sprites.png') no-repeat 3px -501px;
}

.wiki-heading3
{
	background: url('img/sprites.png') no-repeat 3px -537px;
}

.wiki-heading4
{
	background: url('img/sprites.png') no-repeat 3px -573px;
}

.wiki-heading5
{
	background: url('img/sprites.png') no-repeat 3px -609px;
}

.wiki-heading6
{
	background: url('img/sprites.png') no-repeat 3px -645px;
}

.wiki-ul
{
	background: url('img/sprites.png') no-repeat 3px -753px;
}

.wiki-ol
{

	background: url('img/sprites.png') no-repeat 3px -717px;
}

.wiki-sub
{
	background: url('img/sprites.png') no-repeat 3px -825px;
}

.wiki-sup
{
	background: url('img/sprites.png') no-repeat 3px -861px;
}

.wiki-image
{
	background: url('img/sprites.png') no-repeat 3px -213px;
}

.wiki-file
{
	background: url('img/sprites.png') no-repeat 3px -33px;
}

.wiki-anchor
{
	background: url('img/sprites.png') no-repeat 3px 3px;
}

.wiki-template
{
	background: url('img/sprites.png') no-repeat 3px -250px;
}

.wiki-table
{
	background: url('img/sprites.png') no-repeat 3px -357px;
}

.wiki-code
{
	background: url('img/sprites.png') no-repeat 3px -106px;
}

.wiki-c
{
	background: url('img/sprites.png') no-repeat 3px -70px;
}

.wiki-cpp
{
	background: url('img/sprites.png') no-repeat 3px -142px;
}

.wiki-csharp
{
	background: url('img/sprites.png') no-repeat 3px -178px;
}

.wiki-delphi
{
	background: url('img/sprites.png') no-repeat 3px -975px;
}

.wiki-php
{
	background: url('img/sprites.png') no-repeat 3px -286px;
}

.wiki-sql
{
	background: url('img/sprites.png') no-repeat 3px -322px;
}

.wiki-plain
{
	background: url('img/sprites.png') no-repeat 3px -393px;
}

.wiki-quote
{
	background: url('img/sprites.png') no-repeat 3px -1009px;
}

.wiki-ort
{
	background: url('img/sprites.png') no-repeat 3px -393px;
}

.wiki-help-button
{
	background: url('img/help.png') no-repeat 50%;
}
