{% if patronage %}
  <section class="box">
    <h4>
      <a title="4programmers.net patronuje wydarzeniom ze świata IT!" href="{{ url('Patronat') }}">
        <i class="fas fa-calendar-day"></i>
        Zbliżające się wydarzenie
      </a>
    </h4>

    <div class="card card-patronage">
      <div class="card-body patronage-body">
        <a href="{{ route('microblog.view', [patronage.id]) }}" class="patronage-text">
          {{ excerpt|raw }}
        </a>
      </div>

      <div class="card-footer">
        <a title="4programmers.net patronuje wydarzeniom ze świata IT!" href="{{ url('Patronat') }}" class="patronage-text">
          <i class="fas fa-arrow-right fa-fw"></i> Zainteresowany patronatem? Dowiedz się więcej
        </a>
      </div>
    </div>
  </section>
{% endif %}
