{% extends 'adm.base' %}
{% block title %}Strona główna {{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">Status systemu</div>
    <ul class="list-group list-group-flush">
      {% for item in checklist %}
        <li class="list-group-item">
          {% if item.value %}
            <i class="fas fa-check text-success fa-fw"></i>
          {% else %}
            <i class="fas fa-xmark text-danger fa-fw"></i>
          {% endif %}
          <span>{{ item.label }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  {{ registrationsChartModule }}
{% endblock %}
