{{ chartLibrarySource }}
<div class="card card-default">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    {{ chart }}
    <p class="text-muted mt-4">
      Wykres <b>zawiera</b> również użytkowników którzy usunęli swoje konto lub zostali zbanowani.
    </p>
  </div>
</div>
