{% extends 'adm.base' %}
{% block title %}Cenzura {{ parent() }}{% endblock %}

{% block panel %}
    <p>
        <a href="#" class="btn btn-default"><i class="fa fa-plus"></i> Dodaj nowy</a>
        <a href="#" class="btn btn-primary">Zapisz zmiany</a>
    </p>

    {{ grid(grid) }}
{% endblock %}