<html>
<head>
  <link rel="stylesheet" href="{{ stylesheetUrl }}">
  <link href="//fonts.googleapis.com/css?family=Inter:400,500,700" rel="stylesheet" type="text/css">
</head>
<body class="presence-layout">

<div class="flex justify-center align-center h-100">
  <div>
    <div class="card">
      <img class="card-logo" src="{{ logoUrl }}"/>
      <p class="card-heading">
        Dołącz do największej społeczności programistycznej w Polsce
      </p>

      <div class="input-group">
        <label>Nazwa użytkownika</label>
        <input placeholder="Twoja nazwa">

        <p class="error-message">
          Konto o podanej nazwie użytkownika już istnieje
        </p>
      </div>

      <button class="card-button">
        Utwórz konto
      </button>
    </div>

    <div class="card">
      <img class="card-logo" src="{{ logoUrl }}"/>

      <div class="input-group">
        <label>Hasło</label>
        <input type="password" placeholder="Stwórz hasło">
        <small>
          <p>
            Hasło powinno zawierać conajmniej 8 znaków, w tym przynajmniej jedną wielką literę, cyfrę oraz znak specjalny.
          </p>
        </small>
      </div>
      <div class="input-group">
        <label>Powtórz hasło</label>
        <input type="password" placeholder="Stwórz hasło">
      </div>
      <div class="input-group">
        <label>Adres e-mail</label>
        <input placeholder="Twój adres e-mail">
      </div>
      <div class="narrow-section">
        <div class="input-group input-group-checkbox">
          <label>
            <input type="checkbox">
            Akceptuję regulamin oraz politykę prywatności.
          </label>
        </div>
        <div class="input-group input-group-checkbox">
          <label>
            <input type="checkbox">
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
            Wyrażam zgodę na otrzymywanie, na podany przeze mnie adres e-mail,
          </label>
        </div>
      </div>

      <button type="button" class="card-button">
        Utwórz konto
      </button>
    </div>
  </div>
</div>
</body>
</html>
