@charset "UTF-8";

@import "../components/floaters";

footer {
  .footer-top {
    padding: 10px 0;
    position: relative;

    ul.breadcrumb {
      li {
        display: inline;
        color: #f2f2f2;

        a, span {
          color: #969696;
        }
      }

      li + li:before {
        color: #969696;
      }
    }
  }

  .footer-inner {
    overflow: hidden;
    padding: 17px 0 21px;

    ul {
      list-style-type: none;

      padding-left: 3px;

      li {
        padding: 4px 0 4px 0;
      }
    }

    h6 {
      color: #505050;
      text-transform: uppercase;

      a {
        color: inherit;
      }
    }

    a {
      font-size: $font-size-sm;
      color: #6c757d;
    }

    @include media-breakpoint-up('md') {
      .col-md-2 {
        border-left: 1px solid #ddd;

        &:first-child {
          border-left: none;

          ul {
            margin-left: 0;
          }
        }
      }

      ul {
        margin: 0 0 0 15px;
      }
    }

    .footer-bubble {
      background-color: #f3f3f3;
      border-radius: 20px;
      padding: 10px 20px;
      position: relative;
      max-width: 280px;
      margin: 35px 0;

      ol {
        margin: 11px 0;
        list-style-type: none;
        padding: 0;

        li {
          padding: 6px 0;

          a {
            color: #6c757d;
          }
        }
      }
    }
  }

  #footer-copyright {
    font-size: 11px;
    color: $gray-light;
    padding: 10px 0;

    a {
      color: inherit;
    }

    .logo {
      background: url('/img/logo-footer-light.svg') no-repeat 10px 0;
      width: 110px;
      height: 14px;
      display: inline-block;

      body.theme-dark & {
        background-image: url('/img/logo-footer-dark.svg');
      }
    }
  }

  .scroll-top {
    @include floater;
    box-sizing: content-box;
    font-size: 16px;
    display: none;
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    color: #80a41a;

    body.scrolled-down & {
      display: block;
    }
  }
}
