@charset "UTF-8";
@use "../../feature/theme/theme";
@use "../../feature/lookAndFeel/feel";
@use "../../feature/lookAndFeel/style-guide" as style;

@import "../components/floaters";

footer {
  .footer-top {
    padding:  10px 0;
    position: relative;

    ul.breadcrumb {
      li {
        display: inline;
        color:   #f2f2f2;

        a, span {
          color: #969696;
        }
      }

      li + li:before {
        color: #969696;
      }
    }
  }

  .footer-inner {
    overflow: hidden;
    padding:  17px 0 21px;

    ul {
      list-style-type: none;

      padding-left:    3px;

      li {
        padding: 4px 0 4px 0;
      }
    }

    h6 {
      text-transform: uppercase;

      a {
        color: inherit;
      }
    }

    a {
      font-size: $font-size-sm;
    }

    @include media-breakpoint-up('md') {
      .col-md-2 {
        @include theme.property(border-left,
                1px solid style.$neutral-050,
                1px solid style.$neutral-700);

        &:first-child {
          border-left: none;

          ul {
            margin-left: 0;
          }
        }
      }

      ul {
        margin: 0 0 0 15px;
      }
    }

    .footer-bubble {
      padding:   10px 20px;
      position:  relative;
      max-width: 280px;
      margin:    35px 0;

      ol {
        margin:          11px 0;
        list-style-type: none;
        padding:         0;

        li {
          padding: 6px 0;
        }
      }
    }
  }

  .footer-copyright {
    font-size: 11px;
    padding:   10px 0;

    a {
      color: inherit;
    }

    .logo {
      background:    no-repeat;
      width:         90px;
      height:        16px;
      margin-left:   8px;
      margin-bottom: 3px; // This is to align flex image to flex text in footer

      @include feel.legacy {
        @include theme.light {
          background-image: url('/img/logo-footer-light.svg');
        }
        @include theme.dark {
          background-image: url('/img/logo-footer-dark.svg');
        }
      }
      @include feel.modern {
        @include theme.light {
          background-image: url('/img/logo-footer-modern-light.svg');
        }
        @include theme.dark {
          background-image: url('/img/logo-footer-modern-dark.svg');
        }
      }
    }
  }

  .scroll-top {
    @include floater;
    box-sizing:  content-box;
    font-size:   16px;
    display:     none;
    width:       48px;
    height:      48px;
    line-height: 48px;
    position:    fixed;
    text-align:  center;
    cursor:      pointer;
    color:       #80a41a;

    body.scrolled-down & {
      display: block;
    }
  }
}
