.btn-toggle-theme {
  color: rgb(0, 0, 0, 0.5);
  transition: none;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  i {
    color: inherit;
  }
}

body.theme-light {
  .btn-toggle-theme {
    i.enable-theme-light {
      display: inline;
    }

    i.enable-theme-dark {
      display: none;
    }
  }
}

body.theme-dark {
  .btn-toggle-theme {
    i.enable-theme-light {
      display: none;
    }

    i.enable-theme-dark {
      display: inline;
    }
  }
}
