<div class="panel panel-default">
    <div class="panel-body">

        {{ pagination|raw }}

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>
                            {{ grid_column(column) }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for column in columns %}
                            {{ grid_render(column, row[column.name]) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ pagination|raw }}
    </div>
</div>

