<table class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for column in columns %}
                <th>
                    {{ column.label }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>