.card-job {
  > .card-body {
    padding: 10px 15px;
  }

  .skeleton-header {
    width: 100%;
    height: 20px;
  }

  .salary {
    clear: both;
  }

  .job-options {
    margin-bottom: 0;
    color: $text-muted;
    font-size: 11px;

    a {
      color: inherit;
    }
  }

  .on {
    color: lighten($alt-link-hover-color, 5%);
  }

  &.highlight {
    background-color: $unread-bg;
  }
}

.list-group-tech {
  list-style: none;
  margin: 0;

  &.inline {
    display: flex;
    align-items: center;
    flex-direction: row;

    .list-group-item a:hover:after {
      @include remove-overlay();
    }
  }

  .list-group-item {
    display: inline-block;
    border-radius: $border-radius-lg;
    margin-right: 5px;
    background: darken($tag-bg, 2%);
    border: none;
    padding: 0;

    a {
      color: $gray-light;
      font-size: $font-size-sm;
      display: block;
      padding: 5px;
      text-decoration: none;
      white-space: nowrap;

      &.disabled {
        opacity: .7;

        img {
          @include grayscale;
        }
      }
    }

    img {
      width: 17px;
    }

    input[type=checkbox] {
      display: none;
    }

    label {
      font-weight: normal;
      margin: 0;
    }
  }
}

.medal {
  margin-left: 8px;
  margin-top: 0;
  display: inline-block;
  background: url('/img/medal.png') no-repeat;
  width: 20px;
  height: 20px;
}


// Label with "Promo" label
// ---------------------------

.top-spot-badge {
  background-color: theme-color-level("danger", $alert-bg-level);
  position: absolute;
  color: theme-color-level("warning", $alert-color-level);
  font-size: 11px;
  font-weight: normal;
  margin-left: -7px;
  border-radius: 0;
  margin-top: 5px;
  z-index: 1000;
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 7px 8px 0;
    border-color: transparent theme-color-level("warning", $alert-color-level) transparent transparent;
    left: 0;
    top: 16px;
    position: absolute;
  }
}
