.location {
  color: #333333bf;

  a {
    color: inherit;
  }

  ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ' • ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}
