{% extends 'layout' %}

{% block title %}{{ guide.title }}{{ parent() }}{% endblock %}

{% block container %}
  <div class="row mt-1">
    <div class="col-lg-2">
      {% include 'guide.partials.filter' %}
    </div>

    <div id="js-guide" class="col-lg-7">
      <vue-post></vue-post>

      <vue-notifications position="bottom right"/>
    </div>
  </div>

  <script>
    var guide = {{ guide|json_encode|raw }};
  </script>
{% endblock %}
