.default-avatar {
  svg text {
    font-weight: 400;
    font-size: 24px;
    user-select: none;

    &::selection {
      color: currentColor;
    }
  }

  body.theme-light & {
    color: #435b00;
    background: #f3f7e6;
  }

  body.theme-dark & {
    color: #789b17;
    background: #141414;
  }
}
