{# powiadomienie o wiadomosci prywatnej #}
{% extends 'emails/layout.twig' %}

{% block container %}
    Witaj,<br><br>

    Masz nową wiadomość od użytkownika {{ sender }}.<br>
    Aby ją przeczytać, kliknij w poniższy link:<br><br>

    Link do wpisu: <a href="{{ url(url) }}">{{ url(url) }}</a><br><br>

    <b>Prosimy nie odpowiadać na tego e-maila. Jest on generowany automatycznie.</b>
{% endblock %}
