.table a {
  color: $link-color-darker;
}

.table tr.strikeout {
  td {
    text-decoration:line-through;
  }
}

.table th a.sort {
  display: block;
  color: $gray;

  &:hover {
    text-decoration: none;
  }

  &:before {
    font-family: FontAwesome;
    float: right;
    content: $fa-var-sort;
  }
}

.table th a.sort.asc {
  &:before {
    content: $fa-var-sort-asc;
  }
}

.table th a.sort.desc {
  &:before {
    content: $fa-var-sort-desc;
  }
}

.grid {
  table {
    margin-bottom: 0;
  }

  .pagination {
    margin: 8px 0;
  }

  .btn-add {
    margin-bottom: 8px;
  }
}