$sprites: (
    'logo-php': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-php-fragment",
    'logo-java': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-java-fragment",
    'logo-javascript': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-javascript-fragment",
    'logo-cpp': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-cpp-fragment",
    'logo-csharp': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-csharp-fragment",
    'logo-css': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-css-fragment",
    'logo-android': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-android-fragment",
    'logo-lazarus': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-lazarus-fragment",
    'logo-postgresql': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-postgresql-fragment",
    'logo-rust': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-rust-fragment",
    'logo-go': "/img/sprites-34b94cd5474ac360.svg#sprite-logo-go-fragment"
);

$sizes: (
    'logo-php': (
        'width': 711.201px,
        'height': 383.598px
    ),
    'logo-java': (
        'width': 128px,
        'height': 128px
    ),
    'logo-javascript': (
        'width': 128px,
        'height': 128px
    ),
    'logo-cpp': (
        'width': 128px,
        'height': 128px
    ),
    'logo-csharp': (
        'width': 128px,
        'height': 128px
    ),
    'logo-css': (
        'width': 128px,
        'height': 128px
    ),
    'logo-android': (
        'width': 128px,
        'height': 128px
    ),
    'logo-lazarus': (
        'width': 64px,
        'height': 64px
    ),
    'logo-postgresql': (
        'width': 128px,
        'height': 128px
    ),
    'logo-rust': (
        'width': 128px,
        'height': 128px
    ),
    'logo-go': (
        'width': 128px,
        'height': 128px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        background-size: map-get($size, width) map-get($size, height);
    }
}
