// Top/bottom margin classes.
// -------------------------------

@each $size, $width in (lg, 30px), (md, 20px), (sm, 10px), (xs, 5px), (none, 0) {
  .margin-#{$size} {
    margin: #{$width};
  }

  .margin-#{$size}-top {
    margin-top: #{$width};
  }

  .margin-#{$size}-bottom {
    margin-bottom: #{$width};
  }

  .margin-#{$size}-right {
    margin-right: #{$width};
  }

  .margin-#{$size}-left {
    margin-left: #{$width};
  }

  .padding-#{$size} {
    padding: #{$width};
  }

  .padding-#{$size}-top {
    padding-top: #{$width};
  }

  .padding-#{$size}-bottom {
    padding-bottom: #{$width};
  }

  .padding-#{$size}-left {
    padding-left: #{$width};
  }

  .padding-#{$size}-right {
    padding-right: #{$width};
  }
}
