{% if not ('[]' in name) %}
    {{ form_hidden(name, unchecked_value) }}
{% endif %}

<div class="checkbox">
    {{ include(widget_path) }}

    <label for="{{ attr.id }}">
        {{ label }}
    </label>
</div>
