<div id="form-navigation-fixed">
    <div class="row max-width">
        <div class="col-sm-8">
            <div id="form-navigation-container" class="form-group">

            </div>
        </div>
    </div>
</div>