<div class="form-inline">
    {{ form_date(name ~ '[from]', input['from'], {class: 'form-control form-control-sm'}) }}
    {{ separator }}
    {{ form_date(name ~ '[to]', input['to'], {class: 'form-control form-control-sm'}) }}
</div>
