{% extends 'wiki.page' %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div id="about">
                <h1>Witamy w serwisie</h1>

                <img id="about-logo" src="/img/logo-about.png" />
                <h2>O nas, czyli czym jest serwis 4programmers.net</h2>

                <p>
                    4programmers.net jest serwisem www stworzonym dla programistów, administratorów, webmasterów, słowem - dla ludzi związanych z branżą IT.<br />
                    Podstawą działalności serwisu jest <strong>społeczność</strong> wokół której funkcjonujemy. I Ty możesz zostać jej częścią.<br />
                    Jeżeli interesuje Cię tematyka <strong>programowania</strong>, jesteś programistą lub chciałbyś nauczyć się programować, to trafiłeś we właściwe miejsce.
                </p>
            </div>

            <hr />

            <div id="about-forum">
                <h2>Zadaj pytanie oraz dziel się doświadczeniami na forum</h2>

                <img class="main" src="/img/about/about-1.png" />
                <img class="arrow-1" src="/img/about/arrow-1.png" />

                <p>
                    Zadawaj pytania na forum oraz dziel się doświadczeniami. <br /><br />Oceniaj posty i wątki jeżeli uwazasz je za interesujące.
                    Pozwala to innym użytkownikom zorientować się, która odpowiedź ma większą wartość zdaniem społeczności.
                </p>
            </div>

            <hr />

            <div id="about-microblog">
                <h2>Już dzisiaj zacznij pisać własnego mikrobloga</h2>

                <img class="main" src="/img/about/about-2.png" />
                <img class="arrow-2" src="/img/about/arrow-2.png" />

                <p>
                    Każdy zarejestrowany użytkownik może prowadzić własnego mikrobloga. Jeżeli masz jakieś ciekawe przemyślenia,
                    chce podzielić się ciekawym linkiem, projektem - utwórz wpis na mikroblogu. Pozostali użytkownicy będą mogli to przeczytać
                    oraz subskrybować Twoją aktywność.
                </p>
            </div>

            <hr />

            <div id="about-profile">
                <h2>Już dzisiaj stwórz swój profil programisty</h2>

                <img class="main" src="/img/about/about-3.png" />
                <img class="arrow-1" src="/img/about/arrow-1.png" />

                <p>
                    Stwórz swój profil programisty i zacznij aktywnie korzystać z serwisu. Wraz z aktywnym korzystaniem z serwisu
                    rośnie Twoja reputacja (liczona w punktach) przez co Twój profil może być bardziej atrakcyjny dla potencjalnych
                    pracodawców. Otwiera to również przed Tobą nowe funkcje, dostępne dla bardziej aktywnych użytkowników.
                </p>
            </div>

            <br style="clear: both" />
        </div>
    </div>
{% endblock %}
