{% extends 'wiki.page' %}

{% block container %}
  <div class="card">
    <div class="card-body">
      <article>
        {{ include('wiki.partials.dropdown') }}
        <header>
          <h1>{{ wiki.title }}</h1>
        </header>
        <div>
          {{ wiki.text|raw }}
        </div>
      </article>
    </div>
  </div>
{% endblock %}
