{% extends 'adm.base' %}
{% block title %}Eksperymenty{{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">
      Eksperymenty
    </div>
    {% if experiments is not empty %}
      <div class="list-group list-group-flush">
        {% for experiment in experiments %}
          <div class="list-group-item">
            <a href="{{ experiment.url }}">
              {{ experiment.title }}
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if experiments is empty %}
      <div class="card-body">
        <div class="text-center">
          Nie ma jeszcze żadnych eksperymentów.
        </div>
      </div>
    {% endif %}
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary" href="{{ experimentNewUrl }}">
      <i class="fa-solid fa-plus"></i>
      Nowy eksperyment
    </a>
  </div>
{% endblock %}
