{% extends 'adm.base' %}
{% block title %}Eksperymenty{{ parent() }}{% endblock %}

{% block container %}
  <div class="card card-default">
    <div class="card-header">Eksperymenty</div>
    <div class="card-body">
      
    </div>
  </div>
{% endblock %}
