{% for subscription in subscriptions %}
    <tr>
        <td><a href="{{ route('job.offer', [subscription.resource.id, subscription.resource.slug]) }}">{{ subscription.resource.title }}</a></td>
        <td>{{ subscription.created_at|format_date }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="2" style="text-align: center">Brak obserwowanych ofert pracy.</td>
    </tr>
{% endfor %}
