{% for job in subscribed %}
    <tr>
        <td><a href="{{ route('job.offer', [job.id, job.slug]) }}">{{ job.title }}</a></td>
        <td>{{ job.created_at|format_date }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="2" style="text-align: center">Brak obserwowanych ofert pracy.</td>
    </tr>
{% endfor %}