{% for subscription in subscriptions %}
    <tr>
        <td><a href="{{ route('microblog.view', [subscription.resource.id]) }}">{{ excerpt(subscription.resource.html) }}</a></td>
        <td>{{ subscription.created_at ? subscription.created_at|format_date : '--' }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="2" style="text-align: center">Brak obserwowanych wpisów na mikroblogu.</td>
    </tr>
{% endfor %}
