{% for article in subscribed %}
    <tr>
        <td><a href="{{ route('wiki.show', [article.path]) }}">{{ article.title }}</a></td>
        <td>{{ article.created_at ? article.created_at|format_date : '--' }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="2" style="text-align: center">Brak obserwowanych artykułów.</td>
    </tr>
{% endfor %}