{% extends 'user.base' %}
{% block title %}Zaakceptowane odpowiedzi{{ parent() }}{% endblock %}

{% block content %}
    <h2>Zaakceptowane odpowiedzi</h2>

    <div id="box-start" class="card">
        <div class="card-body">
            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}
