{% extends 'user.base' %}
{% block title %}Personalizacja forum {{ parent() }}{% endblock %}

{% block content %}
    <h2>Personalizacja forum</h2>

    <div class="panel panel-default">
        <div class="panel-body">

        </div>
    </div>
{% endblock %}