{% extends 'user.base' %}
{% block title %}Oceny moich postów{{ parent() }}{% endblock %}

{% block content %}
  <h2>Oceny moich postów</h2>
  <div id="box-start" class="card">
    <div class="card-body">
      {{ grid(grid) }}
    </div>
  </div>
{% endblock %}
