{% extends 'user.base' %}
{% block title %}Umiejętności {{ parent() }}{% endblock %}

{% block content %}
  <h2>Umiejętności</h2>

  <div v-cloak id="js-skills" class="card card-skills">
    <div class="card-body">
      <div class="alert alert-warning">
        Umiejętności będą widoczne na Twoim profilu.
      </div>
      <vue-tags-inline @change="addSkill" placeholder="Np. java, c#"></vue-tags-inline>

      <div class="row mt-4">
        <div v-for="(skills, name) in groupedSkills" class="col-sm mb-2 mb-sm-0">
          <strong class="category-name d-block mb-3">
            ${ name }
          </strong>
          <vue-tags :tags="skills" :editable="true" @delete="deleteSkill" @change="updateSkill" class="tag-clouds-md"></vue-tags>
        </div>
      </div>
    </div>
  </div>

  <script>
    var skills = {{ skills|json_encode|raw }};
    var rateLabels = {{ rate_labels|json_encode|raw }};
  </script>
{% endblock %}
