{% extends 'user.base' %}
{% block title %}Umiejętności {{ parent() }}{% endblock %}

{% block content %}
  <h2>Umiejętności</h2>

  <div v-cloak id="js-skills" class="card card-default">
    <div class="card-body">
      <div class="form-group row">
        <div class="col">
          <vue-tags-inline
            @change="addSkill"
            placeholder="Np. java, c#"
            data-popover='{"message": "Umiejętności będą widoczne na Twoim profilu.", "placement": "top-start"}'
          >
          </vue-tags-inline>
        </div>
      </div>

      <div class="row">
        <div v-for="(skills, name) in groupedSkills" class="col-sm mb-2 mb-sm-0">
          <strong class="d-block text-muted border-bottom mb-3">${ name }</strong>

          <vue-tags :tags="skills" :editable="true" @delete="deleteSkill" @priority="updateSkill" class="tag-clouds-skills tag-clouds-md"></vue-tags>
        </div>
      </div>
    </div>

    <vue-notifications position="bottom right" />
  </div>

  <script>
    var skills = {{ skills|json_encode|raw }};
    var rateLabels = {{ rate_labels|json_encode|raw }};
  </script>
{% endblock %}

