{% extends 'user.base' %}
{% block title %}Statystyki moich postów{{ parent() }}{% endblock %}

{% block content %}
    <h2>Statystyki moich postów</h2>

    <div id="box-start" class="panel panel-default">
        <div class="panel-body">

        </div>
    </div>
{% endblock %}