{% extends 'user.base' %}
{% block title %}Tokeny API {{ parent() }}{% endblock %}

{% block content %}
  <h2>Tokeny API</h2>

  <div v-cloak id="js-tokens" class="card">
    <vue-modal ref="modal">
      <template v-slot:title>
        Twój nowy token
      </template>

      ${ tokenId }

      <p class="mt-3">
        <strong>Zachowaj ten token. Nie ma możliwości wyświetlenia go ponownie.</strong>
      </p>
    </vue-modal>

    <div class="card-body">
      <div class="alert alert-warning">
        Tokeny służą do komunikacji z <a href="https://api.4programmers.net">naszym API</a>.
      </div>

      <div class="list-group list-group-flush">
        <div v-for="token in tokens" :key="token.id" class="list-group-item ps-0 pe-0">
          <button @click="deleteToken(token.id)" class="btn btn-sm btn-danger float-end mt-1">Usuń</button>
          <h5 class="mb-0">${ token.name }</h5>

          <vue-timeago :datetime="token.created_at" class="small"></vue-timeago>
        </div>

        <div class="form-group d-flex mt-4">
          <div class="me-2">
            <input
                v-model="tokenName"
                @keyup.enter="addToken"
                placeholder="Nazwa tokenu"
                class="form-control"
                type="text"
                name="token"
            >
          </div>
          <button @click="addToken" type="submit" class="btn btn-primary">
            Dodaj
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
