{#<div class="post" style="margin-top: 10px">#}
<div class="post {{ index == 0 ? 'first-post' }}">

    <div class="row">
        <div class="col-xs-2 col-user">
            <h5 class="offline" title="Użytkownik jest offline">
                <a data-user-id="62278" href="#">Wizzie</a>
            </h5>
        </div>

        <div class="col-xs-10 col-time">
            <a title="Link do tego postu" id="id1182672" class="post-link" href="#">
                <i class="fa fa-file-o"></i>
            </a>

            <span class="timestamp" title="09 październik 2015, 19:08" data-timestamp="1444410483">09 październik 2015, 19:08</span>
            <small><a href="#" title="127.0.0.1" class="post-ip">(127.0.0.1)</a></small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-user hidden-xss">
            <div class="avatar">
                <img class="img-responsive" src="/img/shalom.png">
            </div>

            <p class="hidden-xs">
                <strong>Rejestracja:</strong>
                <small>25 maj 2014, 16:42</small>
            </p>
            <p class="hidden-xs">
                <strong>Ostatnio:</strong>
                <small>22 minuty temu</small>
            </p>
        </div>
        <div class="col-xs-10 col-body">

            <div class="col-vote">
                <input type="hidden" value="1182672">
                <strong class="vote-count" title="Ocena postu">9</strong>

                <a class="vote-up " href="javascript:" title="Kliknij, jeżeli post jest wartościowy (kliknij ponownie, aby cofnąć)">
                    <i class="fa fa-thumbs-o-up"></i>
                </a>
                <a class="vote-accept" href="javascript:" title="Kliknij, aby ustawić tą odpowiedź jako zaakceptowaną (kliknij ponownie, aby cofnąć)">
                    <i class="fa fa-check-circle-o"></i>
                </a>
            </div>

            <div class="post-content" data-post-id="1182672">
                Enim tincidunt vel facilisis, turpis magnis? Cras nunc et augue ac habitasse, nunc cras turpis, sit montes cras, magnis pulvinar, arcu scelerisque turpis magna nascetur eu magna pid in tortor, tincidunt amet vel habitasse mid magnis, porta mus enim ultrices! Mus pid. Porta scelerisque porttitor proin nec sociis. Porttitor scelerisque lorem pellentesque cum sit tristique odio dis! Facilisis pid enim. Et eros vel scelerisque purus nunc est sagittis magna rhoncus. Nascetur etiam! Est et elementum! Adipiscing! Mattis, sed. Placerat porta! Ac arcu dis tortor amet. Non dolor egestas augue magna nascetur integer? Turpis sit cras adipiscing arcu hac pulvinar ac. Vel augue scelerisque sit integer tincidunt rhoncus cras. Cursus ac, ut, eros. Ac tortor penatibus turpis sagittis risus, parturient mus.

                Purus ut urna? Porta in? Tincidunt porta facilisis in eros? Augue, velit sit aenean, pid dapibus dictumst enim quis. Dolor? Placerat proin? Mattis nisi, nunc aliquam? Et scelerisque pulvinar a, nisi ultrices a dapibus natoque, facilisis hac nec nec aliquet et rhoncus nec! Lectus! Amet amet odio elementum mus mus porta? Mid vel sit, in, et porta scelerisque pulvinar, elit rhoncus, urna vel, et, amet tristique risus! Sed quis aliquam? Sociis ut, vut nascetur sed. Nisi aliquam? In turpis, augue? Montes non duis rhoncus ultricies, turpis, in? Nec, cum! Nisi urna hac augue tristique pulvinar! Aliquet! Porta ac velit. Pulvinar proin elementum amet, elementum lundium magna mid, risus, phasellus pulvinar dictumst. Diam phasellus, lundium mauris platea odio nisi nec.

                <hr>
                <footer>"Jeśli wyszkolisz pracownika, to niedobrze, bo odejdzie. Jeśli go nie wyszkolisz, to jeszcze gorzej, bo zostanie."</footer>
            </div>

            <div class="clearfix"></div>

            <div class="edit-info">
                <strong>
                    <a class="btn-history" title="Zobacz historię zmian tego postu" href="#">
                        <i class="fa fa-external-link"></i>
                    </a>

                    3x, ostatnio: <a href="#">Wizzie</a>,
                </strong>
                <span class="timestamp" data-timestamp="1444416388">09 październik 2015, 20:46</span>
            </div>

            <div id="post-comment-1182672" data-post-id="1182672" class="comments">

                <div id="comment-252713" data-comment-id="252713">
                    Przykleiłem ten wątek. Niech będzie widoczny na samej górze :) -

                    <a class="user-name" data-user-id="1" href="#">Adam Boduch</a>
                    <a href="#comment-252713" class="timestamp" data-timestamp="1444410721" title="09 październik 2015, 19:12">09 październik 2015, 19:12</a>

                    <a href="javascript:" title="Edytuj ten komentarz" class="btn-edit">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="javascript:" title="Usuń ten komentarz" class="btn-del">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
                <div id="comment-252713" data-comment-id="252713">
                    Przykleiłem ten wątek. Niech będzie widoczny na samej górze :) -

                    <a class="author user-name" data-user-id="1" href="#">Adam Boduch</a>
                    <a href="#comment-252713" class="timestamp" data-timestamp="1444410721" title="09 październik 2015, 19:12">09 październik 2015, 19:12</a>

                    <a href="javascript:" title="Edytuj ten komentarz" class="btn-edit">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="javascript:" title="Usuń ten komentarz" class="btn-del">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>

                <form method="post" class="collapse" id="form-1182672">
                    <input type="hidden" value="1182672" name="postId">
                    <textarea cols="90" rows="2" class="form-control" name="comment"></textarea>

                    <p class="text-muted pull-left">Pozostało <strong>580</strong> znaków</p>
                    <input type="submit" class="btn btn-xs btn-primary pull-right" value="Dodaj komentarz">
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-bottom" style="height: 32px"></div>
        <div class="col-xs-10 col-bottom">

            <a data-toggle="tooltip" data-placement="top" title="Powiadamiaj o nowych komentarzach do postu" data-category="postLinks" data-action="subscribe" data-post-id="1182672" class="btn btn-xs btn-sub active">
                <i class="fa fa-search-plus"></i>
                <span class="hidden-xs">Obserwuj</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Udostępnij link do tego postu" data-category="postLinks" data-action="share" href="#" class="btn btn-xs btn-share">
                <i class="fa fa-share-alt"></i>
                <span class="hidden-xs">Udostępnij</span>
            </a>
            <a data-toggle="collapse" data-placement="top" title="Napisz komentarz do postu" data-category="postLinks" data-action="comment" data-post-id="1182672" class="btn btn-xs btn-comment" href="#form-1182672">
                <i class="fa fa-comment-o"></i>
                <span class="hidden-xs">Komentuj</span>
            </a>

            <a data-toggle="tooltip" data-placement="top" title="Zgłoś naruszenie w tym poście" data-category="postLinks" data-action="report" rel="nofollow" href="#" class="btn btn-xs btn-report">
                <i class="fa fa-flag"></i>
                <span class="hidden-xs">Raportuj</span>
            </a>


            <a data-toggle="tooltip" data-placement="top" title="Dodaj ten post jako cytat w formularzu odpowiedzi" data-category="postLinks" data-action="multi-quote" rel="nofollow" class="btn btn-xs btn-multi-quote" data-post-id="1182672">
                <i class="fa fa-plus"></i>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Odpowiedz cytując ten post" data-category="postLinks" data-action="quote" rel="nofollow" href="#" class="btn btn-xs btn-quote">
                <i class="fa fa-quote-right"></i>
                <span class="hidden-xs">Cytuj</span>
            </a>

            <a data-toggle="tooltip" data-placement="top" title="Usuń ten post" data-category="postLinks" data-action="delete" href="#id1182672" class="btn btn-xs btn-del">
                <i class="fa fa-remove"></i>
                <span class="hidden-xs">Usuń</span>
            </a>

            <a data-toggle="tooltip" data-placement="top" title="Edytuj ten post" data-category="postLinks" data-action="edit" href="#" class="btn btn-xs btn-edit">
                <i class="fa fa-pencil"></i>
                <span class="hidden-xs">Edytuj</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Włącz/wyłącz szybką edycję postu" data-category="postLinks" data-action="fastEdit" data-post-id="1182672" class="btn btn-xs btn-fast-edit">
                <i class="fa fa-pencil"></i>
                <span class="hidden-xs">Szybka edycja</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-end col-xs-12"></div>
    </div>

    {% if index == 0 %}
    <div id="col-toggle" class="row">
        <a title="Pokaż/ukryj treść pytania" href="javascript:">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    {% endif %}
</div>