<a class="btn-mark-read-xs" href="javascript:" title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
    <i class="fa fa-check-square-o fa-fw"></i>
</a>
<a class="btn-atom-xs" href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">
    <i class="fa fa-rss-square fa-fw"></i>
</a>

<a id="btn-toggle-sidebar" href="javascript:" title="Zamknij/pokaż pasek narzędziowy">
    <i class="fa fa-bars fa-fw"></i>
    <i class="fa fa-close fa-fw"></i>
</a>