<div id="box-my-tags" class="box">
    <h4 class="border">Moje tagi</h4>

    <ul class="tag-clouds">
        <li><a href="#">delphi</a><small>× 7970</small></li>
    </ul>
</div>

<div id="box-popular-tags" class="box">
    <h4 class="border">Popularne tagi</h4>

    <ul class="tag-clouds">
        <li><a href="http://forum.4programmers.net/Tag/c%23">c#</a><small>× 7970</small></li>
        <li><a href="http://forum.4programmers.net/Tag/java">java</a><small>× 7060</small></li>
        <li><a href="http://forum.4programmers.net/Tag/php">php</a><small>× 4115</small></li>
        <li><a href="http://forum.4programmers.net/Tag/c">c</a><small>× 3930</small></li>
    </ul>
</div>

<section id="box-job-offers" class="box">
    <h4><a href="#">Oferty pracy</a></h4>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/img/apple-touch.png" style="width: 35px; height: 35px;" alt="Power Media S.A.">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                    <p><a href="#">Power Media S.A.</a></p>
                    <small><a href="#">Wrocław</a> • do 5000 zł</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/img/apple-touch.png" style="width: 35px; height: 35px;" alt="Power Media S.A.">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#">Junior Web Developer</a></h5>

                    <p><a href="#">Power Media S.A.</a></p>
                    <small><a href="#">Wrocław</a> • do 5000 zł</small>
                </div>
            </div>

            <div class="media">
                <a href="#" class="text-align">Więcej ofert w pobliżu Wrocław</a>
            </div>
        </div>
    </div>
</section>