<a class="btn-mark-read-xs" href="javascript:" title="Oznacz kategorie jako przeczytane" data-category="forum-sidebar-buttons">
    <i class="fa fa-check-square-o"></i>
</a>
<a class="btn-atom-xs" href="http://forum.4programmers.net?export=atom" title="Wyświetl najnowsze wątki w formacie atom" data-category="forum-sidebar-buttons" data-value="atom">
    <i class="fa fa-rss-square"></i>
</a>

<a title="Zamknij/pokaż pasek narzędziowy" id="btn-toggle-sidebar" href="javascript:">
    <i class="fa fa-close"></i>
</a>