@use "../../../feature/theme/theme" as theme;

.card-post.indent {
  &.indent-none {margin-left: 0;}
  &.indent-1 {margin-left: 16px * 1;}
  &.indent-2 {margin-left: 16px * 2;}
  &.indent-3 {margin-left: 16px * 3;}
  &.indent-4 {margin-left: 16px * 4;}
  &.indent-5 {margin-left: 16px * 5;}
  &.indent-6 {margin-left: 16px * 6;}
  &.indent-7 {margin-left: 16px * 7;}
  &.indent-8 {margin-left: 16px * 8;}
  &.indent-9 {margin-left: 16px * 9;}
  &.indent-10 {margin-left: 16px * 10;}
  &.indent-11 {margin-left: 16px * 11;}
  &.indent-12 {margin-left: 16px * 12;}
}

.post-guiderail {
  z-index:      -1;
  left:         -10px;
  width:        10px;
  border-width: 2px;
  border-style: solid;
  @include theme.light {
    border-color: #dddddd;
  }
  @include theme.dark {
    border-color: #333333;
  }
}

.post-guiderail-to-parent {
  $topOffset:                -18px;
  $height:                   20px;

  height:                    $height - $topOffset;
  top:                       $topOffset;
  border-bottom-left-radius: 6px;
  border-top:                none;
  border-right:              none;
}

.post-guiderail-to-sibling {
  border-top:    none;
  border-right:  none;
  border-bottom: none;
  top:           0;
  height:        100%;
}
