.card-post.indent {
  &.indent-1 {
    margin-left: 0;
  }

  &.indent-2 {
    margin-left: 16px;
  }

  &.indent-3 {
    margin-left: 32px;
  }

  &.indent-4 {
    margin-left: 48px;
  }

  &.indent-5 {
    margin-left: 64px;
  }
}

.post-guiderail {
  height: 100px;
  left: -10px;
  width: 10px;
  top: -24px;
  border: 2px solid #ddd;
  border-bottom-left-radius: 6px;
  border-top: none;
  border-right: none;
  z-index: -1;
}
