{% extends 'wiki.base' %}
{% block title %}
    Przenieś stronę do nowej lokalizacji{{ parent }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    Wybierz nową lokalizację dla strony
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
{% endblock %}
