<aside id="sidebar">
    {% block side_menu %}
    {% endblock %}

    {{ render_block('job_ads') }}

    <div id="box-my-tags" class="box">
        <h4 class="border">
            <i class="fas fa-tag fa-fw"></i> Moje tagi

            <a href="javascript:" class="btn btn-secondary btn-sm float-right btn-settings"><i class="fas fa-cog"></i></a>
        </h4>

        {% if tags.user %}
            {% include 'forum.partials.tags' with {'tags': tags.user} %}
        {% else %}
            <div class="padding-sm-top">
                <div class="tag-clouds">
                    <a href="javascript:" class="btn-add">(Brak tagów. Kliknij, aby dodać)</a>
                </div>
            </div>
        {% endif %}

        <form {{ forms.attr({'method': 'post', 'action': route('forum.tag.save'), 'id': 'tags-form', 'style': 'display: none'}) }}>
            <div class="row">
                <div class="col-xs-9">
                    {{ form_text('tags', tags.user|keys|join(', '), {'class': 'form-control input-sm'}) }}
                </div>
                <div class="col-xs-2">
                    {{ form_submit('Zapisz', {'class': 'btn btn-primary btn-sm', 'data-submit-state': 'Zapisywanie...'}) }}
                </div>
            </div>
        </form>
    </div>

    <div id="box-popular-tags" class="box">
        <h4 class="border"><i class="fas fa-tag fa-fw"></i> Popularne tagi</h4>

        {% include 'forum.partials.tags' with {'tags': tags.popular} %}
    </div>

    {% block related %}
    {% endblock %}
</aside>
