<a id="btn-toggle-sidebar" href="javascript:" title="Zamknij/pokaż pasek narzędziowy" class="{{ sidebar ?: 'sidebar-hidden' }}">
    <i class="fa fa-bars fa-fw"></i>
    <i class="fa fa-close fa-fw"></i>
</a>