<a
    id="btn-toggle-sidebar"
    class="d-block d-xl-none px-2"
    href="javascript:"
    title="Pasek narzędziowy"
    rel="nofollow"
    style="padding-top:0.125rem;"
>
  {{ icon('forumSidebarMobileMenu') }}
</a>
