.business-features {
  .fa {
    display: block;
    font-size: 76px;
  }
}

.business-benefits {
  li {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    span {
      font-size: 15px;

      padding-left: 10px;
    }
  }
}
