.panel-job {
  .media-object {
    width: 100px;
    height: 100px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff url('/img/logo-gray.png') no-repeat;
      background-size: 100px 100px;
    }
  }

  .media-body > p {
    border-bottom: 1px solid $border-color;
  }

  .job-options {
    margin-bottom: 0;
    color: $text-muted;
    font-size: $font-size-small - 1;

    a {
      color: inherit;
    }
  }
}

.list-group-tech {
  list-style: none;
  margin: 0;

  .list-group-item {
    padding: 5px;
    display: inline-block;
    border-radius: $border-radius-large;
    margin-right: 5px;
    background: darken($tag-bg, 2%);
    border: none;

    a {
      color: $gray-light;
      font-size: $font-size-small;
    }

    img {
      width: 20px;
    }

    input[type=checkbox] {
      display: none;
    }

    label {
      font-weight: normal;
      margin: 0;
    }
  }
}

#page-job {
  .filters {
    padding: 15px 0 5px 0;
  }

  .nav-pills {
    box-shadow: none;

    > li.active > a {
      border-bottom-width: 1px;
    }

    i {
      font-size: 15px;
      padding-left: 5px;
    }
  }

  .search-form {
    .panel-body {
      padding: 10px;
    }

    .form-control {
      border: none;
      box-shadow: none;
      padding-left: 30px;
    }

    .form-group {
      margin-bottom: 0;

      &:first-child {
        border-right: 1px solid $border-color;
      }
    }

    .fa-fw {
      position: absolute;
      font-size: 16px;
      top: 7px;
      color: lighten($gray-light, 10%);
    }

    button[type=submit] {
      font-size: $font-size-small;
      width: 100%;

      @include text-overflow;
    }
  }
}




// Post offer button (for employers)
// -----------------------------------------------------------

#post-offer {
  margin-top: 20px;
  margin-left: 17%;

  h4 {
    text-indent: -9999px;
    background: url('/img/hand-writing-for-employers.png') no-repeat;
    background-size: contain;
    height: 27px;

    animation: wiggle 2.5s infinite;
    animation-iteration-count: 3;
  }

  p {
    font-size: 11px;
    margin: 8px 0 0 2px;
    text-decoration: underline;
  }

  .btn-primary {
    font-size: 14px;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

//
//.list-group-language {
//  img {
//    width: 20px;
//  }
//
//  &.filtered {
//    img {
//      @include grayscale;
//    }
//
//    input[type="checkbox"]:checked + a {
//      img {
//        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
//        -webkit-filter: grayscale(0%);
//      }
//    }
//  }
//}





#clients {
  //background-color: $header-footer-color;
  //border-top: 1px solid $header-footer-border;
  padding: 20px 0 25px 0;

  .img-responsive {
    @include grayscale;

    &:hover {
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
      -webkit-filter: grayscale(0%);
    }

    height: 35px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.medal {
  margin-left: 8px;
  margin-top: -2px;
  display: inline-block;
  background: url('/img/medal.png') no-repeat;
  width: 20px;
  height: 20px;
}

// Label with "Promo" label
// ---------------------------

.top-spot-badge {
  background-color: $state-warning-border;
  position: absolute;
  color: $state-warning-text;
  font-size: 11px;
  font-weight: normal;
  margin-left: -12px;
  border-radius: 0;
  margin-top: -21px;
  border-top-right-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 7px 8px 0;
    border-color: transparent $state-warning-text transparent transparent;
    left: 0;
    top: 16px;
    position: absolute;
  }
}
