// Background color for job homepage (only in header of home page)
$header-footer-color: darken($body-bg, 0.8%);
$header-footer-border: #c7c7c7;

// Job homepage header. Contains search box and post offer button
// ---------------------------------------------------------------

#job-header-container {
  background-color: $header-footer-color;
  border-bottom: 1px solid $header-footer-border;

  .nav-tabs {
    margin-bottom: -1px;
    border-bottom: none;

    #btn-editor {
      margin-left: 5px;
      padding: 2px 4px;
      border: 1px solid transparent;

      &:hover {
        color: $gray;
        border-color: $border-color;
      }
    }
  }
}

// Formularz wyszukiwania oferty
// -------------------------------------------

#box-search {
  margin: 25px auto 24px auto;
}

// Post offer button (for employers)
// -----------------------------------------------------------

#post-offer {
  margin-top: 20px;

  h4 {
    text-indent: -9999px;
    background: url('/img/hand-writing-for-employers.png') no-repeat;
    background-size: contain;
    height: 27px;

    animation: wiggle 2.5s infinite;
    animation-iteration-count: 3;
  }

  p {
    font-size: 11px;
    color: $gray;
    font-style: italic;
    margin-top: 8px;
  }

  .btn-primary {
    font-size: 14px;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

// Main content begins here...
// -----------------------------------------------------

#job-main-content {
  padding-top: 15px;

  .pagination {
    margin-top: 5px;
  }

  aside {
    .box:first-child {
      > h4 {
        margin-top: 0;
      }
    }
  }
}

#box-filter {
  h5 {
    color: $box-header-color;
    font-size: $font-family-base;
  }

  .list-group-item {
    padding: 5px 5px;
    margin-top: 4px;

    input[type=checkbox] {
      display: none;
    }

    a {
      color: $gray;
      display: block;
      font-size: $font-size-small;
      padding-left: 19px;

      i {
        font-size: $font-size-large;
        vertical-align: middle;
      }

      span {
        padding-left: 3px;
        color: $gray-light;
      }

      small {
        color: $gray-light;
        font-size: 9px;
      }

      &:before {
        @include font-awesome($fa-var-square-o);
        left: 5px;
        top: 1px;
        font-size: 19px;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &:hover {
      border-color: $border-color;
    }
  }

  .btn-reset {
    color: $gray-light;
    font-size: $font-size-small;
    margin-top: 10px;

    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }

  .form-search {
    margin-top: 30px;
  }

  input[type="checkbox"]:checked + a {
    &:before {
      content: $fa-var-check-square-o;
    }
  }
}

#box-jobs {
  table {
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 3px;
    margin: 0 1px 1px 1px;
    width: 100%;
    table-layout: fixed;
  }

  tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }

    td {
      padding: 5px;
      border-bottom: 1px solid $border-color;
    }

    // Extra padding for first premium offer
    // -------------------------------------
    &.top-spot {
      > td {
        padding-top: 24px;
      }
    }

    // Offer logo
    // ---------------------------------------------
    .col-logo {
      width: 70px;

      img {
        max-width: 100%;
      }

      @media screen and (max-width: $screen-sm) {
        width: 35px;
      }

      @media screen and (max-width: $screen-xs) {
        display: none;
      }
    }

    // Offer content (tags, location, company name)
    // -----------------------------------------------
    .col-body {
      padding: 7px 1% 7px 0;

      h2 {
        font-size: 15px;
        margin: 0 0 5px 0;
        float: left;

        @media screen and (max-width: $screen-xs) {
          font-size: 14px;
        }
      }

      p {
        font-size: 12px;
        clear: both;
        padding: 0;
        line-height: 1.4;
        margin: 0;
      }

      small.location {
        color: $gray-light;

        a {
          font-size: 11px;
          color: inherit;
        }
      }

      // extra margin for tags
      .tag-clouds {
        margin-top: 4px;
      }

      @media screen and (max-width: $screen-xs) {
        padding-left: 5px;
      }
    }

    // Salary column (hidden on mobile devices)
    // -----------------------------------------------
    .col-salary {
      width: 15%;

      p {
        font-size: $font-size-small;
        margin: 0;
      }
    }

    .col-time {
      width: 15%;

      > .text-muted {
        font-size: 11px;
      }
    }

    .col-fav {
      width: 40px;
    }

    .btn-subscribe {
      opacity: .3;
      float: right;
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin: 0 5px 0 0;
      position: relative;
      display: inline-block;
    }

    .btn-subscribe.on {
      opacity: 1;
    }

    &:hover {
      .btn-subscribe {
        opacity: 1;
      }
    }
  }
}

#clients {
  //background-color: $header-footer-color;
  //border-top: 1px solid $header-footer-border;
  padding: 20px 0 25px 0;

  .img-responsive {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

    &:hover {
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
      -webkit-filter: grayscale(0%);
    }

    height: 35px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.medal {
  margin-left: 8px;
  background: url('/img/medal.png') no-repeat;
  width: 20px;
  height: 20px;
}

// Label with "Promo" label
// ---------------------------

.top-spot-badge {
  background-color: $state-warning-border;
  position: absolute;
  color: $state-warning-text;
  font-size: 11px;
  font-weight: normal;
  margin-left: -12px;
  border-radius: 0;
  margin-top: -21px;
  border-top-right-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 7px 8px 0;
    border-color: transparent $state-warning-text transparent transparent;
    left: 0;
    top: 16px;
    position: absolute;
  }
}
