@charset "UTF-8";

#job-offer {
  .media-body {
    padding: 0 20px;

    @media screen and (max-width: $screen-sm) {
      padding: 0 5px;
    }
  }

  h1 {
    font-size: 22px;
    margin-bottom: 10px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-large;
    }
  }

  h3 {
    &:after {
      height: 1px;
      width: 10%;
      content: '';
      display: block;
      background-color: #e4e6e8;
      margin-top: 10px;
    }
  }

  .employer {
    margin-right: 3px;
    font-size: 14px;
    font-weight: normal;
  }

  .salary {
    font-size: 14px;

    small {
      font-weight: normal;
    }
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: $font-size-large;
    margin: 18px 0 17px 20px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }

  .tags {
    margin-top: 10px;

    .must-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-must-have.png') no-repeat;
      height: 30px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }

    .nice-to-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-nice-to-have.png') no-repeat;
      height: 45px;
      position: absolute;
      z-index: 0; // 0 so tags can be clickable
      width: 200px;
      left: -27px;
      top: 11px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .media-object {
    width: 70px;

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  // Offer description (or company description)
  // ----------------------------------------------------
  .text {
    font-size: 14px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-small;
    }

    @include adjust-list-padding;
    @include link-color-darker;
  }
}

// Job location. On mobile devices we need to remove bottom margin.
// -----------------------------------------------------------------

.metadata.location {
  border-top: 0;

  @media screen and (min-width: $screen-sm) {
    display: inline;
  }
}

.side-menu {
  li a {
    padding-left: 2px;
  }
}

#box-job-firm {
  ul {
    margin-bottom: 0;

    li {
      padding: 5px 0;
      color: $gray;
      font-size: $font-size-base - 1px;

      a {
        color: inherit;
      }

      i {
        margin-right: 4px;
        font-size: $font-size-base + 1;
      }
    }
  }
}

// Navigation (back to all offers link)
// -------------------------------------

.job-navlinks {
  i {
    color: lighten($brand-primary, 5);
    font-size: 10px;
  }

  a {
    color: #626262;
  }
}
