@charset "UTF-8";

#job-offer {
  padding: 0 20px;

  h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .employer {
    margin-right: 3px;
    font-size: 14px;
    font-weight: normal;
    color: $gray;
  }

  .salary {
    font-size: 14px;

    small {
      font-weight: normal;
    }
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: $font-size-large;
    margin: 18px 0 17px 20px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }

  .benefits {
    i {
      color: $brand-primary;
    }
  }

  .tags {
    margin-top: 10px;
    background: url("/img/hand-writing-nice-to-have.png") no-repeat 58%;

    .must-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-must-have.png') no-repeat;
      height: 30px;
    }

  }
}

// @todo Ponizszy blok jest uzywany rowniez w artykulach (plik wiki.scss). Moze nalezaloby zastosowac DRY?
.metadata {
  color: $gray-light;

  i {
    color: $gray;
    font-size: $font-size-base + 1;
  }

  a {
    color: inherit;
  }
}

.metadata.location {
  display: inline;

  li {
    font-size: 12px;
  }
}

.metadata.primary {
  margin: 10px 0 12px 2px;
  padding-top: 10px;
  border-top: 1px solid $border-color;


  li {
    @media screen and (max-width: $screen-xs) {
      display: block !important;
      font-size: 90%;
      margin-bottom: 5px;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.tag-clouds {
  padding: 5px 0;

  li a {
    font-size: $font-size-small;
  }
}

#apply {
  margin-top: 30px;
}

.side-menu {
  .btn-watch:before {
    @include font-awesome($fa-var-star-o);
  }

  .btn-edit:before {
    @include font-awesome($fa-var-edit);
  }

  .btn-delete:before {
    @include font-awesome($fa-var-remove);
  }

  .btn-move:before {
    @include font-awesome($fa-var-arrow-circle-o-right);
  }

  .btn-flag:before {
    @include font-awesome($fa-var-flag);
  }

  .btn-add:before {
    @include font-awesome($fa-var-pencil);
  }
}

#box-job-firm {
  ul {
    margin-bottom: 0;

    li {
      padding: 5px 0;
      color: $gray;
      font-size: $font-size-base - 1px;

      a {
        color: inherit;
      }

      i {
        margin-right: 4px;
        font-size: $font-size-base + 1;
      }
    }
  }
}