@charset "UTF-8";

#job-offer {
  .media-body {
    padding: 0 20px;

    @media screen and (max-width: $screen-sm) {
      padding: 0 5px;
    }
  }

  h1 {
    font-size: 22px;
    margin-bottom: 10px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-large;
    }
  }

  .employer {
    margin-right: 3px;
    font-size: 14px;
    font-weight: normal;
  }

  .salary {
    font-size: 14px;

    small {
      font-weight: normal;
    }
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: $font-size-large;
    margin: 18px 0 17px 20px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }

  .benefits {
    i {
      color: $brand-primary;
    }
  }

  .tags {
    margin-top: 10px;

    .must-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-must-have.png') no-repeat;
      height: 30px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }

    .nice-to-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-nice-to-have.png') no-repeat;
      height: 45px;
      position: absolute;
      z-index: 1000;
      width: 200px;
      left: -27px;
      top: 11px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .media-object {
    width: 70px;
    height: 70px;

    @media screen and (max-width: $screen-sm) {
      width: 40px;
      height: 40px;
    }
  }

  // Offer description (or company description)
  // ----------------------------------------------------
  .text {
    font-size: 14px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-small;
    }

    @include adjust-list-padding;
  }
}

// Job location. On mobile devices we need to remove bottom margin.
// -----------------------------------------------------------------

.metadata.location {
  border-top: 0;

  @media screen and (min-width: $screen-sm) {
    display: inline;
  }
}

.tag-clouds {
  padding: 5px 0;

  li {
    a {
      font-size: $font-size-small; // 12px

      @media screen and (max-width: $screen-xs) {
        font-size: $font-size-small - 1px;
        padding: 1px 6px;
      }
    }
  }
}

.box-apply {
  margin-bottom: 20px;
}

#apply {
  margin-top: 30px;
}

.side-menu {
  li a {
    padding-left: 2px;
  }
}

#box-job-firm {
  ul {
    margin-bottom: 0;

    li {
      padding: 5px 0;
      color: $gray;
      font-size: $font-size-base - 1px;

      a {
        color: inherit;
      }

      i {
        margin-right: 4px;
        font-size: $font-size-base + 1;
      }
    }
  }
}
