@charset "UTF-8";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image";

#job-offer {
  .media-body {
    padding: 0 20px;

    @media screen and (max-width: $screen-sm) {
      padding: 0 5px;
    }

    section {
      padding: 20px 0;
      border-bottom: 1px solid $border-color;
      clear: both;

      &:first-child {
        padding: 0 0 10px 0;
      }

      &:last-child {
        border-bottom: none;
      }

      > .list-group {
        margin-bottom: 0;
      }
    }
  }

  h1 {
    font-size: 22px;
    margin-bottom: 10px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-large;
    }
  }

  h3 {
    color: $brand-primary;
  }

  .employer {
    margin-right: 3px;
    font-size: 14px;
    font-weight: normal;
  }

  .salary {
    font-size: 14px;

    small {
      font-weight: normal;
    }
  }

  blockquote {
    font-style: italic;
    padding: 0 0 0 30px;
    position: relative;
    border-left: none;
    font-size: $font-size-large;
    margin: 18px 0 17px 20px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }

  .tags {
    .must-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-must-have.png') no-repeat;
      height: 30px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }

    .nice-to-have {
      text-indent: -9999px;
      background: url('/img/hand-writing-nice-to-have.png') no-repeat;
      height: 45px;
      position: absolute;
      z-index: 0; // 0 so tags can be clickable
      width: 200px;
      left: -27px;
      top: 11px;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .media-object {
    width: 70px;

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  // Offer description (or company description)
  // ----------------------------------------------------
  .text {
    font-size: $font-size-medium;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-small;
    }

    img:not(.img-smile) {
      @include img-responsive;
    }

    @include adjust-list-padding;
    @include link-color-darker;
  }
}

// Job location. On mobile devices we need to remove bottom margin.
// -----------------------------------------------------------------

.metadata.location {
  border-top: 0;

  @media screen and (min-width: $screen-sm) {
    display: inline;
  }
}

.side-menu {
  li a {
    padding-left: 0;
  }
}

#box-action-bar {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  overflow: hidden;

  .col-lg-6 {
    padding: 20px 10px;

    &:first-child {
      @media screen and (min-width: $screen-lg) {
        border-right: 1px solid $border-color;
      }

      @media screen and (max-width: $screen-lg) {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .btn {
    width: 100%;
  }

  .btn-refer {
    border: 1px solid $brand-primary;
    color: $brand-primary;

    &:hover {
      background-color: lighten($brand-primary, 50%);
    }
  }
}

#box-job-firm {
  ul {
    margin-bottom: 0;

    li {
      padding: 5px 0;
      color: $gray;
      font-size: $font-size-base - 1px;

      a {
        color: inherit;
      }

      i {
        margin-right: 4px;
        font-size: $font-size-base + 1;
      }
    }
  }
}

// Navigation (back to all offers link)
// -------------------------------------

.job-navlinks {
  i {
    color: lighten($brand-primary, 5);
    font-size: 10px;
  }

  a {
    color: #626262;
    font-size: 12px;
  }
}

// Gallery with firm's photos
// ---------------------------

#gallery {
  line-height: 0;
  padding: 0;
  margin: 10px 0 0 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0;
  -moz-column-count:    3;
  -moz-column-gap:      0;
  column-count:         3;
  column-gap:           0;

  img {
    width: 100% !important;
    height: auto !important;
  }

  @media (max-width: 800px) {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }

  @media (max-width: 400px) {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}
