// Credit card icons
// --------------------

.has-feedback label ~ img {
  position: absolute;

  &.cvc {
    top: 25px;
    right: 5px;
  }
}

// Payment summary
// ------------------

.panel-review {
  > .panel-body {
    strong {
      font-size: 14px;
    }
  }

  > .panel-footer {
    span {
      font-size: $font-size-large;
      display: block;
    }
  }
}

select[name=country_id] {
  padding-left: 4px;
  padding-right: 4px;
}

.nav-left {
  margin-right: -32px;

  > li {
    border-radius: $border-radius-large 0 0 $border-radius-large;
    margin-bottom: 20px;

    > a:hover,
    > a:focus {
      background-color: transparent;
    }

    &.active {
      border-color: $border-color;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      background-color: #fff;
    }

    strong {
      display: block;
      font-size: 15px;
      font-weight: normal;
      color: $text-color;
    }
  }
}

.bank-logo {
  background-image: url(/img/p24.png);
  display: block;
  cursor: pointer;
  margin: auto;
  height: 42px;

  &.mtransfer {
    background-position: -275px -215px;
    width: 111px;
  }

  &.ipko {
    width: 129px;
    background-position: 0 -183px;
  }

  &.wbk {
    background-position: -125px -355px;
    width: 106px;
    height: 35px;
  }

  &.pekao {
    background-position: -130px -97px;
    width: 129px;
  }

  &.millenium {
    background-position: -245px -269px;
    width: 124px;
    height: 35px;
  }

  &.alior {
    background-position: -405px -251px;
    width: 76px;
  }

  &.inteligo {
    background-position: -130px -183px;
    width: 129px;
    height: 42px;
  }

  &.credit-agricole {
    width: 129px;
    background-position: 0 -140px;
  }

  &.t-mobile {
    background-position: -405px -43px;
    width: 86px;
  }

  &.deutsche-bank {
    background-position: -275px 0;
    width: 129px;
  }

  &.eurobank {
    background-position: -130px -54px;
    width: 129px;
  }

  &.citi {
    background-position: -405px -86px;
    width: 82px;
  }

  &.getin {
    background-position: -131px 0;
    width: 143px;
  }

  &.bgz {
    background-position: 0 -355px;
    width: 124px;
    height: 35px;
  }

  &.bos {
    background-position: -132px -225px;
    width: 129px;
  }

  &.r-przelew {
    background-position: -275px -43px;
    width: 128px;
  }

  &.pocztowy-24 {
    background-position: -105px -312px;
    width: 104px;
  }

  &.bps {
    background-position: -405px 0;
    width: 100px;
  }

  &.volkswagen-bank {
    background-position: 0 -96px;
    width: 129px;
  }

  &.noble {
    background-position: -275px -129px;
    width: 120px;
  }

  &.plus {
    background-position: -405px -129px;
    width: 96px;
    height: 35px;
  }

  &.ing {
    background-position: -248px -171px;
  }
}
