// Credit card icons
// --------------------

.has-feedback label ~ img {
  position: absolute;

  &.visa {
    top: 23px;
    right: 4px;
  }

  &.mastercard {
    top: 29px;
    right: 40px;
  }

  &.maestro {
    top: 29px;
    right: 78px;
  }

  &.cvc {
    top: 25px;
    right: 5px;
  }
}

// Payment summary
// ------------------

.panel-review {
  > .panel-body {
    strong {
      font-size: 14px;
    }
  }

  > .panel-footer {
    span {
      font-size: $font-size-large;
      display: block;
    }

    small {
      font-size: 11px;
    }
  }
}
