// Credit card icons
// --------------------

.has-feedback label ~ img {
  position: absolute;

  &.cvc {
    top: 25px;
    right: 5px;
  }
}

// Payment summary
// ------------------

.card-review {
  > .card-body {
    strong {
      font-size: 14px;
    }
  }

  > .card-footer {
    span {
      font-size: $font-size-large;
      display: block;
    }
  }
}

select[name=country_id] {
  padding-left: 4px;
  padding-right: 4px;
}

.nav-left {
  margin-right: -32px;

  > li {
    border-radius: $border-radius-large 0 0 $border-radius-large;
    margin-bottom: 20px;

    > a:hover,
    > a:focus {
      background-color: transparent;
    }

    &.active {
      border-color: $border-color;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      background-color: #fff;
    }

    strong {
      display: block;
      font-size: 15px;
      font-weight: normal;
      color: $text-color;
    }
  }
}

.bank-logo {
  background-image: url(/img/p24.png);
  display: block;
  cursor: pointer;
  margin: auto;
  height: 42px;

  &.mtransfer {
    background-position: -275px -225px;
    width: 111px;
  }

  &.ipko {
    width: 129px;
    background-position: 0 -194px;
  }

  &.santander {
    background-position: -159px -420px;
    width: 128px;
    height: 42px;
  }

  &.pekao {
    background-position: -140px -105px;
    width: 129px;
  }

  &.millenium {
    background-position: -245px -279px;
    width: 124px;
    height: 35px;
  }

  &.alior {
    background-position: -414px -260px;
    width: 76px;
  }

  &.inteligo {
    background-position: -136px -190px;
    width: 129px;
    height: 42px;
  }

  &.credit-agricole {
    width: 129px;
    background-position: 0 -140px;
  }

  &.t-mobile {
    background-position: -411px -53px;
    width: 86px;
  }

  &.deutsche-bank {
    background-position: -284px -8px;
    width: 129px;
  }

  &.eurobank {
    background-position: -141px -64px;
    width: 129px;
  }

  &.citi {
    background-position: -411px -97px;
    width: 82px;
  }

  &.getin {
    background-position: -140px 0;
    width: 143px;
  }

  &.bgz {
    background-position: -8px -362px;
    width: 124px;
    height: 35px;
  }

  &.bos {
    background-position: -141px -236px;
    width: 129px;
  }

  &.pocztowy-24 {
    background-position: -114px -321px;
    width: 104px;
  }

  &.bps {
    background-position: -415px -10px;
    width: 100px;
  }

  &.volkswagen-bank {
    background-position: -8px -105px;
    width: 129px;
  }

  &.noble {
    background-position: -284px -139px;
    width: 120px;
  }

  &.plus {
    background-position: -415px -138px;
    width: 96px;
    height: 35px;
  }

  &.ing {
    background-position: -258px -180px;
  }

  &.nest {
    background-position: -281px -420px;
    width: 96px;
  }

  &.blik {
    width: 121px;
    height: 56px;
    background-position: -18px -427px;
  }
}
