@charset "UTF-8";
@import "../../vendor/chosen";
@import "../../components/affix";
@import "../../components/thumbnail";

$font-size-control-label: 15px;

// Wizard form. Element that indicates current step
// -----------------------------------------------------

#indicator {
  margin: 20px 0;
  overflow: hidden;
  padding-top: 10px;

  .bar {
    height: 10px;
    background-color: $gray-lighter;
    width: 76%;
    margin: auto;
  }

  ul {
    li {
      display: inline-block;
      width: 25%;
      float: left;
      text-align: center;

      .bubble {
        border-radius: 50%;
        border: 5px solid $gray-lighter;
        width: 30px;
        height: 30px;
        background-color: #fff;
        display: block;
        margin: -19px auto 0 auto;
        padding-top: 2px;

        i {
          color: #fff;
        }
      }

      strong {
        font-weight: bold;
        color: lighten($gray-light, 30%);
        display: inline-block;
        padding-top: 10px;
      }
    }

    li.complete {
      .bubble {
        background-color: #555;
        @include gradient-radial(#aed91d, #abd600);
        box-shadow: inset 1px -1px $gray-light;
      }

      strong {
        color: $gray-light;
      }
    }

    li.end {
      .bubble {
        background-color: $gray-lighter;
      }
    }
  }
}

// Sidebar hints
// --------------------------------------------

#hint-container {
  margin-top: 99px;
}

.sidebar-hint p {
  font-size: 13px;
}

// Fixed navigation bar with "next", "previous" buttons
// ---------------------------------------------------------

#form-navbar.fixed {
  background-color: $body-bg;
  border-top: 2px solid $border-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

// Container for offer's tags
// -----------------------------------------------

#tags-container {
  .tag-clouds-skills {
    > li .fa {
      font-size: 10px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
}

// Submit form
// --------------------------------------------

.submit-form {
  .card-heading {
    font-size: $font-size-large;
  }

  .control-label, .checkbox label {
    color: $gray;
  }

  .help-block {
    font-size: $font-size-small;
  }

  .form-group-border {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }

    // nested .form-group
    .form-group {
      margin-bottom: 0;
    }
  }

  .benefits,
  .features {
    li {
      font-size: $font-size-base;
      cursor: pointer;
      padding-left: 0;

      .btn-delete {
        position: absolute;
        top: 15px;
        right: 50px;
        border: 0;
      }
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=text] {
      display: inline-block;
      width: 90%;
      margin-left: 10px;
    }

    .control-label {
      text-align: left;
    }
  }

  .features {
    li {
      height: 45px;
    }
  }
}

.img-container, .img-placeholder {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  width: 100%;

  > img {
    max-width: 100%;
  }

  &:hover {
    .btn-flush {
      display: flex;
    }
  }
}

.btn-upload {
  width: 100%;
  background-color: $alt-link-hover-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.btn-flush {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #000;
  opacity: .5;
  color: #fff;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.mce-tinymce {
  width: 95% !important;
}

.input-inline {
  display: inline-block;
}

input[name=salary_from],
input[name=salary_to],
input[name=deadline] {
  width: 65px;
}

select[name=currency_id],
select[name=rate],
select[name=employment],
select[name=employees],
select[name=founded],
select[name=is_gross] {
  width: auto;
}

// Tag icon in tag input field
// ----------------------------------------------

.has-feedback label ~ .fa.form-control-feedback {
  top: 30px;
  font-size: $font-size-large;
  color: $gray;
}

#map {
  height: 200px;
  margin-bottom: 10px;
}

.plan-tooltip-wrapper {
  cursor: help;
  position: relative;

  > .plan-tooltip {
    position: absolute;
    background-color: #fff;
    border: 2px solid $border-color;
    padding: 5px;
    display: none;
    right: -450px;
    top: -118px;
    z-index: 1000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-radius: $border-radius-base;

    &:before, &:after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 10px;
      margin-top: -10px;
    }

    &:before {
      border-color: rgba(208, 208, 208, 0);
      border-right-color: $border-color;
      border-width: 13px;
      margin-top: -13px;
    }
  }

  &:hover {
    > .plan-tooltip {
      display: block;
    }
  }
}

