{#Email z linkiem umozliwiajacym zresetowanie hasla#}
{% extends 'emails/layout.twig' %}

{% block container %}
    Kliknij na poniższy link aby ustawić nowe hasło: <a href="{{ url('Password/reset/' ~ token) }}">{{ url('Password/reset/' ~ token) }}</a>
{% endblock %}