<div role="tabpanel" class="tab-pane" id="poll">
    <div class="panel panel-forum">
        <div class="panel-body">
            {% for field in children %}
                {{ form_row(field) }}
            {% endfor %}
        </div>
    </div>
</div>