<div class="dropdown-container">
  <div class="dropdown-menu dropdown-menu-start left mega-menu d-none d-lg-block">
    {% for name, categories in sections %}
      <div class="mega-menu-body">
        <p class="mega-menu-title">{{ name }}</p>

        <ul class="list-unstyled">
          {% for category in categories %}
            <li>
              <a href="{{ route('forum.category', [category.slug]) }}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
