<div class="box">
  <h4 class="heading">
    {% if local %}
      {{ icon('viewersOnlineLocal') }}
    {% else %}
      {{ icon('viewersOnlineGlobal') }}
    {% endif %}
    {{ title }}
  </h4>
</div>

{{ include('legacyComponents/viewersNoSection') }}
