@use "../theme/theme" as theme;
@use "./style-guide" as style;

@mixin modern {
  @if & {
    .look-and-feel-modern & {@content}
  } @else {
    .look-and-feel-modern {@content}
  }
}

@mixin legacy {
  @if & {
    .look-and-feel-legacy & {@content}
  } @else {
    .look-and-feel-legacy {@content}
  }
}

@mixin lookAndFeel($cssVarName, $modern, $legacy) {
  @include modern {@include theme.var($cssVarName, $modern)}
  @include legacy {@include theme.var($cssVarName, $legacy)}
}

.neon-subscribe {
  &.neon-subscribe-active {
    @include lookAndFeel(--subscribe-active-color, style.$red-500, #e37329);
    color: var(--subscribe-active-color) !important; // overrides .card-topics .on
  }
}

.neon-forum-category {
  @include lookAndFeel(--category-color,
          (light: style.$neutral-700, dark:style.$neutral-200),
          (light: #5e7813, dark:#acacac));
  color: var(--category-color) !important;
}

@include lookAndFeel(--link-color,
        (light: style.$neutral-700, dark:style.$neutral-200),
        (light: #5e7813, dark:#acacac));

.neon-forum-category-last-topic {
  color: var(--link-color) !important;
}

.neon-forum-category-subcategory {
  color: var(--link-color) !important;
}

.neon-category-default-icon {
  @include lookAndFeel(--category-default-icon-color,
          (light: style.$green-700, dark:style.$green-050),
          (light: #5e7813, dark:#acacac));
  color: var(--category-default-icon-color) !important;
}

$lavary-tab:        'nav-item';
$lavary-tab-anchor: 'nav-link';

@include modern {
  .neon-tabs {
    @include theme.var(--tab-border-color, (light: style.$navy-100, dark: style.$navy-700));
    @include theme.var(--tab-border-active-color, style.$green-500);
    @include theme.var(--tab-text-active-color, (light: style.$neutral-900, dark: style.$neutral-050));
    @include theme.var(--tab-text-inactive-color, (light: style.$neutral-700, dark: style.$neutral-200));

    background:    none;
    border-bottom: 1px solid var(--tab-border-color); // overrides bootstrap .nav-tabs {border-bottom}
    .#{$lavary-tab} {
      .#{$lavary-tab-anchor} {
        background-color: transparent; // overrides bootstrap .nav-link
        border:           none; // overrides bootstrap .nav-link
        color:            var(--tab-text-inactive-color);
        &.neon-tab-active {
          color:         var(--tab-text-active-color);
          border-top:    none;
          border-bottom: 1px solid var(--tab-border-active-color);
        }
      }
    }
  }
}

@include legacy {
  .nav-tabs {
    @include theme.dark {
      border-bottom-color: #404040;
    }
    .#{$lavary-tab} {
      .#{$lavary-tab-anchor} {
        &.active {
          @include theme.light {
            border-top: 2px solid #d7661c;
          }
          @include theme.dark {
            background:          #252525;
            color:               #acacac;
            border-color:        #404040;
            border-bottom-color: #252525;
            border-top-color:    #d7661c;
          }
        }
      }
    }
  }
}
