@use "../theme/theme" as theme;
@use "./size" as size;
@use "./style-guide" as style;

$body-background:               (light: style.$neutral-000, dark: style.$neutral-500);
$post-background:               (light: style.$white, dark: style.$navy-500);
$post-header-border-color:      (light: style.$neutral-050, dark: style.$navy-400);
$section-heading-divider-color: (light: style.$neutral-100, dark: style.$navy-400);
$aside-border-color:            $section-heading-divider-color;

$default-avatar-color:          (light: style.$green-700, dark: style.$green-500);
$default-avatar-background:     (light: style.$green-050, dark: style.$green-900);

$navbar-text-color:             (light: style.$neutral-300, dark: style.$neutral-200);
$viewer-online-pill-background: (light: style.$white, dark: style.$navy-500);
$viewer-online-circle-border:   (light: 2px solid style.$white, dark: 2px solid style.$navy-500);

$username-color:                (light: style.$green-700, dark: style.$green-100);
$username-author-color:         (light: white, dark: style.$neutral-400);

$post-content-link-color:       (light: style.$green-700, dark: style.$green-100);
$post-user-posts-counter-color: (light: style.$green-700, dark: style.$green-100);

$post-radius:                   8px;
$forum-aside-radius:            8px;

$scroll-top-color:              (light: style.$green-700, dark: style.$green-500);
$scroll-top-background:         (light: style.$green-050, dark: style.$green-900);

.look-and-feel-modern {
  @include theme.var(--body-background, $body-background);
  @include theme.var(--post-background, $post-background);
  @include theme.var(--post-border, (light: none, dark: none));
  @include theme.var(--post-header-background, (light: none, dark: none));
  @include theme.var(--post-header-border-color, $post-header-border-color);
  @include theme.var(--section-heading-divider-color, $section-heading-divider-color);
  @include theme.var(--aside-border-color, $aside-border-color);
  @include theme.var(--default-avatar-color, $default-avatar-color);
  @include theme.var(--default-avatar-background, $default-avatar-background);
  @include theme.var(--navbar-text-color, $navbar-text-color);
  @include theme.var(--viewer-online-pill-background, $viewer-online-pill-background);
  @include theme.var(--viewer-online-pill-border, (light: none, dark: none));
  @include theme.var(--viewer-online-circle-border, $viewer-online-circle-border);
  @include theme.var(--username-color, $username-color);
  @include theme.var(--username-author-color, $username-author-color);
  @include theme.var(--username-author-background, $username-color);
  @include theme.var(--var-navbar-user-avatar-border, (light: 2px solid white, dark: 2px solid #181a1b));
  --var-navbar-user-avatar-padding: 0;
  @include theme.var(--post-content-link-color, $post-content-link-color);
  @include theme.var(--post-user-posts-counter-color, $post-user-posts-counter-color);
  @include theme.var(--scroll-top-color, $scroll-top-color);
  @include theme.var(--scroll-top-background, $scroll-top-background);
  @include theme.var(--tabber-active-border-color, (light: style.$green-500, dark:style.$green-500)); // TODO fix, so that same value can be used
}

.look-and-feel-legacy {
  @include theme.var(--body-background, (light: #fafafa, dark: #252525));
  @include theme.var(--post-background, (light: white, dark: #1a1a1a));
  @include theme.var(--post-border, (light: 1px solid #dddddd, dark: 1px solid #2f2f2f));
  @include theme.var(--post-header-background, (light: rgba(51, 51, 51, 0.03), dark: rgba(255, 255, 255, 0.03)));
  @include theme.var(--post-header-border-color, (light: #dddddd, dark: #2f2f2f));
  @include theme.var(--section-heading-divider-color, (light: #dee2e6, dark: #2f2f2f));
  @include theme.var(--aside-border-color, (light: #dee2e6, dark: #2f2f2f));
  @include theme.var(--default-avatar-color, (light: #435b00, dark: #789b17));
  @include theme.var(--default-avatar-background, (light: #f3f7e6, dark: #141414));
  @include theme.var(--navbar-text-color, (light: #777777, dark: #eeeeee));
  @include theme.var(--viewer-online-pill-background, (light: white, dark: #2e2e2e));
  @include theme.var(--viewer-online-pill-border, (light: 1px solid #dedede, dark: 1px solid #383838));
  @include theme.var(--viewer-online-circle-border, (light: 1px solid #dedede, dark: 1px solid #383838));
  @include theme.var(--username-color, (light: #80a41a, dark: #789b17));
  @include theme.var(--username-author-color, (light: white, dark: #1d1d1d));
  @include theme.var(--username-author-background, (light: #80a41a, dark: #789b17));
  @include theme.var(--var-navbar-user-avatar-border, (light: 1px solid #dee2e6, dark: 1px solid #121212));
  --var-navbar-user-avatar-padding: 0.25rem;
  @include theme.var(--post-content-link-color, (light: #5e7813, dark: #789b17));
  @include theme.var(--post-user-posts-counter-color, (light: #5e7813, dark: #789b17));

  @include theme.var(--scroll-top-color, (light: #80a41a, dark: #80a41a));
  @include theme.var(--scroll-top-background, (light: #f3f7e6, dark: #141414));
  @include theme.var(--tabber-active-border-color, (light: #d7661c, dark:#d7661c)); // TODO fix, so that same value can be used
}

body {
  background: var(--body-background) !important; // overrides _reboot.scss body {background}
}

.neon-post {
  border:        var(--post-border) !important; // overrides .card {border}
  background:    var(--post-background);
  border-radius: $post-radius;
  .neon-post-header,
  .neon-post-footer {
    background:   var(--post-header-background);
    border-color: var(--post-header-border-color);
  }
}

.neon-forum-aside {
  background:    var(--body-background);
  padding:       24px !important; // !important for .sticky-aside
  border-radius: $forum-aside-radius;
  border:        1px solid var(--aside-border-color);
  @include size.size(xl) {
    padding: 0 !important;
    border:  none;
  }
}

.neon-section-heading {
  border-bottom-width: 2px;
  border-bottom-color: var(--section-heading-divider-color) !important; // !important for h4.section
}

.default-avatar {
  color:      var(--default-avatar-color);
  background: var(--default-avatar-background);
}

.look-and-feel-legacy {
  .neon-logo {
    height: 30px;
  }
}

.look-and-feel-modern {
  .neon-logo {
    width:  15px;
    height: 20px;
  }
  .neon-post-user-avatar {
    border:  none;
    padding: 0;
    .user-avatar {
      border-radius: 8px;
      overflow:      hidden;
    }
  }
}

.neon-navbar-text,
.neon-navbar-link {
  color: var(--navbar-text-color) !important; // overrides .nav-link {color}
}

.viewers-online {
  .viewer-pill {
    background: var(--viewer-online-pill-background);
    border:     var(--viewer-online-pill-border);
  }
  .viewers-users .circle {
    border: var(--viewer-online-circle-border);
  }
}

.neon-username {
  color: var(--username-color) !important; // overrides .badge {color}
}

.neon-username-author {
  color:      var(--username-author-color) !important; // overrides .badge {color}
  background: var(--username-author-background);
}

.neon-navbar-user-avatar {
  border-radius: 6px;
  border:        var(--var-navbar-user-avatar-border) !important; // overrides .img-thumbnail
  padding:       var(--var-navbar-user-avatar-padding) !important; // overrides .img-thumbnail
  .default-avatar {
    border-radius: 4px;
  }
}

.look-and-feel-modern {
  .neon-primary-button {
    border: none;

    @include theme.light {
      color:      style.$white;
      background: style.$green-500;
      &:hover {background: #007e2b;}
      &:active {background: #006522;}
      &:disabled {background: rgba(style.$green-500, 0.3);}
    }

    @include theme.dark {
      color:      style.$neutral-400;
      background: style.$green-500;
      &:hover {background: #00c041;}
      &:active {background: #00e34d;}
      &:disabled {background: rgba(style.$green-500, 0.3);}
    }
  }
}

.look-and-feel-legacy {
  .neon-primary-button {
    @include theme.dark {
      color: #1a1a1a;
    }
  }
}

.neon-post-content {
  a {
    color: var(--post-content-link-color) !important; // overrides a:not(.badge)
  }
}

.neon-post-counter {
  color: var(--post-user-posts-counter-color);
}

.neon-scroll-top {
  color:      var(--scroll-top-color) !important; // overrides footer .scroll top
  background: var(--scroll-top-background) !important; // overrides footer .scroll top
}

.neon-tabber {
  .neon-tabber-tab {
    &.neon-tabber-tab-active {
      border-bottom-color: var(--tabber-active-border-color) !important; // overrides .nav-pills .nav-link.active
    }
  }
}
