@use "../theme/theme" as theme;
@use "./size" as size;
@use "./style-guide" as style;

$body-background:               (light: style.$neutral-000, dark: style.$neutral-500);
$post-background:               (light: style.$white, dark: style.$navy-500);
$post-header-border-color:      (light: style.$neutral-050, dark: style.$navy-400);
$section-heading-divider-color: (light: style.$neutral-100, dark: style.$navy-400);
$aside-border-color:            $section-heading-divider-color;

$default-avatar-color:          (light: style.$green-700, dark: style.$green-500);
$default-avatar-background:     (light: style.$green-050, dark: style.$green-900);

$navbar-text-color:             (light: style.$neutral-300, dark: style.$neutral-200);
$viewer-online-pill-background: (light: style.$white, dark: style.$navy-500);
$viewer-online-circle-border:   (light: 2px solid style.$white, dark: 2px solid style.$navy-500);

$username-style:                (light: style.$green-700, dark: style.$green-100);
$username-author-color:         (light: white, dark: style.$neutral-400);

$post-radius:                   8px;
$forum-aside-radius:            8px;

.look-and-feel-modern {
  @include theme.var(--body-background, $body-background);
  @include theme.var(--post-background, $post-background);
  @include theme.var(--post-border, (light: none, dark: none));
  @include theme.var(--post-header-background, (light: none, dark: none));
  @include theme.var(--post-header-border-color, $post-header-border-color);
  @include theme.var(--section-heading-divider-color, $section-heading-divider-color);
  @include theme.var(--aside-border-color, $aside-border-color);
  @include theme.var(--default-avatar-color, $default-avatar-color);
  @include theme.var(--default-avatar-background, $default-avatar-background);
  @include theme.var(--navbar-text-color, $navbar-text-color);
  @include theme.var(--viewer-online-pill-background, $viewer-online-pill-background);
  @include theme.var(--viewer-online-pill-border, (light: none, dark: none));
  @include theme.var(--viewer-online-circle-border, $viewer-online-circle-border);
  @include theme.var(--username-color, $username-style);
  @include theme.var(--username-author-color, $username-author-color);
  @include theme.var(--username-author-background, $username-style);
}

.look-and-feel-legacy {
  @include theme.var(--body-background, (light: #fafafa, dark: #252525));
  @include theme.var(--post-background, (light: white, dark: #1a1a1a));
  @include theme.var(--post-border, (light: 1px solid #dddddd, dark: 1px solid #2f2f2f));
  @include theme.var(--post-header-background, (light: rgba(51, 51, 51, 0.03), dark: rgba(255, 255, 255, 0.03)));
  @include theme.var(--post-header-border-color, (light: #dddddd, dark: #2f2f2f));
  @include theme.var(--section-heading-divider-color, (light: #dee2e6, dark: #2f2f2f));
  @include theme.var(--aside-border-color, (light: #dee2e6, dark: #2f2f2f));
  @include theme.var(--default-avatar-color, (light: #435b00, dark: #789b17));
  @include theme.var(--default-avatar-background, (light: #f3f7e6, dark: #141414));
  @include theme.var(--navbar-text-color, (light: #777777, dark: #eeeeee));
  @include theme.var(--viewer-online-pill-background, (light: white, dark: #2e2e2e));
  @include theme.var(--viewer-online-pill-border, (light: 1px solid #dedede, dark: 1px solid #383838));
  @include theme.var(--viewer-online-circle-border, (light: 1px solid #dedede, dark: 1px solid #383838));
  @include theme.var(--username-color, (light: #80a41a, dark: #789b17));
  @include theme.var(--username-author-color, (light: white, dark: #1d1d1d));
  @include theme.var(--username-author-background, (light: #80a41a, dark: #789b17));
}

@include theme.both {
  body {
    background: var(--body-background);
  }
  .neon-post {
    border:        var(--post-border);
    background:    var(--post-background);
    border-radius: $post-radius;
    .neon-post-header,
    .neon-post-footer {
      background:   var(--post-header-background);
      border-color: var(--post-header-border-color);
    }
  }
}

.neon-forum-aside {
  background:    var(--body-background);
  padding:       24px !important; // !important for .sticky-aside
  border-radius: $forum-aside-radius;
  border:        1px solid var(--aside-border-color);
  @include size.size(xl) {
    padding: 0 !important;
    border:  none;
  }
}

@include theme.both {
  .neon-section-heading {
    border-bottom-width: 2px;
    border-bottom-color: var(--section-heading-divider-color) !important; // !important for h4.section
  }
}

.default-avatar {
  color:      var(--default-avatar-color);
  background: var(--default-avatar-background);
}

.look-and-feel-legacy {
  .neon-logo {
    height: 30px;
  }
}

.look-and-feel-modern {
  .neon-logo {
    width:  15px;
    height: 20px;
  }
  .neon-post-user-avatar {
    border:  none;
    padding: 0;
    .user-avatar {
      border-radius: 8px;
      overflow:      hidden;
    }
  }
}

.neon-navbar-text,
.neon-navbar-link {
  color: var(--navbar-text-color) !important;
}

.viewers-online {
  .viewer-pill {
    background: var(--viewer-online-pill-background);
    border:     var(--viewer-online-pill-border);
  }
  .viewers-users .circle {
    border: var(--viewer-online-circle-border);
  }
}

.neon-username {
  color: var(--username-color);
}

.neon-username-author {
  color:      var(--username-author-color) !important; // overrides .badge {color}
  background: var(--username-author-background);
}
