@use "../theme/theme" as theme;
@use "./style-guide" as style;
@use "./feel.scss" as feel;

.neon-subscribe {
  &.neon-subscribe-active {
    @include feel.var(--subscribe-active-color, style.$red-500, style.$red-500);
    color: var(--subscribe-active-color) !important; // overrides .card-topics .on
  }
}

.neon-homepage-forum-summary,
.neon-card,
.neon-microblog,
.neon-reputation {
  border-radius: 8px;
  @include feel.modern {
    border: none;
  }
  @include feel.legacy {
    @include theme.property(border, 1px solid #dddddd, 1px solid rgb(47, 47, 47));
  }
}

.neon-homepage-forum-summary {
  @include feel.var(--summary-background,
          (light: style.$new-1, dark:style.$new-2),
          (light: #f6f6f6, dark:#1a1a1a));

  background: var(--summary-background) !important; // overrides .card
}

.neon-forum-category {
  @include feel.var(--category-color,
          (light: style.$neutral-700, dark:style.$neutral-200),
          (light: #5e7813, dark:#acacac));
  color: var(--category-color) !important;
}

.neon-is-online {
  background:   var(--user-online-color);
  border-color: var(--post-background) !important;
}

@include feel.var(--link-color,
        (light: style.$neutral-700, dark:style.$neutral-200),
        (light: #5e7813, dark:#acacac));

.neon-forum-category-last-topic {
  color: var(--link-color) !important;
}

.neon-forum-category-subcategory {
  color: var(--link-color) !important;
}

.neon-secondary-button {
  @include feel.var(--color, style.$green-500, #80a41a);

  color:  var(--color) !important;
  border: 1px solid var(--color) !important;

  &.neon-follows,
  &:hover {
    @include feel.var(--hover-color, (light:style.$white, dark:style.$neutral-900), black);

    background-color: var(--color) !important;
    color:            var(--hover-color) !important;
  }
}

.neon-topic-page,
.neon-topic-list-category-name,
.neon-topic-page-icon,
.neon-topic-default-icon,
.neon-topic-replies-icon,
.neon-category-default-icon { // ten sam co w linkach, post counter, username
  @include feel.var(--category-default-icon-color,
          (light: style.$green-800, dark:style.$green-050),
          (light: #5e7813, dark:#acacac));
  color: var(--category-default-icon-color) !important;
}

.neon-reputation,
.neon-microblog {
  @include feel.var(--microblog-background,
          (light: style.$white, dark: style.$neutral-800),
          (light: white, dark:#1a1a1a));
  background: var(--microblog-background) !important; // overrides .card background
}

.neon-recent-activity-headline a,
.neon-link {
  @include feel.var(--link-color,
          (light: style.$green-800, dark:style.$green-050),
          (light: #80a41a, dark:#80a41a));
  color: var(--link-color) !important;
}

.neon-microblog-details a, // overrides _reboot.scss a
.neon-microblog-details {
  @include feel.var(--microblog-subtitle-color,
          (light: style.$neutral-500, dark:style.$neutral-300),
          (light: #6c757d, dark:#8f9ba5));

  color: var(--microblog-subtitle-color) !important;
}

.neon-post-date {
  @include feel.var(--date-color,
          (light: style.$neutral-800, dark:style.$neutral-300),
          (light: #333333, dark:#acacac));
  color: var(--date-color);
}

.neon-navbar-search-bar {
  @include feel.legacy {
    border: 1px solid #ccc;
  }
}

.neon-breadcrumb {
  @include feel.var(--category-default-icon-color,
          (light: style.$green-800, dark:style.$green-050),
          (light: #5e7813, dark:#acacac));
  &:before {
    color: var(--category-default-icon-color) !important;
  }
}

.neon-topic-title {
  @include feel.var(--topic-list-title-color,
          (light: style.$neutral-600, dark:style.$neutral-200),
          (light: black, dark:#acacac));
  color: var(--topic-list-title-color) !important;
}

.neon-topic-title-unread {
  @include feel.legacy {
    color: #80a41a !important;
  }
}

$lavary-tab:        'nav-item';
$lavary-tab-anchor: 'nav-link';

@include feel.modern {
  .neon-tabs {
    @include theme.var(--tab-border-color, (light: style.$neutral-050, dark: style.$neutral-700));
    @include theme.var(--tab-border-active-color, style.$green-500);
    @include theme.var(--tab-text-active-color, (light: style.$neutral-900, dark: style.$neutral-050));
    @include theme.var(--tab-text-inactive-color, (light: style.$neutral-700, dark: style.$neutral-200));

    background:    none;
    border-bottom: 1px solid var(--tab-border-color); // overrides bootstrap .nav-tabs {border-bottom}
    .#{$lavary-tab} {
      .#{$lavary-tab-anchor} {
        background-color: transparent; // overrides bootstrap .nav-link
        border:           none; // overrides bootstrap .nav-link
        color:            var(--tab-text-inactive-color);
        &.neon-tab-active {
          color:         var(--tab-text-active-color);
          border-top:    none;
          border-bottom: 1px solid var(--tab-border-active-color);
        }
      }
    }
  }
}

@include feel.legacy {
  .nav-tabs {
    @include theme.dark {
      border-bottom-color: #404040;
    }
    .#{$lavary-tab} {
      .#{$lavary-tab-anchor} {
        &.active {
          @include theme.light {
            border-top: 2px solid #d7661c;
          }
          @include theme.dark {
            background:          #252525;
            color:               #acacac;
            border-color:        #404040;
            border-bottom-color: #252525;
            border-top-color:    #d7661c;
          }
        }
      }
    }
  }
}
