@use "../theme/theme" as theme;
@use "./size" as size;

$body-background: (light: #f0f2f5, dark: #121314);
$post-background-body: (light: white, dark: #181a1b);
$post-background-header: (light: none, dark: none);
$section-heading-divider-color: (light: #e9ecef, dark: #2a2e30);
$post-header-border: $section-heading-divider-color;
$default-avatar-color: (light: #005b12, dark: #00a538);
$default-avatar-background: (light: #e7f7e6, dark: #001306);

$post-radius: 8px;
$forum-aside-radius: 8px;

.look-and-feel-modern {
  @include theme.var(--body-background, $body-background);
  @include theme.var(--post-background-body, $post-background-body);
  @include theme.var(--post-background-header, $post-background-header);
  @include theme.var(--post-border, (light: none, dark: none));
  @include theme.var(--post-border-header-color, $post-header-border);
  @include theme.var(--section-heading-divider-color, $section-heading-divider-color);
  @include theme.var(--default-avatar-color, $default-avatar-color);
  @include theme.var(--default-avatar-background, $default-avatar-background);
}

.look-and-feel-legacy {
  @include theme.var(--body-background, (light: #fafafa, dark: #252525));
  @include theme.var(--post-background-body, (light: white, dark: rgb(26, 26, 26)));
  @include theme.var(--post-background-header, (light: rgba(51, 51, 51, 0.03), dark: rgba(255, 255, 255, 0.03)));
  @include theme.var(--post-border, (light: 1px solid rgb(221, 221, 221), dark: 1px solid #2f2f2f));
  @include theme.var(--post-border-header-color, (light: rgb(221, 221, 221), dark: #2f2f2f));
  @include theme.var(--section-heading-divider-color, (light: #dee2e6, dark: #2f2f2f));
  @include theme.var(--default-avatar-color, (light: #435b00, dark: #789b17));
  @include theme.var(--default-avatar-background, (light: #f3f7e6, dark: #141414));
}

@include theme.both {
  body {
    background: var(--body-background);
  }
  .neon-post {
    border: var(--post-border);
    background: var(--post-background-body);
    border-radius: $post-radius;
    .neon-post-header,
    .neon-post-footer {
      background: var(--post-background-header);
      border-color: var(--post-border-header-color);
    }
  }
}

.neon-forum-aside {
  background: var(--body-background);
  padding: 24px !important; // !important for .sticky-aside
  border-radius: $forum-aside-radius;
  border: 1px solid var(--section-heading-divider-color);
  @include size.size(xl) {
    padding: 0 !important;
    border: none;
  }
}

@include theme.both {
  .neon-section-heading {
    border-bottom-width: 2px;
    border-bottom-color: var(--section-heading-divider-color) !important; // !important for h4.section
  }
}

.default-avatar {
  color: var(--default-avatar-color);
  background: var(--default-avatar-background);
}
