$white:       white;

$green-050:   #e7f7e6;
$green-100:   #bdfed3;
$green-200:   #7cfea7;
$green-300:   #3afd7b;
$green-400:   #03f252;
$green-500:   #00a538;
$green-600:   #028d30;
$green-700:   #016a24;
$green-800:   #014718;
$green-900:   #00230c;
$green-950:   #001407;

$neutral-050: #e4e6e7;
$neutral-100: #c7c9cc;
$neutral-200: #acb0b4;
$neutral-300: #91969c;
$neutral-400: #767d84;
$neutral-500: #5c6166;
$neutral-600: #44474b;
$neutral-700: #2b2e30;
$neutral-800: #181a1b;
$neutral-900: #121314;
$neutral-950: #0a0a0b;

$navy-050:    #f0f2f5;
$navy-100:    #dde4ea;
$navy-200:    #bdcad6;
$navy-300:    #9db1c3;
$navy-400:    #7e98af;
$navy-500:    #61829e;
$navy-600:    #4e687e;
$navy-700:    #3a4e5f;
$navy-800:    #27343f;
$navy-900:    #131a20;
$navy-950:    #0a0d10;

$red-050:     #fce8ed;
$red-100:     #f9d2da;
$red-200:     #f3a5b6;
$red-300:     #ee7791;
$red-400:     #e84a6c;
$red-500:     #e11d48;
$red-600:     #b51739;
$red-700:     #88112b;
$red-800:     #5a0c1d;
$red-900:     #2d060e;
$red-950:     #170307;
