$white:       white;

$green-050:   #e7f7e6;
$green-100:   #bdd5c3;
$green-500:   #00a538;
$green-700:   #005b12;
$green-900:   #001306;

$neutral-000: #f0f2f5;
$neutral-050: #e9ecef;
$neutral-100: #dde4ea;
$neutral-200: #acacac;
$neutral-300: #333333;
$neutral-400: #1a1a1a;
$neutral-500: #121314;

$navy-400:    #2a2e30;
$navy-500:    #181a1b;

$red-500:     #e11d48;
$red-600:     #be123c;
$red-700:     #900e2e;
$red-800:     #62091f;
$red-900:     #330510;
