#box-topics {
  margin: 9px 0 9px 0;

  td.sticky {
    background-color: #e2e7e1;
  }

  tr:hover {
    .btn-watch-sm {
      opacity: 1;
    }
  }
}

.col-topic-icon {
  width: 30px;

  .ico {
    display: block;
    height: 18px;
    width: 20px;
    background: url('/img/sprites.png') no-repeat;
  }

  .ico.normal {
    background-position: 0 -1277px;
  }

  .ico.new {
    background-position: 0 -1234px;
  }

  .ico.lock {
    background-position: 0 -1148px;
  }

  .ico.lock.new {
    background-position: 0 -1191px;
  }

  .ico.sticky {
    background-position: 0 -1320px;
  }

  .ico.sticky.new {
    background-position: 0 -1363px;
  }

  .ico.announcement {
    background-position: 0 -1062px;
  }

  .ico.announcement.new {
    background-position: 0 -1105px;
  }
}

.col-subject {
  padding-bottom: 1px !important;

  h5 {
    margin: 0;

    a {
      color: darken($brand-primary, 10%);
    }
  }

  .topic-pagination {
    float: right;
    margin: 0;
    position: relative;
    padding-left: 12px;
    font-size: 12px;

    &:before {
      @include font-awesome($fa-var-file-o);
      font-size: 10px;
      left: 0;
    }
  }

  strong {
    font-weight: normal;
    font-size: 11px;
    padding: 1px 0 0 0;
    display: block;
    clear: left;
  }

  > .tag-clouds {
    margin: 0;
    padding: 0;
    clear: both;

    li {
      float: none;

      a {
        margin: 0;
        padding: 2px 6px;
      }
    }
  }

  .btn-accepted {
    float: left;
    margin-right: 3px;
  }
}

.col-views {
  @extend .col-stats;

  width: 110px;
}

.col-replies-real {
  color: $brand-danger;
}

.col-last-post {
  width: 22%;
  min-width: 120px;

  .img-thumbnail {
    float: left;
    margin-right: 5px;
  }

  .btn-watch-sm {
    opacity: .3;
    float: right;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin: 8px 5px 0 0;
    position: relative;
    display: inline-block;

    &:after {
      position: absolute;
      left: 0;
      font-family: FontAwesome;
      content: $fa-var-star-o;
    }
  }

  .btn-watch-sm.on {
    opacity: 1;

    &:after {
      content: $fa-var-star;
      color: lighten($alt-link-hover-color, 5%);
    }
  }
}

.col-footer-nav {
  padding: 15px 5px 15px 15px !important;

  .pagination {
    font-size: 80%;
  }

  select {
    margin: 3px 0;
    border: 1px solid $border-color;
    padding: 3px;
    border-radius: 3px;
  }
}
