.card-topics {
  a {
    color: $link-color-darker;
  }

  .card-body {
    border-bottom: 1px solid $border-color;

    &:nth-child(even) {
      background-color: #fafafa;
    }

    &:last-child {
      border-bottom: 0;
    }

    // must be here. otherwise, background-color would be overwritten by :nth-children()
    &.flag {
      background-color: theme-color-level("danger", $alert-bg-level);
      color: $danger;
      border-bottom-color: theme-color-level("danger", $alert-border-level);

      a {
        color: inherit;
      }
    }
  }

  // desktop
  @include media-breakpoint-up(sm) {
    .card-body {
      padding: .5rem 1rem;

      > .row {
        align-items: center;
      }
    }
  }

  // mobile
  @include media-breakpoint-down(sm) {
    @include card-body-not-read();
  }

  .fa-lock {
    font-size: 14px;
    color: $brand-primary;
  }

  .topic-subject {
    font-size: .9rem;
  }
}

a.not-read {
  &:hover:before {
    @include font-awesome($fa-var-eye);

    display: flex;
    cursor: pointer;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    z-index: 100;
  }

  &:after {
    content: ' ';
    width: 12px;
    height: 12px;
    background-color: #d7661c;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 0;
    border: 2px solid #fff;
  }
}

