.table-forum {
  > table {
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 3px;
    margin: 0 1px 1px 1px;
    width: 100%;
    table-layout: fixed;
  }

  tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }

    td {
      padding: 5px;
      border-bottom: 1px solid $border-color;
    }
  }
}

.col-icon {
  width: 42px;
  text-align: center;

  .ico {
    display: block;
    height: 26px;
    background: url('/img/sprites.png') no-repeat;
  }

  .ico.lock {
     background-position: 4px -123px;
  }

  .ico.new {
    background-position: 4px -172px;
    cursor: pointer;
  }

  .ico.normal {
    background-position: 4px -221px;
  }
}

.col-stats {
  text-align: right;
  width: 9%;
  font-size: 12px;

  p {
    margin: 0;
    @include text-overflow();
  }
}

.col-forum-description {
  p {
    margin: 0;

    @media (max-width: $screen-md) {
      font-size: 12px;
    }

    @media (max-width: $screen-xs) {
      font-size: 11px;
    }
  }

  // Category name
  // ------------------------

  h3 {
    font-size: 15px;
    padding: 2px 0 5px 0;
    margin: 0;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-base;
    }
  }

  // Forum stats (views, replies) - only for mobile devices
  // ------------------------------------------------------

  .list-stats {
    font-size: 11px;
    margin-bottom: 0;
    color: $gray;
  }
}

.col-avatar {
  width: 4%;
}

.col-post-preview {
  width: 25%;

  p {
    margin: 0;
    @include text-overflow();
  }

  @media screen and (max-width: $screen-sm) {
    width: 35%;
    font-size: 12px;
  }
}

.btn-view {
  padding: 8px 11px;
  background: url('/img/topic-view.png') no-repeat 0 2px;
  width: 18px;
  height: 14px;
  display: inline-block;
  float: left;
  margin-right: 2px;
  margin-top: 1px;
}

.btn-view.unread {
  background-image: url('/img/topic-view-unread.png');
}
