#sidebar {
  float: right;
  width: 23%;
  margin-right: -25%;
  z-index: 1000;

  @include media-breakpoint-down(lg) {
    display: none;
    position: absolute;
    z-index: 101;
    font-size: .9em;
    right: 25%;
    background: #F3F5F0;
    border: 2px solid $border-color;
    padding: 6px 10px;
    box-shadow: 5px 5px 6px #AAA;
    width: 45%; // na urzadzeniach mobilnych rozszerzamy to okno aby cokolwiek bylo tam widac
  }

  @include media-breakpoint-down(xs) {
    width: 65%;
  }
}

// Przycisk do ukrywania menu bocznego
// -------------------------------------------------------------------------------------------

#btn-toggle-sidebar {
  position: absolute;
  bottom: 5px;
  font-size: 18px;
  right: 0;
  color: $gray;
}

.side-menu {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 9px;

    a {
      color: $gray-dark;
      text-shadow: 1px 1px #FFF;
      font-size: 11px;
      padding: 1px 0 1px 21px;
      opacity: .9;

      &:hover {
        opacity: 1;
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}



.btn-back:before {
  content: $fa-var-undo;
}


#btn-setting:before {
  content: $fa-var-cog;
}


#btn-edit-subject:before {
  content: $fa-var-pencil-alt;
}


#btn-status:before {
  content: $fa-var-sticky-note;
  font-weight: 400;
}

#btn-lock {
  .fa-unlock {
    display: none;
  }

  &.on {
    .fa-unlock {
      display: inline;
    }

    .fa-lock {
      display: none;
    }
  }
}

.btn-watch {
  .fas.fa-star {
    display: none;
  }

  .far.fa-star {
    display: inline-block;
  }

  &.on {
    .fas.fa-star {
      display: inline-block;
      color: lighten($alt-link-hover-color, 5%);
    }

    .far.fa-star {
      display: none;
    }
  }

  a:active,
  a:focus {
    text-decoration: none;
  }

  small {
    color: $gray-light;
  }
}


// Licznik watkow w danym dziale
// ----------------------------------

#box-count {
  color: lighten($gray-light, 10%);
  margin: 5px 0 15px 0;

  strong {
    font-size: 270%;
    display: block;
  }

  span {
    letter-spacing: 2px;
    font-size: 90%;
  }
}

// Wskazowki dotyczace wyszukiwania na forum
// ----------------------------------------------------------------

#box-search-tips {
  ul {
    margin: 20px 0;

    li {
      margin: 4px 0;
    }
  }
}

// Style zwiazane z ustawianiem wlasnych tagow
// -----------------------------------------------------------------

#box-popular-tags, #box-my-tags {
  margin-bottom: 20px;
}

#box-my-tags {
  .btn-settings {
    margin-top: -4px;
  }
}

#tags-form {
  .col-xs-2 {
    padding: 0;
  }
}

div.tag-clouds {
  .btn-add {
    color: $gray;
    font-style: italic;
  }
}
