@charset "UTF-8";

#box-post {
  margin-top: 5px;
}

.post {
  background-color: #fff;
  border: 1px solid $border-color;

  > div.row {
    border-bottom: 1px solid $border-color;
    margin: 0;
  }

  > div.row:nth-child(even) {
    background-color: #fafafa;
  }

  div[class*="col-"] {
    padding: 5px;
  }
}

.post.first-post {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.post.last-post {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
}

.col-user {
  .avatar {
    margin: 5px 0 10px 0;
  }

  p {
    font-size: 11px;
    color: $gray;
    margin: 0;
    padding: 2px 0;

    strong {
      width: 40%;
      display: inline-block;
      font-weight: normal;

      @media screen and (max-width: $screen-lg) {
        display: block;
        width: 100%;
      }
    }

    small {
      color: $gray-light;
    }
  }

  h5 {
    margin: 0;
    font-weight: bold;
    padding-left: 18px;
    position: relative;
    font-family: Arial, sans-serif;

    a {
      color: $link-color-darker;
    }

    &:before {
      @include font-awesome($fa-var-user);
      color: $text-color;
      left: 0;
      font-weight: normal;
    }
  }

  h5.offline {
    &:before {
      color: $gray-light;
    }
  }
}

.col-time {
  font-size: 11px;

  small a {
    color: $gray-light;
  }

  .post-link {
    color: $gray;
    margin-right: 3px;
    display: inline-block;
  }
}

.col-body {
  vertical-align: top;
  line-height: 1.3em;
  overflow: hidden;
}

.col-vote {
  width: 50px;
  vertical-align: top;
  float: right;
  line-height: 120%;
}

#col-toggle {
  background-color: #fff;

  a {
    margin: 2px auto 2px auto;
    display: block;
    width: 67px;
    height: 5px;

    span {
      display: block;
      height: 1px;
      border-radius: 1px;
      background-color: $gray-light;
    }

    span + span {
      margin-top: 1px;
    }
  }

}

// Ikony do zarzadzania pod spodem postu
// -------------------------------------

.col-bottom {
  background-color: #ececec;

  .btn-sub, .btn-share, .btn-comment, .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del {
    color: $text-color;
    opacity: .9;
    border: 1px solid transparent;

    &:hover {
      opacity: 1;
      border-color: $border-color;
    }

    i {
      font-size: $font-size-base;
    }
  }

  .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del {
    float: right;
  }

  .active {
    border-color: $gray;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    opacity: 1;

    &:hover {
      border: 1px solid $gray !important;
    }
  }

  .btn-multi-quote {
    border-left: 1px solid $border-color;
    margin-right: 5px;
  }
}

.col-end {
  background-color: #dedddd;
}

// Tresc posta wraz z ikonami do glosowania, stopka czy komentarzami
// ------------------------------------------------------------------

.post-content {
  min-height: 50px;
  word-wrap: break-word;
  line-height: 139%;
  overflow: hidden;

  a {
    color: $link-color-darker;
  }

  hr {
    margin: 15px 0 5px 0;
    border-top-color: darken($gray-lighter, 10%);
    width: 25%;
  }

  footer {
    color: $gray-light;
    font-size: 90%;
    background: transparent;
  }
}

.edit-info {
  font-size: 11px;
  padding: 5px 0;
  margin-top: 15px;
  color: $text-color;

  a {
    color: $text-color;
  }
}

.vote-count, .vote-up, .vote-accept {
  color: lighten($gray-light, 10%);

  width: 36px;
  text-align: center;
  display: block;
}

.vote-up, .vote-accept {
  font-size: 18px;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.vote-count {
  font-size: 26px;
  margin: 5px 0 15px 0;
  line-height: 120%;
}

.vote-up {

}

.vote-accept {
  margin-top: 10px;
}

div.tooltip-inner {
  font-size: 11px;
}

// Komentarze na forum
// -----------------------

.comments {
  margin: 15px 0 5px 25px;
  font-family: Tahoma,sans-serif;
  font-size: 11px;

  a {
    color: $link-color-darker;
  }

  .btn-edit, .btn-del {
    padding: 0 5px;
    color: $gray;
    display: none;
  }

  > div {
    border-bottom: 1px dotted $border-color;
    padding: 5px 0 5px 10px;
    margin-top: 1px;
    position: relative;

    &:first-child {
      border-top: 1px dotted $border-color;
    }

    &:before {
      content: "▪";
      left: 0;
      position: absolute;
    }

    .timestamp {
      color: $gray-light;

      &:hover {
        color: $alt-link-hover-color;
      }
    }

    .user-name:hover {
      text-decoration: none;
    }

    .author {
      background-color: $gray-lighter;
    }

    &:hover {
      .btn-edit, .btn-del {
        display: inline-block;
      }
    }
  }

  form {
    margin-top: 10px;
  }
}

// Formularz szybkiej odpowiedzi
// ----------------------------------------------------------

#box-quick-form {
  margin-bottom: 18px;

  textarea {
    width: 100%;
    height: 50px;
  }
}