@charset "UTF-8";

#box-post {
  margin-top: 5px;
}

// Wyswietlanie tagow przypisanych do danego watku
// --------------------------------------------------

#box-topic-tags {
  border: 1px solid $border-color;
  background-color: $body-bg;
  float: left;
  border-radius: 3px;
  padding: 3px 10px 3px 30px;
  position: relative;

  &:after {
    @include font-awesome($fa-var-tags);
    left: 8px;
    top: 6px;
  }

  ul.tag-clouds {
    margin: 0;
    padding: 0;

    a {
      margin: 0 5px 0 0;
    }
  }
}

// "Kontener" dla posta
// --------------------------------------------------

.post {
  background-color: #fff;
  border: 1px solid $border-color;

  > div > div.row {
    border-bottom: 1px solid $border-color;
    margin: 0;
  }

  > div > div.row:nth-child(even) {
    background-color: #fafafa;
  }

  div[class*="col-"] {
    padding: 5px;
  }

  // w przypadku gdy post jest usuniety wyswietlamy go na pol-przezroczystym tle
  .deleted {
    opacity: .6;
  }
}

.post-delete {
  color: $alert-warning-text;
  background-color: $alert-warning-bg;
  padding: 4px 10px;
  font-size: 11px;
  border-bottom: 1px solid $alert-warning-border;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

#first-post {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

#last-post {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
}

.col-user {
  .avatar {
    margin: 5px 0 10px 0;
  }

  p {
    font-size: 11px;
    color: $gray;
    margin: 0;
    padding: 2px 0;

    strong {
      width: 40%;
      display: inline-block;
      font-weight: normal;

      @media screen and (max-width: $screen-lg) {
        display: block;
        width: 100%;
      }
    }

    small {
      color: $gray-light;
    }
  }

  h5 {
    margin: 0;
    font-weight: bold;
    padding-left: 18px;
    position: relative;
    font-family: Arial, sans-serif;
    color: $gray;

    &:before {
      @include font-awesome($fa-var-user);
      color: $link-color-darker;
      left: 0;
      font-weight: normal;
    }

    a {
      color: $link-color-darker;
    }
  }

  h5.offline {
    &:before {
      color: $gray-light;
    }
  }
}

.col-time {
  font-size: 11px;

  small a {
    color: $gray-light;
  }

  .post-link {
    color: $gray;
    margin-right: 3px;
    display: inline-block;
  }
}

.col-body {
  vertical-align: top;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
}

.col-vote {
  width: 50px;
  vertical-align: top;
  float: right;
  line-height: 120%;
  height: 100%;
  position: absolute;
  right: 0;
}

#col-toggle {
  background-color: #fff;

  a {
    margin: 2px auto 2px auto;
    display: block;
    width: 67px;
    height: 5px;

    span {
      display: block;
      height: 1px;
      border-radius: 1px;
      background-color: $gray-light;
    }

    span + span {
      margin-top: 1px;
    }
  }

}

// Ikony do zarzadzania pod spodem postu
// -------------------------------------

.col-bottom {
  background-color: #ececec;

  .btn-sub, .btn-share, .btn-comment, .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del, .btn-res {
    color: $text-color;
    opacity: .9;
    border: 1px solid transparent;

    &:hover {
      opacity: 1;
      border-color: $border-color;
    }

    i {
      font-size: $font-size-base;
    }
  }

  .btn-report, .btn-quote, .btn-multi-quote, .btn-edit, .btn-fast-edit, .btn-del, .btn-res {
    float: right;
  }

  .active {
    border-color: $gray;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    opacity: 1;

    &:hover {
      border: 1px solid $gray !important;
    }
  }

  .btn-multi-quote {
    border-left: 1px solid $border-color;
    margin-right: 5px;
  }
}

.col-end {
  background-color: #dedddd;
}

// Tresc posta wraz z ikonami do glosowania, stopka czy komentarzami
// ------------------------------------------------------------------

.post-content {
  min-height: 89px;
  word-wrap: break-word;
  line-height: 139%;
  overflow: hidden;
  padding-right: 50px;

  a {
    color: $link-color-darker;
  }

  hr {
    margin: 15px 0 5px 0;
    border-top-color: darken($gray-lighter, 10%);
    width: 25%;
  }

  footer {
    color: $gray-light;
    font-size: 90%;
    background: transparent;
  }
}

.edit-info {
  font-size: 11px;
  padding: 5px 0;
  margin-top: 15px;
  color: $text-color;

  a {
    color: $text-color;
  }
}

.vote-count, .vote-up, .vote-accept {
  color: lighten($gray-light, 10%);

  width: 36px;
  text-align: center;
  display: block;
}

.vote-up, .vote-accept {
  font-size: 18px;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.vote-count {
  font-size: 26px;
  margin: 5px 0 15px 0;
  line-height: 120%;
}

.vote-up {

}

.vote-accept {
  margin-top: 10px;
}

div.tooltip-inner {
  font-size: 11px;
}

// Komentarze na forum
// -----------------------

.comments {
  margin: 15px 0 5px 25px;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
  padding-right: 50px;

  a {
    color: $link-color-darker;
  }

  .btn-comment-edit, .btn-comment-del {
    padding: 0 5px;
    color: $gray;
    display: none;
  }

  > div {
    border-bottom: 1px dotted $border-color;
    padding: 5px 0 5px 10px;
    margin-top: 1px;
    position: relative;

    &:first-child {
      border-top: 1px dotted $border-color;
    }

    &:before {
      content: "▪";
      left: 0;
      position: absolute;
    }

    .timestamp {
      color: $gray-light;

      &:hover {
        color: $alt-link-hover-color;
      }
    }

    .user-name:hover {
      text-decoration: none;
    }

    .author {
      background-color: $gray-lighter;
    }

    &:hover {
      .btn-comment-edit, .btn-comment-del {
        display: inline-block;
      }
    }
  }

  .btn-show-all {
    color: $gray;
    font-size: 12px;
    padding: 2px 0 8px 1px;
    display: inline-block;

    &:hover {
      text-decoration: none;
      color: $alt-link-hover-color;
    }
  }

  form {
    overflow: hidden;
  }

  // dodatkowy margines dla formularza dodawania nowego komentarza (nie tego ktory edytujemy)
  > form {
    margin-top: 10px;
  }

  textarea {
    padding: 4px 5px;
    margin-bottom: 5px;
  }
}

// Formularz szybkiej odpowiedzi
// ----------------------------------------------------------

#box-quick-form {
  margin-bottom: 18px;

  textarea {
    height: 50px;
  }
}